{exp:channel:entries channel="ads" url_title="{embed:adId}" limit="1" status="Open" dynamic="off"}
{if ad_source == 'AdSense'}
<!-- banner 1 -->
<script type='text/javascript'>
<!--// <![CDATA[
  /* [id2] IntranetUPC_dashboard_columna1_pos1 */
  OA_show({ad_module_id}); 
  // ]]> 
  </script><noscript><a target='_blank' 
  href='http://ads.upc.pe/delivery/ck.php?n={ad_id}'><img border='0' alt=''
  src='http://ads.upc.pe/delivery/avw.php?zoneid=2&amp;n={ad_id}' /></a>
  </noscript>
<!-- banner 1 -->
{if:else}
  <a href="{ad_link}" target="_blank">
      {exp:channel_images:images entry_id="{entry_id}" limit="1"}
          <img class="img-responsive margin-auto"  src="{image:locked_url}" alt="{image:title}">
    {/exp:channel_images:images}
  </a>
{/if}
{/exp:channel:entries}