    <div class="row pb-21 msge-row">
      <div class="hidden-sm hidden-xs col-md-0-5"></div>
      <div class="col-sm-12 col-xs-12 col-md-11">
{if 'FC' == '{exp:webservices:get_modalidad_alumno}'}
      {exp:channel:entries channel="avisos_dashboard" orderby="date" sort="desc" " limit="3" disable="member_data" dynamic="off" category="22"}
       
       <div class="msge-container clearfix mb-14" style="background:#{color_de_fondo}!important; color:#{color_de_texto}!important;" >
            <style>
              .msge-container a {
                color:#{color_de_texto}!important;
              }
              /**/
            </style>
            <div class="col-xs-11 col-sm-11 col-sm-offset-0 msge-text" >
              <div class="col-xs-2 col-sm-1 p-14 ">
                <img class="img-center" src="{site_url}assets/img/bell_sm.png" alt="">
              </div>
              <div class="col-xs-10 col-sm-11 p-14">
                <span class="zizou-bold-16 ">{title}:&nbsp;</span><span class="helvetica-16">{mensaje_aviso_dashboard}</span>
              </div>
            </div>
            <div class="col-xs-1 col-sm-0-5 pull-right pt-3 pr-14">
              <div class="msge-row-x clickeable text-right helvetica-16">X
              </div>
            </div>
        </div>
      
      {/exp:channel:entries}
  {if:elseif 'AC' == '{exp:webservices:get_modalidad_alumno}'}
      {exp:channel:entries channel="avisos_dashboard" orderby="date" sort="desc" " limit="3" disable="member_data" dynamic="off" category="20"}
       
       <div class="msge-container clearfix mb-14" style="background:#{color_de_fondo}!important; color:#{color_de_texto}!important;" >
            <style>
              .msge-container a {
                color:#{color_de_texto}!important;
              }
              /**/
            </style>
            <div class="col-xs-11 col-sm-11 col-sm-offset-0 msge-text" >
              <div class="col-xs-2 col-sm-1 p-14 ">
                <img class="img-center" src="{site_url}assets/img/bell_sm.png" alt="">
              </div>
              <div class="col-xs-10 col-sm-11 p-14">
                <span class="zizou-bold-16 ">{title}:&nbsp;</span><span class="helvetica-16">{mensaje_aviso_dashboard}</span>
              </div>
            </div>
            <div class="col-xs-1 col-sm-0-5 pull-right pt-3 pr-14">
              <div class="msge-row-x clickeable text-right helvetica-16">X
              </div>
            </div>
        </div>
      
      {/exp:channel:entries}
{/if}
     </div>
    </div>