            <div class="row">
              <div class="col-sm-6">
                <div class="panel">
                  <div class="panel-head">
                    <div class="panel-head-left">
                      <div class="panel-title-x2">
                        <h1>Mis Pagos</h1>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="panel-body-head">
                      <h5>Próxima boleta</h5>
                    </div>
                    <div class="panel-table">
                      <ul class="tr">
                        <li class="col-xs-12">
                          <div class="text-center">
                            <div class="ocultar text-muted"><h1>X</h1></div>
                            <h1>3333.00</h1>
                            <h3>17 días - 25/12/14</h3>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="panel">
                  <div class="panel-head">
                    <div class="panel-head-left">
                      <div class="panel-title">
                      </div>
                    </div>
                    <div class="panel-head-right pt-14 pb-7">
                      <div class="panel-scroll"><a href="#">up</a><a href="#">down</a></div>
                      <div class="panel-display"><a href="#">ojo</a></div>
                    </div>
                  </div>
                  <div class="panel-body pago-b">
                    <div class="panel-body-head">
                      <h5>Próxima boleta</h5>
                    </div>
                    <div class="panel-table">
                      <ul class="tr">
                        <li class="col-xs-12">
                          <div class="text-center">
                            <div class="ocultar text-muted"><h1>X</h1></div>
                            <h1>3333.00</h1>
                            <h3>17 días - 25/12/14</h3>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>