        <div class="col-sm-6 bg-muted">
          <div class="row">
            <div class="col-sm-3"><h3>Noticias</h3></div>
            <div class="col-sm-6"></div>
            <div class="col-sm-3">
              <a class="left carousel-control" href="#carousel-example" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span></a>
              <a class="right carousel-control" href="#carousel-example" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div id="carousel-example" class="carousel slide" data-ride="carousel">
                 <div class="carousel-inner">
                  <div class="item active">
                      <div class="carousel-content">
                          <div class="row">
                            <div class="col-sm-4"><h1>foto-a</h1></div>
                            <div class="col-sm-8">
                              <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <div class="carousel-content">
                          <div class="row">
                            <div class="col-sm-4"><h1>foto-b</h1></div>
                            <div class="col-sm-8">
                              <p>This is a twitter bootstrap carousel that only uses text. There are no images in the carousel slides.</p>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>