            <div class="panel">
              <div class="panel-head">
                <div class="panel-head-left">
                  <div class="panel-title">
                    <h1>Mis cursos</h1>
                  </div>
                </div>
                <div class="panel-head-right pt-14">
                  <div class="panel-scroll"><a href="#">up</a><a href="#">down</a></div>
                  <div class="panel-display"><a href="#">ojo</a></div>
                </div>
              </div>
              <div class="panel-body">
                <div class="panel-body-head-table">
                  <ul class="tr">
                    <li class="col-xs-8">
                      <div class=""><span class="curso">Curso</span></div>
                    </li>
                    <li class="col-xs-2">
                      <div class=""><span>Faltas</span></div>
                    </li>
                    <li class="col-xs-2">
                      <div class=""><span>Promedio</span></div>
                    </li>
                  </ul>
                </div>  
                <div class="panel-table">
                  <ul class="tr mis-cursos-row">
                    <li class="col-xs-8 whole-cell-height">
                      <span>Planificación de Estructuras</span>
                    </li>
                    <li class="col-xs-2 whole-cell-height">
                      <span>2/4</span>
                    </li>
                    <li class="col-xs-2 whole-cell-height">
                      <span>15.35</span>
                    </li>
                  </ul>
                  <ul class="tr mis-cursos-row">
                    <li class="col-xs-8 whole-cell-height">
                      <span>Procesos de Manufactura y Tecnología de Materiales 2</span>
                    </li>
                    <li class="col-xs-2 whole-cell-height">
                      <span>2/4</span>
                    </li>
                    <li class="col-xs-2 whole-cell-height">
                      <span>15.35</span>
                    </li>
                  </ul>
                  <ul class="tr mis-cursos-row">
                    <li class="col-xs-8 whole-cell-height">
                      <span>Bioquímica Avanzada Contemporánea 2</span>
                    </li>
                    <li class="col-xs-2 whole-cell-height">
                      <span>2/4</span>
                    </li>
                    <li class="col-xs-2 whole-cell-height">
                      <span>15.35</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>