<div class="panel mt-21">
  <div class="panel-head">
    <div class="panel-head-left">
      <div class="panel-title">
        <h2>Noticias</h2>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-body-head-table">
      <ul class="tr">
        <li class="col-xs-12">
          <div><span>Lunes 14 de Octubre de 2014</span></div>
        </li>
      </ul>
    </div>
    <div class="panel-table noticias-content">
      <ul class="tr">
        <li class="col-xs-12">
          <div>
            {exp:channel:entries channel="noticias" limit="1"}
            <p class="noticia-heading zizou-20">{title}</p>
            <p class="noticia-body helvetica-12">{intro-noticia}</p>
            <p class="keep-reading zizou-18"><img class="pr-7" src="/assets/img/skyblue_arrow.png">Seguir Leyendo</p>
            {/exp:channel:entries}
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>                    
