<div class="panel mt-21 hidden-xs hidden-sm">
      <div class="panel-head bg-muted">
        <div class="panel-head left">
            <div class="panel-title">
              <h3>Accesos Rápidos</h3>
            </div>
            <div class="panel-title-line"></div>
        </div>
      </div>
         <div class="panel-body">
             <div class="panel-table pb-14">
                 <ul class="tr">
            {exp:channel:entries channel="accesos_rapidos" limit="5" category="105"}
              <li class="bg-muted pl-7 pb-0">
                  <a id="lnk_ext_{title}" class="sb-link" target="_blank" href="{acceso_rapido_link}">
                      <div class="arrow-icon info mt-7" style="border:none"></div>
                      <div class="zizou-18 borderless">{title}</div>
                  </a>
              </li>
             {/exp:channel:entries}   
          </ul>
        </div>
      </div>   
    </div>