        <div class="panel">
          <div class="panel-head bg-muted mt-14">
            <div class="panel-head-left">
              <div class="panel-head-wrap">
                <div class="panel-title">
                  <h2>Mis Reservas</h2>
                </div>
              </div>
            </div>
            <div class="panel-head-right pt-7">
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table white">
              <ul class="tr">
                <li class="col-sm-2">
                  <div class="fecha"><span>Fecha</span></div>
                </li>
                <li class="col-sm-2">
                  <div><span>Hora</span></div>
                </li>
                <li class="col-sm-6">
                  <div><span>Recurso</span></div>
                </li>
                <li class="col-sm-2">
                  <div><span>Campus</span></div>
                </li>
              </ul>
            </div> 
            {exp:webservices:listado_recursos_reservados_alumno}
          </div>
        </div> 