        <div class="panel">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Mis cursos</h2>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-8">
                  <div><span>Curso</span></div>
                </li>
                <li class="col-sm-2">
                  <div class=""><span>Sección</span></div>
                </li>
                <li class="col-sm-2">
                  <div class=""><span>Alumnos</span></div>
                </li>
              </ul>
            </div>  
            <div class="panel-table no-bg">
              {exp:webservices:lista_cursos_dictados_profesor}
            </div>
          </div>
        </div>