     <div class="panel mt-21">
      <div class="panel-head bg-muted">
        <div class="panel-head-left">
          <div class="panel-head-wrap">
            <div class="panel-title">
              <h2>Accesos Rápidos</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="panel-table">
          <ul class="tr">
            <a class="sb-link" href="">
              <li class="bg-muted p-7 mb-7">
                <span class="zizou-14"><img class="pr-7" src="{site_url}/assets/img/skb_arrow.png" alt="">Reserva de libros</span>
              </li>
            </a>
            <a class="sb-link" href="">
              <li class="bg-muted p-7 mb-7">
                <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/skb_arrow.png">Ir a la Biblioteca Virtual</span>
              </li>
            </a>
            <a class="sb-link" href="">
              <li class="bg-muted p-7 mb-7">
                <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/skb_arrow.png">Ir a Convenios Internacionales</span>
              </li>
            </a>
            <a class="sb-link" href="">
              <li class="bg-muted p-7 mb-7">
                <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/skb_arrow.png">Ir a Tienda UPC</span>
              </li>
            </a>
          </ul>
        </div>
      </div>   
    </div>