  <div class="panel">
    <div class="panel-head">
      <div class="panel-head-left">
        <div class="panel-title">
          <h2>Mis cursos</h2>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="panel-body-head-table red">
        <ul class="tr">
          <li class="col-sm-8">
            <div class=""><span>Curso</span></div>
          </li>
          <li class="col-sm-2">
            <div class=""><span>Faltas</span></div>
          </li>
          <li class="col-sm-2">
            <div class=""><span>Promedio</span></div>
          </li>
        </ul>
      </div>  
      <div class="panel-table mis-cursos-content no-bg" id="miscursos">
        {exp:webservices:padre_inasistencias_alumno codigo_alumno="{embed:codigo_alumno}"}
      </div>
    </div>
  </div>