
  <div class="panel-body">
    <div class="panel-body-head-table white">
      <ul class="tr">
        <li class="col-xs-12">
          <div><span>Próxima boleta</span></div>
        </li>
        <!--<li class="col-xs-4">
          <div><span>Boleta vencida</span></div>
        </li>-->
      </ul>
    </div>
    <div class="panel-table pagos">
      <ul class="tr">
        <li class="col-sm-12 text-center">
          <img src="{site_url}assets/img/pago_grey.png" class="inline-block">
          {exp:webservices:padre_proxima_boleta_alumno}
        </li>
        <!--<li class="col-sm-4 text-center">
          <img src="/assets/img/pago_red.png" class="inline-block">
          <span class="monto-1">S/.1958.20</span>
          <span class="vcto-1">Desde el 24/02/2015</span>
        </li>-->
      </ul>
    </div>
  </div>
