  <div class="panel">
    <div class="panel-head">
      <div class="panel-title">
        <h2>Mis Cursos</h2>
      </div>
      <a href=""><div class="panel-head-link danger"></div></a>
      <div class="panel-title-line"></div>
    </div>
    <div class="panel-body">
      <div class="panel-body-head-table white">
        <ul class="tr">
          <li class="col-xs-8">
            <div class="pl-7"><span class="text-left">Curso</span></div>
          </li>
          <li class="col-xs-2">
            <div class=""><span>Faltas</span></div>
          </li>
          <li class="col-xs-2">
            <div class=""><span>Promedio</span></div>
          </li>
        </ul>
      </div>  
      <div class="panel-table mis-cursos-content" id="miscursos">
        {exp:webservices:inasistencias_alumno}
      </div>
      </div>
  </div>
            