     <div class="panel mt-21">
      <div class="panel-head bg-muted">
        <div class="panel-head left">
            <div class="panel-title">
              <h2>Accesos Rápidos</h2>
            </div>
            <div class="panel-title-line"></div>
        </div>
      </div>
      <div class="panel-body">
        <div class="panel-table pb-14">
          <ul class="tr">
            <a class="sb-link" target="_blank" href="http://biblio.upc.edu.pe/SIGSI/reserva/reserapi.asp">
              <li class="bg-muted pl-7 pb-0">
                <div class="arrow-icon info"></div>
                <div class="zizou-18 quick-access">Reserva de libros</div>
              </li>
            </a>
            <a class="sb-link" target="_blank" href="http://ci.upc.edu.pe/0/centro-informacion.aspx/acerca-de-las-colecciones/biblioteca-virtual">
              <li class="bg-muted pl-7 pb-0">
                <div class="arrow-icon info"></div>
                <div class="zizou-18 quick-access">Ir a la Biblioteca Virtual</div>
              </li>
            </a>
            <a class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=402">
              <li class="bg-muted pl-7 pb-0">
                <div class="arrow-icon info"></div>
                <div class="zizou-18 quick-access">Ir a Convenios Internacionales</div>
              </li>
            </a>
            <a class="sb-link" target="_blank" href="http://tienda.upc.edu.pe/">
              <li class="bg-muted pl-7 pb-0">
                <div class="arrow-icon info"></div>
                <div class="zizou-18 quick-access">Ir a Tienda UPC</div>
              </li>
            </a>
          </ul>
        </div>
      </div>   
    </div>