  <div class="panel-title left">  
    <h3 class="serif-book">Resultados:
      {if embed:coded=='81'}
      	LOSA 1
      {/if} 
      {if embed:coded=='82'}
      	LOSA 2
      {/if} 	                    
      {if embed:coded=='121'}
      	CANCHA DE FUTBOL
      {/if} 
      {if embed:coded=='161'}
      	LOSA 1 VILLA
      {/if} 
      {if embed:coded=='162'}
      	LOSA 2 VILLA
      {/if} 
      {if embed:coded=='181'}
      	GIMNASIO VILLA
      {/if} 
      {if embed:coded=='183'}
      	CARRIL 1
      {/if} 
      {if embed:coded=='184'}
      	CARRIL 2
      {/if} 
      {if embed:coded=='185'}
      	CARRIL 3
      {/if} 
      {if embed:coded=='186'}
      	CARRIL 4
      {/if} 
      {if embed:coded=='187'}
      	CARRIL 5
      {/if} 
      {if embed:coded=='188'}
      	CARRIL 6
      {/if} 
      {if embed:coded=='189'}
      	CARRIL 7
      {/if} 
      {if embed:coded=='190'}
      	CARRIL 6
      {/if} 
      en  
      {if embed:codsede=='L'}
         COMPLEJO LOS ALAMOS
		{/if}
		{if embed:codsede=='R'}
		      CAMPUS VILLA
		{/if}	           	
    </h3>  
  </div>