	                    Estas {embed:tipo}
	                    {if embed:coded=='81'}
	                    	la LOSA 1
	                    {/if} 
	                    {if embed:coded=='82'}
	                    	la LOSA 2
	                    {/if} 	                    
	                    {if embed:coded=='121'}
	                    	la CANCHA DE FUTBOL
	                    {/if} 
	                    {if embed:coded=='161'}
	                    	la LOSA 1 VILLA
	                    {/if} 
	                    {if embed:coded=='162'}
	                    	la LOSA 2 VILLA
	                    {/if} 
	                    {if embed:coded=='181'}
	                    	el GIMNASIO VILLA
	                    {/if} 
	                    {if embed:coded=='183'}
	                    	el CARRIL 1
	                    {/if} 
	                    {if embed:coded=='184'}
	                    	el CARRIL 2
	                    {/if} 
	                    {if embed:coded=='185'}
	                    	el CARRIL 3
	                    {/if} 
	                    {if embed:coded=='186'}
	                    	el CARRIL 4
	                    {/if} 
	                    {if embed:coded=='187'}
	                    	el CARRIL 5
	                    {/if} 
	                    {if embed:coded=='188'}
	                    	el CARRIL 6
	                    {/if} 
	                    {if embed:coded=='189'}
	                    	el CARRIL 7
	                    {/if} 
	                    {if embed:coded=='190'}
	                    	el CARRIL 6
	                    {/if} 
	                    en  
	                    {if embed:codsede=='L'}
												el COMPLEJO LOS ALAMOS
											{/if}
											{if embed:codsede=='R'}
												el CAMPUS VILLA
											{/if}	