  </div> <!-- site wrapper  -->
  
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="{site_url}js/app/vendor/jquery-ui.js"></script>
  <script src="{site_url}js/app/vendor/datepicker-es.js"></script>
  <script src="{site_url}js/app/vendor/jquery.slicknav.min.js"></script>
  <script src="{site_url}js/b3/transition.js"></script>
  <script src="{site_url}js/b3/dropdown.js"></script>
  <script src="{site_url}js/b3/collapse.js"></script>
  <script src="{site_url}js/app/src/dashboard.js"></script>
  <script src="{site_url}js/app/vendor/wurfl.js"></script>
  <script src="{site_url}js/app/src/insert-script.js"></script>
  <script src="{site_url}js/app/vendor/velocity.min.js"></script>
  <script src="{site_url}js/app/src/notas-detalladas.js"></script>
  <script src="{site_url}js/app/src/reservas.js"></script>
  {if segment_1 == 'dashboard'}
  <script src="{site_url}js/app/src/session_expired.js"></script>
  {/if}
  {if segment_2 == 'salir'}
  <script src="{site_url}js/app/src/cssrefresh.js"></script>
  {/if}
	<script>
		$( document ).ready(function() {
		    $('#sede-L').hide();
		    $('#sede-L').attr('name', 'CodED1');
		    $('#sede-R').hide();
		    $('#sede-R').attr('name', 'CodED2');
		    $('#actividad-81').hide();
		    $('#actividad-81').attr('name','CodActiv0');
		    $('#actividad-82').hide();
		    $('#actividad-82').attr('name','CodActiv1');
		    $('#actividad-101').hide();
		    $('#actividad-101').attr('name','CodActiv2');
		    $('#actividad-121').hide();
		    $('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-161').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-162').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-181').hide();
		    $('#actividad-181').attr('name','CodActiv6');
		    $('#actividad-183').hide();
		    $('#actividad-183').attr('name','CodActiv7');
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');
		});		
		
		$('#CodSede').change(function(){
			if($('#CodSede').val()=='L') { 
		  	$('#sede-L').show();
		  	$('#sede-L').attr('name', 'CodED');
		  	$('#sede-R').hide();
		  	$('#sede-R').attr('name', 'CodED2');
		    $('#actividad-121').hide();
		    $('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-161').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-162').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-181').hide();
		    $('#actividad-181').attr('name','CodActiv6');		  	
		    $('#actividad-183').hide();
		    $('#actividad-183').attr('name','CodActiv7');
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');		  	
		  }
			if($('#CodSede').val()=='R') { 
		  	$('#sede-R').show();
		  	$('#sede-R').attr('name', 'CodED');
		  	$('#sede-L').hide();
		  	$('#sede-L').attr('name', 'CodED1');
		    $('#actividad-81').hide();
		    $('#actividad-81').attr('name','CodActiv0');
		    $('#actividad-82').hide();
		    $('#actividad-82').attr('name','CodActiv1');
		    $('#actividad-101').hide();		  	
		    $('#actividad-101').attr('name','CodActiv2');
		  }	 	  		   	  	
		});
		
		$('#sede-L').change(function() {
			if($('#sede-L').val()=='81') { 
		  	$('#actividad-81').show();
		  	$('#actividad-81').attr('name','CodActiv');
		    $('#actividad-82').hide();
		    $('#actividad-82').attr('name','CodActiv1');
		    $('#actividad-101').hide();
		    $('#actividad-101').attr('name','CodActiv2');		  	
		  }	
			if($('#sede-L').val()=='82') { 
		  	$('#actividad-82').show();
		  	$('#actividad-82').attr('name','CodActiv');
		    $('#actividad-81').hide();
		    $('#actividad-81').attr('name','CodActiv1');
		    $('#actividad-101').hide();	
		    $('#actividad-101').attr('name','CodActiv2');	  	
		  }	
			if($('#sede-L').val()=='101') { 
		  	$('#actividad-101').show();
		  	$('#actividad-101').attr('name','CodActiv');
		    $('#actividad-81').hide();
		    $('#actividad-81').attr('name','CodActiv1');
		    $('#actividad-82').hide();
		    $('#actividad-82').attr('name','CodActiv2');		  	
		  }			  		  						
		});
		
		$('#sede-R').change(function() {
			if($('#sede-R').val()=='121') { 
		  	$('#actividad-121').show();
		  	$('#actividad-121').attr('name','CodActiv');
		    $('#actividad-161').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-162').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-181').hide();
		    $('#actividad-181').attr('name','CodActiv6');			  	
		    $('#actividad-183').hide();
		    $('#actividad-183').attr('name','CodActiv7');
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }	
			if($('#sede-R').val()=='161') { 
		  	$('#actividad-161').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv');
		    $('#actividad-162').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-181').hide();
		    $('#actividad-181').attr('name','CodActiv6');			  	
		    $('#actividad-183').hide();
		    $('#actividad-183').attr('name','CodActiv7');
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();	
		    $('#actividad-190').attr('name','CodActiv14');		  	
		  }	
			if($('#sede-R').val()=='162') { 
		  	$('#actividad-162').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv');
		    $('#actividad-181').hide();	
		    $('#actividad-181').attr('name','CodActiv6');		  	
		    $('#actividad-183').hide();
		    $('#actividad-183').attr('name','CodActiv7');
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();	
		    $('#actividad-190').attr('name','CodActiv14');		  	
		  }	
			if($('#sede-R').val()=='181') { 
		  	$('#actividad-181').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();	
		    $('#actividad-181').attr('name','CodActiv');	  	
		    $('#actividad-183').hide();
		    $('#actividad-183').attr('name','CodActiv7');
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }			  		  		  
			if($('#sede-R').val()=='183') { 
		  	$('#actividad-183').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();	
		    $('#actividad-183').attr('name','CodActiv');	  	
		    $('#actividad-184').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }			  	  		  
			if($('#sede-R').val()=='184') { 
		  	$('#actividad-184').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();	
		    $('#actividad-183').attr('name','CodActiv7');	  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv');
		    $('#actividad-185').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }			  					
			if($('#sede-R').val()=='185') { 
		  	$('#actividad-185').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();
		    $('#actividad-183').attr('name','CodActiv7');		  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-184').hide();
		    $('#actividad-185').attr('name','CodActiv');
		    $('#actividad-186').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }			  	
			if($('#sede-R').val()=='186') { 
		  	$('#actividad-186').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();	
		    $('#actividad-183').attr('name','CodActiv7');	  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-184').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-185').hide();
		    $('#actividad-186').attr('name','CodActiv');
		    $('#actividad-187').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();	
		    $('#actividad-190').attr('name','CodActiv14');		  	
		  }			  
			if($('#sede-R').val()=='187') { 
		  	$('#actividad-187').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();
		    $('#actividad-183').attr('name','CodActiv7');		  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-184').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-185').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-186').hide();
		    $('#actividad-187').attr('name','CodActiv');
		    $('#actividad-188').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }			  
			if($('#sede-R').val()=='188') { 
		  	$('#actividad-188').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();	
		    $('#actividad-183').attr('name','CodActiv7');	  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-184').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-185').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-186').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-187').hide();
		    $('#actividad-188').attr('name','CodActiv');
		    $('#actividad-189').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-190').hide();
		    $('#actividad-190').attr('name','CodActiv14');			  	
		  }			  
			if($('#sede-R').val()=='189') { 
		  	$('#actividad-189').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();	
		    $('#actividad-183').attr('name','CodActiv7');	  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-184').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-185').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-186').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-187').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-188').hide();
		    $('#actividad-189').attr('name','CodActiv');
		    $('#actividad-190').hide();	
		    $('#actividad-190').attr('name','CodActiv14');		  	
		  }			  
			if($('#sede-R').val()=='190') { 
		  	$('#actividad-190').show();
		  	$('#actividad-121').attr('name','CodActiv3');
		    $('#actividad-121').hide();
		    $('#actividad-161').attr('name','CodActiv4');
		    $('#actividad-161').hide();
		    $('#actividad-162').attr('name','CodActiv5');
		    $('#actividad-162').hide();
		    $('#actividad-181').attr('name','CodActiv6');	
		    $('#actividad-181').hide();	
		    $('#actividad-183').attr('name','CodActiv7');	  	
		    $('#actividad-183').hide();
		    $('#actividad-184').attr('name','CodActiv8');
		    $('#actividad-184').hide();
		    $('#actividad-185').attr('name','CodActiv9');
		    $('#actividad-185').hide();
		    $('#actividad-186').attr('name','CodActiv10');
		    $('#actividad-186').hide();
		    $('#actividad-187').attr('name','CodActiv11');
		    $('#actividad-187').hide();
		    $('#actividad-188').attr('name','CodActiv12');
		    $('#actividad-188').hide();
		    $('#actividad-189').attr('name','CodActiv13');
		    $('#actividad-189').hide();	
		    $('#actividad-190').attr('name','CodActiv');	  	
		  }			  		  
		});		
	</script>  

</html>