  
  </div> <!-- site wrapper  -->
  {if segment_1 != 'login' || segment_1 != '' }
  <script src="{site_url}js/b3/transition.js"></script>
  <script src="{site_url}js/b3/dropdown.js"></script>
  <script src="{site_url}js/b3/collapse.js"></script>
  <script src="{site_url}js/app/vendor/wurfl.js"></script>
  <script src="{site_url}js/app/src/insert-script.js.php?url='{site_url}'"></script>
  <script src="{site_url}js/app/vendor/velocity.min.js"></script>
  <script src="{site_url}js/app/src/large_sidebar.js"></script>
  {/if}
  <script src="{site_url}js/b3/modal.js"></script>
  <script src="{site_url}js/app/src/global.js?v=1.1"></script>
  <script src="{site_url}js/app/vendor/jquery.validate.min.js"></script>
  <script src="{site_url}js/app/vendor/sweetalert.min.js"></script>
  {if segment_1 == 'login' || segment_1 == '' }
  <script src="{site_url}js/app/src/login.js?v=1.5.3"></script>
  {/if}
  {if segment_1 == 'dashboard'}
  <script src="{site_url}js/app/src/session_expired.js.php?url='{site_url}'"></script>
  {/if}
  {if segment_1 == 'dashboard'}
  <script src="{site_url}js/app/src/dashboard.js?v=1.1"></script>
  {/if}
  {if segment_1 == 'mis-estudios' && segment_2 == 'notas-detalladas'}
  <script src="{site_url}js/app/vendor/smooth-scroll.min.js"></script>
  <script>
    smoothScroll.init();
  </script>
  {/if}
  {if segment_2 == 'salir'}
  <script src="{site_url}js/app/src/cssrefresh.js"></script>
  {/if}
  {if segment_1 == 'mis-reservas' || segment_1 == 'mis-reservas-docentes'}
  <script src="{site_url}js/app/vendor/jquery-ui.js"></script>
  <script src="{site_url}js/app/vendor/datepicker-es.js"></script>
	<!--[if !IE]> -->
  <script src="{site_url}js/app/vendor/bootstrap-select.min.js"></script>
	<!-- <![endif]-->
	<!--[if IE 9]>
  <script src="{site_url}js/app/vendor/bootstrap-select.min.js"></script>
	<![endif]-->
  <script src="{site_url}js/app/src/reservas.js?v=1.2"></script>
  {/if}
  <!--[if IE]>
  <script src="{site_url}js/app/src/ie.js"></script>
  <![endif]-->
  <!--[if IE 8]>
  <script src="{site_url}js/app/src/ie8.js"></script>
  <![endif]-->
  <!--[if IE 9]>
  <script src="{site_url}js/app/src/ie9.js"></script>
  <![endif]-->
  {if segment_1 == 'mis-reservas' || segment_1 == 'mis-reservas-docentes'}
	<script>

      $(".espacio").change(function() {
        var element = $(this).find("option:selected").val();
        
        $.ajax({
          type: 'POST',
          url: '{site_url}mis-reservas/test',
          data: {
            'element' : element
          },
          success: function(data) {
            $("#reglamento").html(data);
              var dictDays = {'Domingo': 0, 'Lunes':1,  'Martes': 2, 'Miercoles': 3, 'Jueves':4, 'Viernes':5, 'Sabado':6};
              var daysToDisable = [];
              var days = ($('#enabled-days').val().length > 0)? $('#enabled-days').val().split(', ') : [];
              var maxDays = ($('#max-days').val()>0)?$('#max-days').val():1;
              $.each(days, function(index, val){ daysToDisable.push(dictDays[val]);}) 

              function disableSpecificWeekDays(date) {
                  var day = date.getDay();
                  for (i = 0; i < daysToDisable.length; i++) {
                      if ($.inArray(day, daysToDisable) != -1) {
                          return [false];
                      }
                  }
                  return [true];
              }
              $('.datepicker').datepicker('destroy');
              $(".datepicker").datepicker({
                dateFormat : 'dd/mm/yy',
                minDate : new Date(),
                maxDate : '+'+maxDays+'D',
                beforeShowDay: disableSpecificWeekDays
              });
          }
        });
      });
	</script>
  {/if}
	<script>
     	if(window.addEventListener){
	 	window.addEventListener('load', function() {
        		var aCollection = document.getElementsByTagName("a");
        		for (var i = 0; i <= aCollection.length - 1; i++) {
          			var currentId = aCollection[i].id;
          			var newId = currentId.replace(/ /g, "");
          			aCollection[i].id = newId;
       			 };
      		});
	}else {
    		window.attachEvent("load", function(){
		 var aCollection = document.getElementsByTagName("a");
                        for (var i = 0; i <= aCollection.length - 1; i++) {
                                var currentId = aCollection[i].id;
                                var newId = currentId.replace(/ /g, "");
                                aCollection[i].id = newId;
                         };
		});

	}
    </script>
<script type="text/javascript" src={embed:extra}></script>

 </body> 
</html>
