
	<!-- jQuery -->
	<!-- <script src="{site_url}js/jquery/jquery.min.js"></script> -->

	<!-- B3 3.1.0 JavaScripts -->
	<!-- <script src="{site_url}js/b3/affix.js"></script> -->
	<!-- <script src="{site_url}js/b3/alert.js"></script> -->
	<!-- <script src="{site_url}js/b3/button.js"></script> -->
	<!-- <script src="{site_url}js/b3/carousel.js"></script> -->
	<!-- <script src="{site_url}js/b3/collapse.js"></script> -->
	<!-- <script src="{site_url}js/b3/dropdown.js"></script> -->
	<!-- <script src="{site_url}js/b3/modal.js"></script> -->
	<!-- <script src="{site_url}js/b3/scrollspy.js"></script> -->
	<!-- <script src="{site_url}js/b3/tab.js"></script> -->
	<!-- <script src="{site_url}js/b3/tooltip.js"></script> -->
	<!-- <script src="{site_url}js/b3/transition.js"></script> -->
	<!-- <script src="{site_url}js/b3/z_popover.js"></script> -->

	<!-- FDN 5 JavaScripts -->
	<!-- <script src="{site_url}js/fdn/foundation.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.abide.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.accordion.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.alert.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.clearing.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.dropdown.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.equalizer.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.interchange.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.joyride.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.magelian.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.offcanvas.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.orbit.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.reveal.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.slider.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.tab.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.tooltip.js"></script> -->
	<!-- <script src="{site_url}js/fdn/foundation.topbar.js"></script> -->

	<!-- APP CUSTOM JavaScripts -->
	<!-- <script src="{site_url}js/app/app.js"></script> -->

	</body>
</html>