						        <form action="{site_url}index.php/mis-reservas/resultados-reservas-recursos" method="post">
							        <input type="hidden" name="XID" value="{XID_HASH}" /> 
							        <div class="row">
								        <div class="col-sm-12">
									        <label>Código del Recurso</label>								        
									        <input type="text" name="CodRecurso" value="" placeholder="ejemplo: 30">
								        </div>
								        <div class="col-sm-12">
									        <label>Nombre del Recurso</label>								        
									        <input type="text" name="NomRecurso" value="" placeholder="ejemplo: CUB 08  (PISO 6)">
								        </div>

								        <div class="col-sm-12">
									        <label>Fecha Inicio</label>
													<input type="text" name="FecIni" value="" placeholder="yyyymmdd">	
								        </div>
								        <div class="col-sm-6">
									        <label>Hora Inicio</label>
									        <select name="HoraIni">
										        <option value="070000">7:00</option>
										        <option value="080000">8:00</option>
										        <option value="090000">9:00</option>
										        <option value="100000">10:00</option>
										        <option value="110000">11:00</option>
										        <option value="120000">12:00</option>
										        <option value="130000">13:00</option>		
										        <option value="140000">14:00</option>
										        <option value="150000">15:00</option>
										        <option value="160000">16:00</option>
										        <option value="170000">17:00</option>
										        <option value="180000">18:00</option>
										        <option value="190000">19:00</option>
										        <option value="200000">20:00</option>
										        <option value="210000">21:00</option>
										        <option value="220000">22:00</option>										        										        								       
									        </select>														
								        </div>
								        <div class="col-sm-12">
									        <label>Fecha Fin</label>
													<input type="text" name="FechaFin" value="" placeholder="yyyymmdd">	
								        </div>								        
								        <div class="col-sm-6">
													<label>Hora Fin</label>
									        <select name="HoraFin">
										        <option value="070000">7:00</option>
										        <option value="080000">8:00</option>
										        <option value="090000">9:00</option>
										        <option value="100000">10:00</option>
										        <option value="110000">11:00</option>
										        <option value="120000">12:00</option>
										        <option value="130000">13:00</option>		
										        <option value="140000">14:00</option>
										        <option value="150000">15:00</option>
										        <option value="160000">16:00</option>
										        <option value="170000">17:00</option>
										        <option value="180000">18:00</option>
										        <option value="190000">19:00</option>
										        <option value="200000">20:00</option>
										        <option value="210000">21:00</option>
										        <option value="220000">22:00</option>										        										        								       
									        </select>	
								        </div>	
								        <div class="col-sm-12">
									        <label>Número de Horas</label>
									        <select name="CanHoras">
										        <option value="1">1</option>
										        <option value="2">2</option>
										        <option value="3">3</option>
										        <option value="4">4</option>
										        <option value="5">5</option>
										        <option value="6">6</option>
										        <option value="7">7</option>
										        <option value="8">8</option>
										        <option value="9">9</option>
										        <option value="10">10</option>
									        </select>	
								        </div>
								        <div class="col-sm-12">
									        <input type="submit" name="submit" value="Reservar">
								        </div>
							        </div>				        							        							        
						        </form>