<div class="reservas-select-group">
  <form action="{site_url}index.php/{segment_1}/resultados-reserva-de-cubiculos" id="cubiculos-form" method="post">
    <input type="hidden" name="XID" value="{XID_HASH}" /> 
    	<div class="text-left helvetica-16 gray-main">Sede</div>
      <select name="CodSede" id="CodSede" class="relative selectpicker reservas-select form-control">
      {exp:channel:entries channel="sedes_de_reserva_de_cubiculos"  disable="member_data|pagination"}
        <option value="{codigo_sede}">{title}</option>
        {/exp:channel:entries} 
      </select> 
      <div class="text-left helvetica-16 gray-main">Día de Reserva</div>
      <input type="text" name="FecIni" class="zizou-16 reservas-select form-control calendar datepicker" value="" placeholder="Selecciona" id="start-date-rec"> 
      <input type="hidden" name="TipoRecurso" value="CU">
      <div class="text-left helvetica-16 gray-main">Hora de reserva</div>
      <select name="HoraIni" class="relative selectpicker reservas-select form-control">
      {exp:channel:entries channel="horario_de_reserva" limit="1" disable="member_data|pagination" url_title="horario-de-reserva-cubiculos"}
      <?php 
        for ($i='{min_horas}'; $i <= '{max_horas}' ; $i++) { 
          echo '<option value="'.$i.'">'.$i.':00</option>';
        }
       ?>
       {/exp:channel:entries} 
      </select>  
      <div class="text-left helvetica-16 gray-main">Cantidad de horas</div>
      <select name="CanHoras" class="relative selectpicker reservas-select form-control">
          <option value="1">1</option>
          <option value="2">2</option>
      </select>    
      <div class="mt-14">
        <input type="submit" class="btn wide-full btn-custom black-btn" name="submit" value="Ver Disponibilidad">
      </div>
  </form>
</div>  