<div class="reservas-select-group">
  <form action="{site_url}index.php/{segment_1}/resultados-reserva-de-computadoras" id="computadoras-form" method="post">
    <input type="hidden" name="XID" value="{XID_HASH}" /> 
    	<div class="text-left helvetica-16">Sede</div>
      <select name="CodSede" id="CodSede" class="relative selectpicker reservas-select form-control">
        {exp:channel:entries channel="sedes_de_reserva_de_computadoras"  disable="member_data|pagination"}
        <option value="{codigo_sede}">{title}</option>
        {/exp:channel:entries} 
      </select>
      <div class="text-left helvetica-16">Día de Reserva</div>
      <input type="text" name="FecIni" class="zizou-16 reservas-select form-control datepicker calendar" value="" readonly="readonly" placeholder="Selecciona" id="start-date-rec">
      <input type="hidden" name="TipoRecurso" value="CO">
      <div class="text-left helvetica-16">Hora de Reserva</div>
     
      {exp:channel:entries channel="horario_de_reserva" limit="1" disable="member_data|pagination" url_title="horario-de-reserva-computadoras"}

      <input type="hidden" name="minHoras" value="{min_horas}"/>
      <input type="hidden" name="maxHoras" value="{max_horas}"/>
      <select id="hora-reserva" name="HoraIni" class="relative selectpicker reservas-select form-control">
      </select> 
       {/exp:channel:entries} 
      <div class="text-left helvetica-16">Cantidad de Horas</div>
      <select name="CanHoras" class="relative selectpicker reservas-select form-control">
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <input type="submit" class="btn wide-full btn-custom black-btn" name="submit" value="Ver Disponibilidad">
  </form>
</div>  