{exp:webservices:verificar_usuario tipo_de_vista="PROFESOR"}
    <div class="site-header hidden-sm hidden-xs">
      <div class="container-fluid">
        <div class="header-global clearfix">
          <div class="pull-left crisol">
            <img class="img-center pt-7" src="{site_url}assets/img/isotipo_upc.png" alt="">
          </div>
          <div class="pull-left mt-7">
            <span class="solano-bold-20 black-text">Intranet</span>
          </div>
          <div class="pull-right pr-14 pt-7">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_PortalDocentes" href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_ServiciosDocentes" href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_BlogsDocentes" href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
        <div class="header-no-global">
          <div class="inicio">
            <a id="lnk_int_InicioDocentes" href="{exp:webservices:boton_inicio}">
              <div class="inicio-icon"></div>
              <span>Inicio</span>
            </a>
          </div>
          <div class="pull-left">
            <ul>
              <li class="ml-21 mr-21 pt-7">
                <a id="lnk_ext_CorreoDocentes" class="text-muted" href="http://www.upc.edu.pe/acerca-de-upc/servicios/aula-virtual" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/white_mail.png" class="block mb-7" alt="">
                    <span class="text-muted">Correo</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21">
                <a id="lnk_ext_AulaVirtualDocentes" class="text-muted" href="http://www.upc.edu.pe/acerca-de-upc/servicios/aula-virtual" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/aula_virtual.png" class="block mb-7" alt="">
                    <span class="text-muted">Aula Virtual</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21 pt-3">
                <a id="lnk_ext_ImpresionesDocentes" class="text-muted" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=669" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/print_new.png" class="block mb-7" alt="">
                    <span class="text-muted">Impresiones</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21">
                <div id="btn_int_BuscarDocentes" class="search-trigger">
                  <img src="{site_url}assets/img/search_white.png" class="block">
                  <span>&nbsp;</span>
                </div>
              </li>
              <li class="pt-3">
                <div class="search-bar hidden">
                 <form method="post" action="{site_url}index.php/buscar-docentes/result">
                        <input type="hidden" name="csrf_token" value="{csrf_token}" /> <!-- Important! -->
                        <input type="hidden" name="XID" value="{XID_HASH}">
                        <input type="text-muted" name="keywords" id="keywords" value="" size="18" value="{super_search_keywords}" maxlength="100" class="zizou-thin-12 form-control" placeholder="Introduce tu búsqueda">
                        <input type="submit" value="submit" id="search-submit" class="hidden submit">
                        <span>&nbsp;</span>
                      </form>
                </div>
              </li>
            </ul>
          </div>
          <div class="pull-right">
            <div class="text-center pull-left pt-28 pr-21">
              <span class="text-muted zizou-22 hidden-sm">
              {if segment_1 == 'dashboard'}
                Hola 
              {/if}
              {exp:webservices:nombre_alumno}</span>
            </div>
            <div class="dropdown pt-7 inline-block">
              <div class="dropdown-toggle relative" id="dropdownMenu1" data-toggle="dropdown">
                <div id="ie-avatar"></div> 
                <img id="lnk_int_UsuarioDocente" class="absolute" src="{site_url}assets/img/white_arrow_down.png" alt=""> 
              </div>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_PerfilDocente" role="menuitem" tabindex="-1" href="{site_url}perfil-docente">Mi Perfil</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_CambiarDocente" role="menuitem" tabindex="-1" href="#">Cambiar a Docente</a></li>
                <li  role="presentation" class="divider"></li>
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_VerTutorialDocente" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Ver Tutorial</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_CerrarSesion" role="menuitem" tabindex="-1" href="{site_url}login/salir">Cerrar Sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {embed="includes/tutorial"}