{exp:webservices:verificar_usuario tipo_de_vista="ALUMNO"}
<div id="mobile-nav" class="hidden-md hidden-lg container-fluid">
  <img src="{site_url}assets/img/isotipo_upc.png" class="pt-7 pull-left">  
  <span class="solano-bold-28 pull-left pt-7 pl-7 uppercase">Intranet</span>
  <div class="pull-right pt-3">
    <div class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseMobile" aria-expanded="false" aria-controls="collapseMobile">
      <img class="inline-block pr-7" src="{site_url}assets/img/bars.png" alt="">
      <span>MENU</span>
    </div>
  </div>
</div>
<div class="collapse hidden-md hidden-lg" id="collapseMobile">
   <ul class="list-unstyled mobile-menu">
     <li class="parent"><a href="{site_url}dashboard/estudiante">Inicio</a></li>
   {exp:channel:entries channel="sidebar_estudiante" dynamic="off" orderby="date" sort="asc"}
     <li class="parent">
      <span>{title}</span>
      {embed="includes/subitems-sidebar-movil" category="{id_categoria_subitems}" item="{url_title}"}
     </li>
     {/exp:channel:entries}    
     <li class="parent">
      <span>Mi Perfil</span>
      <ul class="list-unstyled child">
        <li><a href="{site_url}perfil">Mis Datos</a></li>
        <li><a data-toggle="modal" data-target="#myModal">Ver tutorial</a></li>
      </ul>
     </li>
     <li class="parent"><a href="{site_url}ayuda">Ayuda</a></li>
     <li class="parent"><a href="{site_url}buscar/buscar_movil">Buscar</a></li>
     <li><a href="{site_url}login/salir">Cerrar Sesión</a></li> 
   </ul>
 </div>
{embed="includes/tutorial-movil"}