    <div class="site-header">
      <div class="container-fluid">
        <div class="header-global clearfix">
          <div class="pull-left crisol">
            <img class="img-center pt-7" src="{site_url}assets/img/isotipo_upc.png" alt="">
          </div>
          <div class="pull-left mt-7">
            <span class="solano-bold-20 black-text">Intranet</span>
          </div>
          <div class="pull-right pr-14 pt-7">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-bold-18 black-text"><a href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-18 black-text"><a href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-18 black-text"><a href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
        <div class="header-iframe clearfix">
          <div class="pull-left pl-28 pt-7">
          {exp:channel:entries 
            url_title="{segment_2}"
            channel="referencias" 
            orderby="screen_name|date" 
            sort="asc|desc"
            limit="1" 
          }
              <div class="solano-bold-24">{title}</div>
              <div class="zizou-20">{embed:ruta}</div>
          </div>
          <div class="pull-right text-center bg-muted">
            <img src="{site_url}assets/img/back.png" class="img-center mb-7" alt="">
            <a class="p-7" href="{site_url}dashboard/estudiante"><span class="solano-16">Regresar a mi Intranet</span></a>
          </div>
          {/exp:channel:entries}
        </div>
      </div>
    </div>