<div id="mobile-nav" class="hidden-md hidden-lg row pt-7">
  <div class="col-xs-2">
    <img src="/assets/img/isotipo_upc.png" class="m-7 inline-block">  
  </div>
  <div class="col-xs-4 mt-7">
    <span class="solano-bold-28 uppercase">Intranet</span>
  </div>
  <div class="col-xs-6 pr-21">
    <div class="btn pull-right btn-info" type="button" data-toggle="collapse" data-target="#collapseMobile" aria-expanded="false" aria-controls="collapseMobile">
      <img src="{site_url}assets/img/bars.png" alt="">
      <span>MENU</span>
    </div>
  </div>
</div>

<div class="mt-14 collapse" id="collapseMobile">
  <ul class="list-unstyled">
    <li class="parent"><a href="">Mis Estudios</a>
      <ul class="child">
        <li><a href="http://www.google.com" target="_blank">mis-estudios-1</a></li>
        <li><a href="">misestudios-2</a></li>
        <li><a href="">misestudios-3</a></li>
      </ul>
    </li>
    <li class="parent"><a href="">Mis Reservas</a>
      <ul class="child">
        <li><a href="http://www.google.com" target="_blank">reservas-1</a></li>
        <li><a href="">reservas-2</a></li>
        <li><a href="">reservas-3</a></li>
      </ul>
    </li>
  </ul>
</div>