<div class="site-header hidden-xs">
  <div class="container-fluid">
	  <div class="header-global clearfix">
		  <div class="pull-left ml-21 mr-21">
		    <img class="mt-7" src="{site_url}assets/img/isotipo_upc.png" alt="">
		  </div>
		  <div class="pull-left mt-7">
		    <span class="solano-bold-20 black-text">Intranet</span>
		  </div>
	    <div class="pull-right mt-7">
	      <ul class="list-unstyled">
	        <li class="pull-left mr-14"><span class="solano-bold-18 black-text"><a class="black" href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
	        <li class="pull-left mr-14"><span class="solano-bold-18 black-text"><a class="black" href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
	        <li class="pull-left mr-14"><span class="solano-bold-18 black-text"><a class="black" href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
	      </ul>
	    </div>
	  </div>
	  <div class="header-no-global">
	  	<div class="inicio">
	  	  <a href="{exp:webservices:boton_inicio}">
	  	    <div class="inicio-icon"></div>
	  	    <span>Inicio</span>
	  	  </a>
	  	</div>
			<div class="pull-left">
				<ul>
	         <!-- INICIO DE LINKS DE DASHBOARDS DE HIJOS -->
	        {exp:webservices:padre_lista_de_hijos codigo_alumno="{segment_4}"}
	         <!-- FIN DE LINKS DE DASHBOARDS DE HIJOS -->
	        <li class="ml-21 mr-21">
	          <div class="search-trigger">
	            <img src="{site_url}assets/img/search_white.png" class="block mb-7">
	            <span>&nbsp;</span>
	          </div>
	        </li> 
					<li class="ml-21 mr-21">
			    <!-- inicio BUSQUEDA -->
					  {exp:search:simple_form channel="not acciones|avisos_intranet|boletines|calendario_pagos|sidebar_docente|sidebar_estudiante|sidebar_padre" result_page="buscar-padres/index"}
					  <div class="search-bar hidden">
					    <input type="text-muted" name="keywords" id="keywords" value="" size="18" maxlength="100" class="zizou-thin-12 form-control" placeholder="Introduce tu búsqueda">
					    <input type="submit" value="submit" id="search-submit" class="hidden submit">
					    <span>&nbsp;</span>
					  </div>
					  {/exp:search:simple_form}
	  		  <!-- fin BUSQUEDA -->
					</li>
				</ul>
	    </div>
	    <div class="pull-right">
	    	<div class="text-center inline-block p-21">
    	    <span class="text-muted zizou-22">Hola {exp:webservices:nombre_alumno}</span>
	    	</div>
        <div class="dropdown pt-7 inline-block">
          <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
            <img class="img-circle img-thumbnail img-responsive" src="{site_url}assets/img/user_dark.png">
          </div>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
            <li class="dditem" role="presentation"><a role="menuitem" tabindex="-1" href="#">Mi perfil</a></li>
            <li role="presentation" class="divider"></li>
            <li class="dditem" role="presentation"><a role="menuitem" tabindex="-1" href="#">Ver tutorial</a></li>
            <li role="presentation" class="divider"></li>
            <li class="dditem" role="presentation"><a role="menuitem" tabindex="-1" href="{site_url}login/salir">Cerrar Sesión</a></li>
          </ul>
        </div>
	    </div> 
		</div>
  </div>
</div>