    <div class="site-header">
      <div class="container-fluid">
        <div class="header-global clearfix">
          <div class="pull-left crisol">
            <img class="img-center pt-7" src="{site_url}assets/img/isotipo_upc.png" alt="">
          </div>
          <div class="pull-left mt-7">
            <span class="solano-bold-20 black-text">Mi UPC</span>
          </div>
          <div class="pull-right pr-14 pt-7">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a class="black-link" href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a class="black-link" href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a class="black-link" href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>