    <div class="site-header hidden-xs">
      <div class="container-fluid">
        <div class="header-global pl-7 row pb-7 pr-21">
          <div class="col-sm-1">
            <img src="{site_url}assets/img/isotipo_upc.png" class="p-7 pl-14" alt="">
          </div>
          <div class="col-sm-1 text-center pt-14">
            <span>Intranet</h4>
          </div>
          <div class="col-sm-7"></div>
          <div class="col-sm-1 text-center pt-14">
            <span class="solano-bold-15">Portal</span>
          </div>
          <div class="col-sm-1 text-center pt-14">
            <span class="solano-bold-15">Servicios</span>
          </div>
          <div class="col-sm-1 text-center pt-14">
            <span class="solano-bold-15">Blogs</span>
          </div>
        </div>
        <div class="header-iframe row">
          <div class="col-sm-8 pt-21 pb-21">
            <div class="row">
              <span class="solano-24">CÓMO VER MI SITUACIÓN ACADÉMICA ACTUAL EN <span class="sb-text">SÓCRATES2</span></span>
            </div>
            <div class="row">
              <span class="zizou-20">{embed:ruta}</span>
            </div>
          </div>
          <div class="col-sm-3"></div>
          <div class="col-sm-1 text-center pt-21 pb-21 bg-muted">
            <img src="{site_url}assets/img/home_grey.png" class="inline-block" alt="">
            <a href="{site_url}dashboard/estudiante"><span class="solano-14 uppercase">Regresar a mi Intranet</span></a>
          </div>
        </div>
        
      </div>
    </div>