    <div class="site-header hidden-xs">
      <div class="container-fluid">
        <div class="header-global clearfix pl-7 pb-7 pr-21">
          <div class="pull-right mt-14">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-20"><a href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-20"><a href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-20"><a href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>