    <div class="site-header hidden-xs">
      <div class="container-fluid">
        <div class="header-global clearfix">
          <div class="inline-block ml-21 mr-21 mt-14">
            <img src="{site_url}assets/img/isotipo_upc.png" alt="">
          </div>
          <div class="inline-block">
            <span class="solano-22 black-text">Intranet</span>
          </div>
          <div class="pull-right mt-14">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-20 black-text"><a href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-20 black-text"><a href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-20 black-text"><a href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
        <div class="header-iframe clearfix">
          <div class="pull-left p-28">
              <div class="solano-bold-24">CÓMO VER MI SITUACIÓN ACADÉMICA ACTUAL EN <span class="text-info">SÓCRATES2</span></div>
              <div class="zizou-20">{embed:ruta}</div>
          </div>
          <div class="pull-right text-center bg-muted">
            <img src="{site_url}assets/img/home_grey.png" class="img-center" alt="">
            <a class="p-7" href="{site_url}dashboard/estudiante"><span class="solano-16">Regresar a mi Intranet</span></a>
          </div>
        </div>
      </div>
    </div>