    <div class="site-header">
      <div class="container-fluid">
        <div class="header-global clearfix pl-7 pb-7 pr-21">
          <div class="pull-right mt-7">
            <ul class="list-unstyled">
              {exp:channel:entries channel="servicios" sort="asc"}
                <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_Portal" class="black-link" href="{servicio_url}" target="_blank">{title}</a></span></li>  
              {/exp:channel:entries}
            </ul>
          </div>
        </div>
      </div>
    </div>