<div class="site-header outside hidden-xs">
  <div class="container-fluid">
    <div class="header-global pl-7 row pb-7 pr-21">
      <div class="col-sm-0-5 pt-7 pl-21">
        <img src="/assets/img/isotipo_upc.png">
      </div>
      <div class="col-sm-1 text-center pl-28 pt-14">
        <span>Intranet</h4>
      </div>
      <div class="col-sm-7-5"></div>
      <div class="col-sm-1 text-center pt-14">
        <span class="solano-bold-15">Portal</span>
      </div>
      <div class="col-sm-1 text-center pt-14">
        <span class="solano-bold-15">Servicios</span>
      </div>
      <div class="col-sm-1 text-center pt-14">
        <span class="solano-bold-15">Blogs</span>
      </div>
    </div>
  </div>
</div>