{exp:webservices:verificar_usuario tipo_de_vista="ALUMNO"}
    <div class="site-header hidden-sm hidden-xs">
      <div class="container-fluid">
        <div class="header-global clearfix">
          <div class="pull-left crisol">
            <img class="img-center pt-7" src="{site_url}assets/img/isotipo_upc.png" alt="">
          </div>
          <div class="pull-left mt-7">
            <span class="solano-bold-20 black-text">Mi UPC</span>
          </div>
          <div class="pull-right pr-14 pt-7">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_Portal" class="black-link" href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_Servicios" class="black-link" href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a id="lnk_ext_Blogs" class="black-link" href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
        <div class="header-no-global header-estudiante">
          <div class="inicio">
            <a id="lnk_int_Inicio" href="{exp:webservices:boton_inicio}">
              <div class="inicio-icon"></div>
              <span>Inicio</span>
            </a>
          </div>
          <div class="pull-left">
            <ul>
              <li class="ml-21 mr-21 pt-7">
                <a id="lnk_ext_Correo" class="text-muted" href="https://www.outlook.com/upc.edu.pe" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/white_mail.png" class="block mb-7" alt="">
                    <span class="text-muted">Correo</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21">
                <a id="lnk_ext_AulaVirtual" class="text-muted" href="https://aulavirtual.upc.edu.pe" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/aula_virtual.png" class="block mb-7" alt="">
                    <span class="text-muted">Aula Virtual</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21 pt-3">
                <a id="lnk_ext_Impresiones" class="text-muted" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=669" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/print_new.png" class="block mb-7" alt="">
                    <span class="text-muted">Impresiones</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21">
                <div class="search-trigger">
                  <img src="{site_url}assets/img/search_white.png" class="block">
                  <span>&nbsp;</span>
                </div> 
              </li>
              <li class="pt-3">

                <div class="search-bar hidden">
                  <form method="post" action="{site_url}index.php/buscar/result">
                    <input type="hidden" name="csrf_token" value="{csrf_token}" /> <!-- Important! -->
                    <input type="hidden" name="XID" value="{XID_HASH}">
                    <input type="text-muted" name="keywords" id="keywords" value="" size="18" value="{super_search_keywords}" maxlength="100" class="zizou-thin-12 form-control" placeholder="Introduce tu búsqueda">
                    <input id="btn_int_Buscar" type="submit" value="submit" id="search-submit" class="hidden submit">
                    <span>&nbsp;</span>
                  </form>
                </div>
              </li>
            </ul>
          </div>
          <div class="pull-right">
            <div class="text-center pull-left pt-28 pr-21">
              <span class="text-muted zizou-22 hidden-sm">
              {if segment_1 == 'dashboard'}
                Hola 
              {/if}
              {exp:webservices:nombre_alumno}</span>
            </div>
            <div class="dropdown avatar pt-7 pull-left">
              <div class="dropdown-toggle relative" id="dropdownMenu1" data-toggle="dropdown">
                <div id="ie-avatar"></div> 
                <img id="develar_opciones_usuario" class="absolute" src="{site_url}assets/img/white_arrow_down.png" alt="">
              </div>
              <ul class="dropdown-menu" role="menu">
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_MisDatos" role="menuitem" tabindex="-1" href="{site_url}perfil">Mis Datos</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_CambiarPerfil" role="menuitem" tabindex="-1" href="{site_url}?utm_source=opciones_usuario_cambiar_perfil&utm_medium=link&utm_campaign=opciones_usuario_ultranet">Cambiar de Perfil</a></li>
                <li  role="presentation" class="divider"></li>
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_VerTutorial" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#myModal">Ver Tutorial</a></li>
                <li role="presentation" class="divider"></li>
                <li class="dditem ddmain" role="presentation"><a id="lnk_int_CerrarSesion" role="menuitem" tabindex="-1" href="{site_url}login/salir">Cerrar Sesión</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {embed="includes/tutorial"}
