    <div class="site-header hidden-sm hidden-xs">
      <div class="container-fluid">
        <div class="header-global clearfix">
          <div class="pull-left crisol">
            <img class="img-center pt-7" src="{site_url}assets/img/isotipo_upc.png" alt="">
          </div>
          <div class="pull-left mt-7">
            <span class="solano-bold-20 black-text">Mi UPC</span>
          </div>
          <div class="pull-right pr-14 pt-7">
            <ul class="list-unstyled">
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a class="black-link" href="http://www.upc.edu.pe/" target="_blank">Portal</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a class="black-link" href="http://www.upc.edu.pe/acerca-de-upc/servicios" target="_blank">Servicios</a></span></li>
              <li class="pull-left mr-14"><span class="solano-bold-16 black-text"><a class="black-link" href="http://blogs.upc.edu.pe/" target="_blank">Blogs</a></span></li>
            </ul>
          </div>
        </div>
        <div class="header-no-global">
          <div class="inicio">
            <a href='javascript:history.go(-1)' style='text-transform:uppercase;'>
              <div class="inicio-icon"></div>
              <span>Inicio</span>
            </a>
          </div>
          <div class="pull-left">
            <ul>
              <li class="ml-21 mr-21 pt-7">
                <a class="text-muted" href="https://www.outlook.com/upc.edu.pe" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/white_mail.png" class="block mb-7" alt="">
                    <span class="text-muted">Correo</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21">
                <a class="text-muted" href="https://aulavirtual.upc.edu.pe" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/aula_virtual.png" class="block mb-7" alt="">
                    <span class="text-muted">Aula Virtual</span>
                  </div>
                </a>
              </li>
              <li class="ml-21 mr-21 pt-3">
                <a class="text-muted" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=669" target="_blank">
                  <div class="text-center">
                    <img src="{site_url}/assets/img/print_new.png" class="block mb-7" alt="">
                    <span class="text-muted">Impresiones</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="pull-right">
            <div class="text-center pull-left pt-28 pr-21">
              <span class="text-muted zizou-22 hidden-sm">
              </span>
            </div>
            <div class="dropdown avatar pt-7 pull-left">
              <div class="dropdown-toggle relative" id="dropdownMenu1" data-toggle="dropdown">
                <div id="ie-avatar"></div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
