    <div class="modal fade" id="condicionesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header col-md-12 p-0 text-right ">
          <img class="logo" src="{site_url}assets/img/logo_upc_red.png" alt="">
        </div>
        <div class="modal-body red-line">
          {exp:channel:entries channel="terminos_y_condiciones" limit="1" dynamic="off"}
            <div class="terms-content bg-muted">
              <h2 class="modal-title uppercase xl" id="myModalLabel">{title}</h2>
              <div class="helvetica-16">
                {contenido}
              </div>
            </div>
            {/exp:channel:entries}
        </div>
         <div class="checkbox">
              <label for="checkbox" class="zizou-16">
                <input type="checkbox" id="checkbox" name="checkbox"> Declaro haber leído y aceptado el reglamento y todos sus términos.
              </label>
            </div>
          <div class="modal-footer bg-muted">
            <button type="button" class="btn btn-custom wide blue-btn" disabled id="aceptar">Acepto</button>
            <button type="button" class="btn btn-custom wide black-btn" data-dismiss="modal">No Acepto</button>
          </div>
        </div>
      </div>
    </div>