      <div class="row pt-42">
              <div class="col-sm-0-5 col-md-0-5 col-xs-0"></div>
              <div class="col-sm-11 col-xs-12 col-md-11 bg-muted login-servicios panel p-14">
                <div class="col-sm-12 pl-14 pt-0 pb-0"><h3>Servicios UPC</h3></div>
                <div class="row">
<!--                 <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a target="_blank" href="http://matricula.upc.edu.pe/Loginsituacion/LoginUPC.aspx?ma=X16QP%2f83DhA%3d" id="">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_situacionAcademica.png" alt=""></div>
                      <div class="text">Situación Académica</div>
                    </a>
                  </div> -->
<!--                   <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a target="_blank" href="http://matricula.upc.edu.pe/LoginHistorialNotas/LoginUPC.aspx?ma=X16QP%2f83DhA%3d" id="">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_historial.png" alt=""></div>
                      <div class="text">Historial de Notas</div>
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a target="_blank" href="http://matricula.upc.edu.pe/LoginPagosPendientes/LoginUPC.aspx?ma=X16QP%2f83DhA%3d" id="">
                      <div class="image"><img alt="" src="{site_url}assets/img/upc_iconos_pagospendientes.png"></div>
                      <div class="text">Pagos Pendientes</div>
                    </a>
                  </div> -->
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="https://aulavirtual.upc.edu.pe/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_blackboard.png" alt=""></div>
                      <div class="text">Aula Virtual</div>
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="https://www.outlook.com/upc.edu.pe" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_mail.png" alt=""></div>
                      <div class="text">Correo UPC</div>
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="https://tienda.upc.edu.pe/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_store.png" alt=""></div>
                      <div class="text">Tienda UPC</div> 
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="https://labvirtual.upc.edu.pe/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_labs.png" alt=""></div>
                      <div class="text">Laboratorarios Virtuales</div>
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="http://contactoweb.upc.edu.pe/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_contactoweb.png" alt=""></div>
                      <div class="text">Contacto Web</div>
                    </a>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="http://bolsadetrabajo.upc.edu.pe/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_bolsa.png" alt=""></div>
                      <div class="text">Bolsa de Trabajo</div>
                    </a>
                  </div>
                </div>
                <div class="row">
<!--                   <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=669" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_impresiones.png" alt=""></div>
                      <div class="text">Servicios de Impresiones</div>
                    </a>
                  </div> -->
                  <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="http://ci.upc.edu.pe/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_ci.png" alt=""></div>
                      <div class="text">Centro de Información</div>
                    </a>
                  </div>
                   <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                    <a href="http://chatalumnosupc.upc.edu.pe/webchatasp/" target="_blank">
                      <div class="image"><img src="{site_url}assets/img/upc_iconos_chat.png" alt=""></div>
                      <div class="text">Chat UPC (Beta)</div>
                    </a>
                  </div>
                </div>
              </div>
      </div>