              <div class="panel pt-14">
                <div class="panel-head">
                  <div class="panel-head-left">
                    <div class="panel-title serif-light">
                      <h2>Otras Acciones</h2>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-table otras-acciones ">
	                  {if segment_2=='ciclo-actual'}
                    <ul class="tr">
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/pdf_black.png">Pre-Ingresar Notas</span>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/pdf_black.png">Ver mis Horas Programadas</span>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/pdf_black.png">Ver Rol de Exámenes</span>
                        </li>
                      </a>
                    </ul>
                    {/if}
	                  {if segment_2=='cursos-detallados'}
                    <ul class="tr">
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/pdf_black.png">Ver Estadística</span>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/pdf_black.png">Ver Distribución de Notas Programadas</span>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <span class="zizou-14"><img class="pr-7" src="{site_url}assets/img/pdf_black.png">E-sílabo</span>
                        </li>
                      </a>
                    </ul>
                    {/if}                    
                  </div>
                </div>
              </div>  