<div class="panel mt-14 hidden-xs">
  <div class="panel-head no-bg">
    <div class="panel-title left">
      <span class="zizou-26">Acciones Frecuentes</span>
    </div>
  </div>
  <div class="panel-body wobg">
    <div class="panel-table otras-acciones">
      <ul class="tr">
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mb-7 mr-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Buscar un libro
            </span>
          </li>
        </a>
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mb-7 mr-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Renovar un libro
            </span>
          </li>
        </a>
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mr-7 mb-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Consultar Bibliografías
            </span>
          </li>
        </a>
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mr-7 mb-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Comprar E-Books
            </span>
          </li>
        </a>                                                                  
      </ul>
    </div>
  </div>
</div>
<!-- movil -->
<div class="panel mt-14 mb-28 hidden-sm hidden-md hidden-lg">
  <div class="panel-head pl-14" data-toggle="collapse" href="#oaCollapse">
    <h3 class="pull-left mt-14">Acciones Frecuentes</h3>
    <div class="otras-acciones-arrow"></div>
  </div>
  <div class="panel-body mt-7 collapse" id="oaCollapse">
    <div class="panel-table otras-acciones">
      <ul class="tr">
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mb-7 mr-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Buscar un libro
            </span>
          </li>
        </a>
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mb-7 mr-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Renovar un libro
            </span>
          </li>
        </a>
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mr-7 mb-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Consultar Bibliografías
            </span>
          </li>
        </a>
        <a class="sb-link" href="">
          <li class="bg-muted p-7 mr-7 mb-7">
            <span class="zizou-16">
              <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Comprar E-Books
            </span>
          </li>
        </a>                                                                  
      </ul>
    </div>
  </div>
</div>