              <div class="panel mt-14 hidden-xs hidden-sm">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Otras Acciones</h3>
                  </div>
                </div>
                <div class="panel-body wobg">
                  <div class="panel-table otras-acciones">
	                  {if segment_2=='ciclo-actual-docencia'}
                    <ul class="tr">
                      <a id="lnk_ext_PreIngresarNotas" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=161">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Pre-Ingresar Notas</div>
                        </li>
                      </a>
                      <a id="lnk_ext_VerMisHorasProgramadas" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=58">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Ver mis Horas Programadas</div>
                        </li>
                      </a>
                      <a id="lnk_ext_VerRolExamenes" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=453">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Ver Rol de Exámenes</div>
                        </li>
                      </a>
                      <a id="lnk_ext_TomaAsistenciaAlumnos" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=35">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Toma Asistencia de Alumnos</div>
                        </li>
                      </a>
                      <a id="lnk_ext_ListaAlumnosMatriculados" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=37">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Lista Alumnos Matriculados</div>
                        </li>
                      </a>
                    </ul>
                    {/if}
	                  {if segment_2=='cursos-detallados'}
                    <ul class="tr">
                      <a id="lnk_ext_VerEstadistica" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=40" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-14">Ver Estadística</div>
                        </li>
                      </a>
                      <a id="lnk_ext_VerDistribucionNotasProgramadas" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=41" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-14">Ver Distribución de Notas Programadas</div>
                        </li>
                      </a>
                      <a id="lnk_ext_ESilabo" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=441" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-14">E-sílabo</div>
                        </li>
                      </a>
                    </ul>
                    {/if}                    
                  </div>
                </div>
              </div>  
              <!-- movil -->
              <div class="panel mb-28 mt-14 hidden-sm hidden-md hidden-lg">
                <div class="panel-head pl-14" data-toggle="collapse" href="#oaCollapse">
                  <h3 class="pull-left mt-14">Otras Acciones</h3>
                  <div class="otras-acciones-arrow"></div>
                </div>
                <div class="panel-body wobg mt-7 collapse" id="oaCollapse">
                  <div class="panel-table otras-acciones">
                    {if segment_2=='ciclo-actual-docencia'}
                    <ul class="tr">
                      <a id="lnk_ext_PreIngresarNotas" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=161">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Pre-Ingresar Notas</div>
                        </li>
                      </a>
                      <a id="lnk_ext_VerHorasProgramadas" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=58">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Ver mis Horas Programadas</div>
                        </li>
                      </a>
                      <a id="lnk_ext_VerRolExamenes" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=453">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Ver Rol de Exámenes</div>
                        </li>
                      </a>
                      <a id="lnk_ext_TomaAsistenciaAlumnos" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=35">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Toma Asistencia de Alumnos</div>
                        </li>
                      </a>
                      <a id="lnk_ext_ListaAlumnosMatriculados" class="sb-link" target="_blank" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=37">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16">Lista Alumnos Matriculados</div>
                        </li>
                      </a>
                    </ul>
                    {/if}
                    {if segment_2=='cursos-detallados'}
                    <ul class="tr">
                      <a id="lnk_ext_VerEstadistica" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=40" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-14">Ver Estadística</div>
                        </li>
                      </a>
                      <a id="lnk_ext_VerDistribucionNotasProgramadas" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=41" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-14">Ver Distribución de Notas Programadas</div>
                        </li>
                      </a>
                      <a id="lnk_ext_ESilabo" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=441" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-14">E-sílabo</div>
                        </li>
                      </a>
                    </ul>
                    {/if}                    
                  </div>
                </div>
              </div>  