<div class="panel mt-14 hidden-sm hidden-xs">
  <div class="panel-head no-bg">
    <div class="panel-title left">
      <h3>Otras Acciones</h3>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-table otras-acciones">
      <ul class="tr">
        {relacion_otras_acciones}
        <a href="">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon print"></div>
            <div class="zizou-16 borderless" onclick="window.print()">{relacion_otras_acciones:title}</div>
          </li>
        </a>
        {/relacion_otras_acciones}
        <!-- <a href="">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon danger pdf"></div>
            <div class="zizou-16 borderless">Descargar en PDF</div>
          </li>
        </a>
        <a href="">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon danger mail"></div>
            <div class="zizou-16 borderless">Enviar a mi Correo UPC</div>
          </li>
        </a> -->
      </ul>
    </div>
  </div>
</div>  