              <div class="panel mt-14">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Otras Acciones</h3>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-table otras-acciones">
                    <ul class="tr">
                      <a href="http://info.upc.edu.pe/HEMEROTECA/Manuales/RegCI2010-1.pdf" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon danger pdf"></div>
                          <div class="zizou-16">Descargar Reglamentos (pdf)</div>
                        </li>
                      </a>
                      <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=33" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon danger"></div>
                          <div class="zizou-16">Eliminar una reserva</div>
                        </li>
                      </a>
                      <a href="http://upcintranet-590402458.us-east-1.elb.amazonaws.com/assets/img/Informaci%C3%B3n_de_contacto_-_CI.pdf" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon danger"></div>
                          <div class="zizou-16">Información de contacto</div>
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>  