<div class="panel mt-14 hidden-xs">
  <div class="panel-head no-bg">
    <div class="panel-title left">
      <h3>Otras Acciones</h3>
    </div>
  </div>
  <div class="panel-body wobg">
    <div class="panel-table otras-acciones">
      <ul class="tr">
        <a id="lnk_ext_DescargarReglamentoDeportivo" href="http://intranet.upc.edu.pe/programas/avisos/Normas_Uso_Gimnasio.pdf" target="_blank">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon danger pdf"></div>
            <div class="zizou-16">Descargar Reglamentos (pdf)</div>
          </li>
        </a>
        <a id="lnk_ext_EliminarReserva" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=506" target="_blank">
          <li class="bg-muted p-7 mb-7">
            <div class="arrow-icon info"></div>
            <div class="zizou-16">Eliminar una reserva</div>
          </li>
        </a>
        <a id="lnk_ext_InformacionContacto" href="http://upcintranet-590402458.us-east-1.elb.amazonaws.com/assets/img/Informacion_de_contacto_ED.pdf" target="_blank">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon pdf danger"></div>
            <div class="zizou-16">Información de contacto</div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>  
<!-- movil -->
<div class="panel mt-14 mb-28 hidden-sm hidden-md hidden-lg">
  <div class="panel-head pl-14" data-toggle="collapse" href="#oaCollapse">
    <h3 class="pull-left mt-14">Otras Acciones</h3>
    <div class="otras-acciones-arrow"></div>
  </div>
  <div class="panel-body wobg wmt-7 collapse" id="oaCollapse">
    <div class="panel-table otras-acciones">
      <ul class="tr">
        <a id="lnk_ext_DescargarReglamentoDeportivoMovil" href="http://intranet.upc.edu.pe/programas/avisos/Normas_Uso_Gimnasio.pdf" target="_blank">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon danger pdf"></div>
            <div class="zizou-16">Descargar Reglamentos (pdf)</div>
          </li>
        </a>
        <a id="lnk_ext_EliminarReservaMovil" href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=506" target="_blank">
          <li class="bg-muted p-7 mb-7">
            <div class="arrow-icon info"></div>
            <div class="zizou-16">Eliminar una reserva</div>
          </li>
        </a>
        <a id="lnk_ext_InformacionContactoMovil" href="http://upcintranet-590402458.us-east-1.elb.amazonaws.com/assets/img/Informacion_de_contacto_ED.pdf" target="_blank">
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon pdf danger"></div>
            <div class="zizou-16">Información de contacto</div>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>  