              <div class="panel mt-14 hidden-sm hidden-xs">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h2>Otras Acciones</h2>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-table otras-acciones">
                    <ul class="tr">
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon print"></div>
                          <div class="zizou-16 borderless" onclick="window.print()">Imprimir detalles</div>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon danger pdf"></div>
                          <div class="zizou-16 borderless">Descargar en PDF {exp:printfriendly:button disable_email="yes" disable_print="yes" }</div>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon danger mail"></div>
                          <div class="zizou-16 borderless">Enviar a mi Correo UPC {exp:printfriendly:button disable_pdf="yes" disable_print="yes" }</div>
                        </li>
                      </a>
                      <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=3" target="_blank">
                        <li class="bg-muted p-7 mb-7">
                          <div class="arrow-icon info"></div>
                          <div class="zizou-16 borderless">Historial de Notas</div>
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>  