              <div class="panel pt-14">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h2>Otras Acciones</h2>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-table otras-acciones">
                    <ul class="tr">
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon print"></div>
                          <div class="zizou-16">Imprimir detalles</div>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon danger pdf"></div>
                          <div class="zizou-16">Descargar en PDF</div>
                        </li>
                      </a>
                      <a href="">
                        <li class="bg-muted p-7 mb-7">
                          <div class="custom-icon danger mail"></div>
                          <div class="zizou-16">Enviar a mi Correo UPC</div>
                        </li>
                      </a>
                    </ul>
                  </div>
                </div>
              </div>  