
{if "{embed:otras_acciones}" == "Activar"}
<div class="panel mt-14 hidden-xs hidden-sm">
  <div class="panel-head no-bg">
    <div class="panel-title left">
      <h3>Otras Acciones</h3>
    </div>
  </div>
  <div class="panel-body wobg">
    <div class="panel-table otras-acciones">
      <ul class="tr">
        <li class="bg-muted p-7 mb-7">
          <a href="http://intranet.upc.edu.pe/programas/avisos/Normas_Uso_Gimnasio.pdf" target="_blank">
            <div class="custom-icon danger pdf"></div>
            <div class="zizou-16">Descargar Reglamentos (pdf)</div>
          </a>
        </li>
        <li class="bg-muted p-7 mb-7">
          <a href="http://upcintranet-590402458.us-east-1.elb.amazonaws.com/assets/img/Informacion_de_contacto_ED.pdf" target="_blank">
            <div class="custom-icon pdf danger"></div>
            <div class="zizou-16">Información de contacto</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>  
{/if}
 