     <div class="panel mt-7 perfil-ar hidden-xs">
       <div class="panel-head no-bg">
         <div class="panel-title left">
           <h3>Otras Acciones</h3>
         </div>
       </div>
       <div class="panel-body">
         <div class="panel-table otras-acciones">
           <ul class="tr">
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=26" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Cambio de contraseña</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=71" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Tu pregunta clave</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=241" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Boleta de Pago</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=248" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Hoja de vida</div>
               </li>
             </a>
           </ul>
         </div>
       </div>
     </div>

     <div class="panel mt-7 perfil-ar hidden-sm hidden-md hidden-lg">
       <div class="panel-head pl-14" data-toggle="collapse" href="#oaCollapse">
         <h3 class="pull-left mt-14">Otras Acciones</h3>
         <div class="otras-acciones-arrow"></div>
       </div>
       <div class="panel-body mt-7 collapse" id="oaCollapse">
         <div class="panel-table otras-acciones">
           <ul class="tr">
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=26" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Cambio de contraseña</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=71" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Tu pregunta clave</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=241" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Boleta de Pago</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=248" target="_blank">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon info"></div>
                 <div class="zizou-16 borderless">Hoja de vida</div>
               </li>
             </a>
           </ul>
         </div>
       </div>
     </div>