     <div class="panel mt-7 hidden-sm hidden-xs">
       <div class="panel-head no-bg">
         <div class="panel-title left">
           <h2>Otras Acciones</h2>
         </div>
       </div>
       <div class="panel-body">
         <div class="panel-table otras-acciones">
           <ul class="tr">
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=26">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon danger"></div>
                 <div class="zizou-16 borderless">Cambio de contraseña</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=71">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon danger"></div>
                 <div class="zizou-16 borderless">Tu pregunta clave</div>
               </li>
             </a>
             <a href="http://intranet.upc.edu.pe/Loginintermedia/loginupc.aspx?wap=459">
               <li class="bg-muted p-7 mb-7">
                 <div class="arrow-icon danger"></div>
                 <div class="zizou-16 borderless">IVR</div>
               </li>
             </a>
           </ul>
         </div>
       </div>
     </div>