<div class="panel pt-21">
  <div class="panel-head bg-muted">
    <div class="panel-head-wrap">
      <div class="panel-title">
        <h2>Vida Universitaria</h2>
        <a class="arrow-link" href="#">
          <img class="pull-right" src="/assets/img/skb_arrow.png" alt="">  
        </a>
      </div>
    </div>
  </div>
	{exp:ajw_feedparser 
	    url="http://betablogs.upc.edu.pe/blog/feed/52"
	    cache_refresh="30"
	    limit="2"
	}  
  <div class="panel-body p-7 bg-muted">
    <div>
      <span class="uppercase">{pubDate}</span>
    </div>
    <small class="mt-7 mb-7 zizou-14">{title}</small>
    <p class="zizou-14"><a class="sb-link" href="{link}" target="_blank">Seguir Leyendo</a></p>        
  </div>
  {/exp:ajw_feedparser} 
</div> 