  

  {if "{exp:webservices:tipo_usuario}" == "Alumno"}

    {if "{exp:webservices:get_modalidad_alumno}"== "FC"}
    {exp:ajw_feedparser 
        url="http://blogs.upc.edu.pe/comunicados-upc/rss.xml"
        cache_refresh="30"
        limit="4"
        search:category="Institucional|EPE-UPC"
    }  
    <div class="panel-body p-14 bg-muted">
      <div>
        <span class="zizou-16 text-lowercase">{pubDate format="%l %d de %F del %Y"} </span>
      </div>
      <p class="solano-bold-20 lh-1-1 black-text uppercase">{title}</p>
      <p class="zizou-16"><a id="lnk_ext_{title}" class="sb-link" href="{link}" target="_blank">Seguir Leyendo</a></p>        
    </div>
    {/exp:ajw_feedparser} 
    {if:else}
    {exp:ajw_feedparser 
        url="http://blogs.upc.edu.pe/comunicados-upc/rss.xml"
        cache_refresh="30"
        limit="4"
        search:category="Institucional|Pregrado"
    }  
    <div class="panel-body p-14 bg-muted">
      <div>
        <span class="zizou-16 text-lowercase">{pubDate format="%l %d de %F del %Y"} </span>
      </div>
      <p class="solano-bold-20 lh-1-1 black-text uppercase">{title}</p>
      <p class="zizou-16"><a id="lnk_ext_{title}" class="sb-link" href="{link}" target="_blank">Seguir Leyendo</a></p>        
    </div>
    {/exp:ajw_feedparser}
    {/if}
  {if:elseif "{exp:webservices:tipo_usuario}" == "Docente"}
    {exp:ajw_feedparser 
        url="http://blogs.upc.edu.pe/comunicados-upc/rss.xml"
        cache_refresh="30"
        limit="4"
        search:category="Institucional|Profesores"
    }  
    <div class="panel-body p-14 bg-muted">
      <div>
        <span class="zizou-16 text-lowercase">{pubDate format="%l %d de %F del %Y"} </span>
      </div>
      <p class="solano-bold-20 lh-1-1 black-text uppercase">{title}</p>
      <p class="zizou-16"><a id="lnk_ext_{title}" class="sb-link" href="{link}" target="_blank">Seguir Leyendo</a></p>        
    </div>
    {/exp:ajw_feedparser} 

  {if:elseif "{exp:webservices:tipo_usuario}" == "Padre" }
    {exp:ajw_feedparser 
        url="http://blogs.upc.edu.pe/comunicados-upc/rss.xml"
        cache_refresh="30"
        limit="4"
        search:category="Institucional|Padres-de-familia"
    }  
    <div class="panel-body p-14 bg-muted">
      <div>
        <span class="zizou-16 text-lowercase">{pubDate format="%l %d de %F del %Y"} </span>
      </div>
      <p class="solano-bold-20 lh-1-1 black-text uppercase">{title}</p>
      <p class="zizou-16"><a id="lnk_ext_{title}" class="sb-link" href="{link}" target="_blank">Seguir Leyendo</a></p>        
    </div>
    {/exp:ajw_feedparser} 
    {/if}
