<div class="panel pt-21">
  <div class="panel-head">
    <div class="panel-head-left">
      <div class="panel-title">
        <h2>Noticias</h2>
      </div>
    </div>
  </div>
	{exp:ajw_feedparser 
	    url="http://betablogs.upc.edu.pe/blog/feed/8"
	    cache_refresh="30"
	    limit="2"
	}  
  <div class="panel-body mb-14">
    <div class="panel-body-head-table">
      <ul class="tr">
        <li class="col-xs-12">
          <div class="pl-7 pr-7">
	          <span class="text-left h5 mt-0 mb-0">{title}</span>
	        </div>
        </li>
      </ul>
    </div>
    <div class="panel-table noticias-content">
      <ul class="tr">
        <li class="col-xs-12">
          <div>
						<small class="mt-7 mb-7 zizou-14">{pubDate}</small>
						<p class="noticia-body helvetica-12">{description}</p>
						<p class="keep-reading zizou-14"><a href="{link}" target="_blank"><img class="pr-7" src="/assets/img/skyblue_arrow.png">Seguir Leyendo</a></p>        
          </div>
        </li>
      </ul>
    </div>
  </div>
  {/exp:ajw_feedparser} 
</div> 