<div class="panel-body bg-muted">
  <div class="panel-table">
	{exp:ajw_feedparser 
	    url="http://tice.upc.edu.pe/blog/feed"
	    cache_refresh="30"
	    limit="4"
	}  
        <div class="tr p-21 pb-14 pt-14 gray-line-bottom">
          <span class="zizou-16 text-lowercase">{pubDate format="%l %d de %F del %Y"} </span>
          <br>
          <span class="solano-bold-20 lh-1-1 black-text uppercase">{title}</span>
          <br>
          <a id="lnk_ext_{title}" class="sb-link" href="{link}" target="_blank"><span class="zizou-16">Seguir Leyendo</span></a>      
        </div>
  {/exp:ajw_feedparser} 

  </div>
</div>