    <div class="site-menu hidden-xs">
      <ul class="list-unstyled nav-main">
        {exp:channel:entries channel="sidebar_docente" dynamic="off" orderby="date" sort="asc"}
          <li class="{url_title} menu {if segment_1=='{url_title}'}current-menu{/if} sidebar-item">
            <a href="{url-root-item}">
              <div></div>
              <span>{title}</span>
            </a>
            {embed="includes/subitems-sidebar" category="{id_categoria_subitems}" item="{url_title}"}
          </li>
        {/exp:channel:entries}
        <!-- 
        <li class="mi-docencia menu">
          <a href="#">
            <div></div>
            <span>Mi Docencia</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="32"}
            <li><a href="{site_url}mi-docencia/{url_title}">{title}</a></li>
          {/exp:channel:entries}  
          </ul>
        </li>
        <li class="mis-tramites menu">
          <a href="#">
            <div></div>
            <span>Mis Trámites</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="31"}
            <li><a href="{site_url}mis-tramites-docentes/{url_title}">{title}</a></li>
          {/exp:channel:entries}  
          </ul>
        </li>
        <li class="mis-alumnos menu {if segment_1=='mis-reservas'}current-menu{/if}">
          <a href="#">
            <div></div>
            <span>Alumnos</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="39"}
            <li><a href="{site_url}alumnos/{url_title}">{title}</a></li>
          {/exp:channel:entries}  
          </ul>          
        </li>
        <li class="mis-reservas menu {if segment_1=='mis-reservas'}current-menu{/if}">
          <a href="#">
            <div></div>
            <span>Mis Reservas</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="23"}
            <li><a href="{site_url}mis-reservas-docentes/{url_title}">{title}</a></li>
          {/exp:channel:entries}  
          </ul>             
        </li>
        <li class="ci menu">
          <a href="#">
            <div></div>
            <span>CI</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="46"}
            <li><a href="{site_url}centro-de-informacion-docentes/{url_title}">{title}</a></li>
          {/exp:channel:entries}
          </ul>           
        </li>
        -->
        <li class="ayuda menu sidebar-item">
          <a href="{site_url}ayuda-docentes">
            <div></div>
            <span>Ayuda</span>
          </a>
        </li>
      </ul>
    </div>