    <div class="site-menu">
      <div class="text-center pt-7 sidebar-top">
        <img src="/assets/img/isotipo_upc.png" class="inline-block">
      </div>
      <ul class="list-unstyled nav-main">
        <li class="inicio">
          <a href="{exp:webservices:boton_inicio}">
            <div></div>
            <span>Inicio</span>
          </a>
        </li>
        <li class="mis-estudios menu {if segment_1=='mis-estudios'}current-menu{/if}">
          <a href="{site_url}mis-estudios/ciclo-actual">
            <div></div>
            <span>Mis Estudios</span>
          </a>
          <ul class="list-unstyled">
	          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="8"}
            	<li><a href="{site_url}mis-estudios/{url_title}">{title}</a></li>
            {/exp:channel:entries}
          </ul>
        </li>
        <li class="mis-tramites menu {if segment_1=='mis-tramites'}current-menu{/if}">
          <a href="#">
            <div></div>
            <span>Mis Trámites</span>
          </a>
          <ul class="list-unstyled">
	          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="12"}
            	<li><a href="{site_url}mis-tramites/{url_title}">{title}</a></li>
            {/exp:channel:entries}	          
          </ul>
        </li>
        <li class="mis-finanzas menu {if segment_1=='mis-finanzas'}current-menu{/if}">
          <a href="#">
            <div></div>
            <span>Mis Finanzas</span>
          </a>
          <ul class="list-unstyled">
	          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="17"}
            	<li><a href="{site_url}mis-finanzas/{url_title}">{title}</a></li>
            {/exp:channel:entries}	          
          </ul>          
        </li>
        <li class="mis-reservas menu {if segment_1=='mis-reservas'}current-menu{/if}">
          <a href="#">
            <div></div>
            <span>Mis Reservas</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="23"}
          	<li><a href="{site_url}mis-reservas/{url_title}">{title}</a></li>
          {/exp:channel:entries}	
          </ul>             
        </li>
        <li class="ci menu">
          <a href="#">
            <div></div>
            <span>CI</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="24"}
          	<li><a href="{site_url}centro-de-informacion/{url_title}">{title}</a></li>
          {/exp:channel:entries}
          </ul>	          
        </li>
        <li class="ayuda menu">
          <a href="{site_url}ayuda">
            <div></div>
            <span>Ayuda</span>
          </a>
        </li>
      </ul>
    </div>