    <div class="site-menu hidden-sm hidden-xs">
      <ul class="list-unstyled nav-main">
        {exp:channel:entries channel="sidebar_padre" dynamic="off" orderby="date" sort="asc"}
          {if segment_1==url_title} 
          <li class="{url_title} menu current-menu sidebar-item">
          {if:else}
          <li class="{url_title} menu sidebar-item"> 
          {/if}
            <a href="{url-root-item}">
              <div></div>
              <span>{title}</span>
            </a>
            {embed="includes/subitems-sidebar-padres" category="{id_categoria_subitems}" item="{url_title}"}
          </li>
        {/exp:channel:entries}
      </ul>
    </div>