    <div class="site-menu hidden-xs">
      <ul class="list-unstyled nav-main">
        <li class="mis-estudios menu">
          <a href="#">
            <div></div>
            <span>Sus Estudios</span>
          </a>
          <ul class="list-unstyled">
            <li><a href="#">Ciclo Actual</a></li>
            <li><a href="#">Notas Detalladas</a></li>
            <li><a href="#">Sus Exámenes</a></li>
            <li><a href="#">Su Seguro</a></li>
          </ul>
        </li>
        <li class="mis-tramites menu">
          <a href="#">
            <div></div>
            <span>Sus Trámites</span>
          </a>
        </li>
        <li class="mis-finanzas menu">
          <a href="#">
            <div></div>
            <span>Mis Finanzas</span>
          </a>
        </li>
        <li class="info-gral-padres menu">
          <a href="#">
            <div></div>
            <span>CI</span>
          </a>
          <ul class="list-unstyled">
          {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="43"}
            <li><a href="{site_url}informacion-general-padres/{url_title}">{title}</a></li>
          {/exp:channel:entries}
          </ul>   
        </li>
        <li class="ayuda menu">
          <a href="#">
            <div></div>
            <span>Ayuda</span>
          </a>
        </li>
      </ul>
    </div>