      <div class="site-menu">
        <ul class="list-unstyled nav-main">
          <li>
            <a href="#">
              <div></div>
              <span>Inicio</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div></div>
              <span>Mis Estudios</span>
            </a>
            <ul class="list-unstyled">
              <li><a href="#">Ciclo Actual</a></li>
              <li><a href="#">Notas Detalladas</a></li>
              <li><a href="#">Mi Carrera</a></li>
              <li><a href="#">Inglés</a></li>
              <li><a href="#">Talleres</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <div></div>
              <span>Mis Reservas</span>
            </a>
            <ul class="list-unstyled">
              <li><a href="#">Ciclo Actual</a></li>
              <li><a href="#">Notas Detalladas</a></li>
              <li><a href="#">Mi Carrera</a></li>
              <li><a href="#">Inglés</a></li>
              <li><a href="#">Talleres</a></li>
            </ul>
          </li>
          <li>
            <a href="#">
              <div></div>
              <span>CI</span>
            </a>
          </li>
          <li>
            <a href="#">
              <div></div>
              <span>Ayuda</span>
            </a>
          </li>
        </ul>
      </div>