    <div class="site-menu">
      <div class="text-center pt-7 sidebar-top">
        <img src="/assets/img/isotipo_upc.png" class="inline-block">
      </div>
      <ul class="list-unstyled nav-main">
        <li class="inicio">
          <a href="#">
            <div></div>
            <span>Inicio</span>
          </a>
        </li>
        <li class="mi-docencia menu">
          <a href="#">
            <div></div>
            <span>Mi Docencia</span>
          </a>
          <ul class="list-unstyled">
            <li><a href="#">Ciclo Actual</a></li>
            <li><a href="#">Cursos Detallados</a></li>
          </ul>
        </li>
        <li class="mis-tramites menu">
          <a href="#">
            <div></div>
            <span>Mis Trámites</span>
          </a>
          <ul class="list-unstyled">
            <li><a href="#">aaaa</a></li>
            <li><a href="#">bbb</a></li>
            <li><a href="#">ccc</a></li>
            <li><a href="#">ddd</a></li>
            <li><a href="#">fff</a></li>
          </ul>
        </li>
        <li class="mis-alumnos menu">
          <a href="#">
            <div></div>
            <span>Alumnos</span>
          </a>
        </li>
        <li class="mis-reservas menu">
          <a href="#">
            <div></div>
            <span>Mis Reservas</span>
          </a>
        </li>
        <li class="ci menu">
          <a href="#">
            <div></div>
            <span>CI</span>
          </a>
        </li>
        <li class="ayuda menu">
          <a href="#">
            <div></div>
            <span>Ayuda</span>
          </a>
        </li>
      </ul>
    </div>