<ul class="list-unstyled">
  {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="{embed:category}"}
	{if embed:category == 3|| embed:category == 6 || embed:category == 7 || embed:category == 9 || embed:category == 10||
	embed:category == 25||
	embed:category == 22}
		{if {entry_id} > 303}
			<li><a id="lnk_int_{title}" href="{site_url}general/{embed:item}/{url_title}">{title}</a></li>
		{if:else}
			<li><a id="lnk_int_{title}" href="{site_url}{embed:item}/{url_title}">{title}</a></li>
		{/if}
	{if:else}
		<li><a id="lnk_int_{title}" href="{site_url}general/{embed:item}/{url_title}">{title}</a></li>
	{/if}
  {/exp:channel:entries}
</ul>