  {exp:channel:entries channel="seccion" disable="custom_fields|member_data|pagination" dynamic="off" category="{embed:category}"}
	{if embed:category== 8|| embed:category == 12 || embed:category== 17 || embed:category==23 || embed:category== 24 || embed:category== 32|| embed:category == 31 || embed:category== 39 || embed:category== 46}
		<li><a href="{site_url}{embed:item}/{url_title}">{title}</a></li>
	{if:else}
		<li><a href="{site_url}general/{embed:item}/{url_title}">{title}</a></li>
	{/if}
  {/exp:channel:entries} 
