r<div class="panel pt-14">
  <div class="panel-head no-bg">
    <div class="panel-title">
      <h2>Temas</h2>
    </div>
  </div>
  <div class="panel-body">
    <div class="panel-table otras-acciones ">
      <ul class="tr">
    {exp:channel:categories category_group="18"}
        {if {category_id} == segment_2}
        <a href="{site_url}ayuda/{category_id}"><div class="panel-head-link danger"></div>
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon danger"></div>
            <div class="zizou-14">{category_name}</div>
          </li>
        </a>
        {if:else}
          <a href="{site_url}ayuda/{category_id}"><div class="panel-head-link black"></div>
          <li class="bg-muted p-7 mb-7">
            <div class="custom-icon danger"></div>
            <div class="zizou-14">{category_name}</div>
          </li>
        </a>
        {/if}
    {/exp:channel:categories}
      </ul>
    </div>
  </div>
</div>
