<!-- Modal starts -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Place somewhere in the <body> of your page -->
        <div class="flexslider">
          <ul class="slides">
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-12.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-13.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-14.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-15.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-16.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-17.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-18.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-19.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_mobile_AYU-20.png" /></li>
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal ends -->