<!-- Modal starts -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <!-- Place somewhere in the <body> of your page -->
        <div class="flexslider">
        <div id="load-tutorial-message"><span class="zizou-16">Actualizando tutorial...</span></div>
          <ul class="slides">
            <!-- <li><img src="{site_url}assets/img/tutorial_web_01.png" /></li> 
             <li><img src="{site_url}assets/img/tutorial_web_02.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_03.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_04.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_05.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_06.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_07.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_08.png" /></li>
          <li><img src="{site_url}assets/img/tutorial_web_09.png" /></li>
            <li><img src="{site_url}assets/img/tutorial_web_10.png" /></li> -->  
            
            {exp:channel_images:images url_title="tutorial-general" paginate="bottom"}
               <li><img src="{image:url}" alt="{image:title}"/></li>
            {/exp:channel_images:images} 
          </ul>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal ends -->