{exp:channel:entries channel="configuracion_tutorial" status="Open"}

<!-- Modal starts {habilitar_tutorial_en} -->
{if "{dirigido_a}" == "{exp:webservices:tipo_usuario}"} 
  {if "{dirigido_a}" == "Alumno"}
    {if "{modalidad_tutorial_settings}" == "{exp:webservices:get_modalidad_alumno}" || "{modalidad_tutorial_settings}"=="Todas"}
      <div class="modal fade {habilitar_tutorial_en}{if item =='dashboard' }dashboard-modal{/if} {if item =='dashboard' }inicio-modal{/if} {/habilitar_tutorial_en}" id="{habilitar_tutorial_en}{if item =='ver tutorial' }myModal{if:else}modalBasic{/if}{/habilitar_tutorial_en}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
            <h1>{title} 1</h1>
              <!-- Place somewhere in the <body> of your page -->
              <div class="flexslider">
                <ul class="slides">
                  
                  {exp:channel_images:images url_title="{url_title}" paginate="bottom"}
                     <li><img src="{image:url}" alt="{image:title}"/></li>
                  {/exp:channel_images:images} 
                </ul>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    {/if}
  {if:else}

      <div class="modal fade {habilitar_tutorial_en}{if item =='dashboard' }dashboard-modal{/if} {if item =='dashboard' }inicio-modal{/if} {/habilitar_tutorial_en}" id="{habilitar_tutorial_en}{if item =='ver tutorial' }myModal{if:else}modalBasic{/if}{/habilitar_tutorial_en}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Place somewhere in the <body> of your page -->
            <h1>{title} 2</h1>
            <div class="flexslider">
              <ul class="slides">
                
                {exp:channel_images:images url_title="{url_title}" paginate="bottom"}
                   <li><img src="{image:url}" alt="{image:title}"/></li>
                {/exp:channel_images:images} 
              </ul>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  {/if}
{/if}
{if  no_results} <span class="nohayhhh"></span> {/if}
{/exp:channel:entries}
<!-- Modal ends -->