{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header-padres"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content">
      <div class="container-fluid">
        <div class="internal-header">
            {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" entry_id="271"}
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="zizou-16">Sus Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-3  section-desc">
                 <span>{introduccion-seccion}</span>
                {/exp:channel:entries}  
                <div class="panel">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Sus Cursos</h3>
                    </div>
                  </div>
                  <div class="panel-body mt-7">
                    <div class="panel-body-head-table">
                      <ul class="tr">
                        <li class="col-xs-9">
                          <div class=""><span>Curso</span></div>
                        </li>
                        <li class="col-xs-3">
                          <div class=""><span>Promedio</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-table no-bg">
                     {exp:webservices:padre_curos_que_lleva_un_alumno_padres codigo_alumno="{last_segment}"}
                    </div>
                  </div>
                </div>
                {if otras-actividades-seccion=='Activar'}
                  {embed="includes/otras-acciones" otras_acciones="{otras-actividades-seccion}"}
                {/if}
              </div>
              <div class="col-sm-8">
                <div class="panel">
                    <div class="panel-head no-bg">
                      <div class="panel-title left">
                        <h3>Su Horario Semanal</h3>
                      </div>
                    </div>
                    {exp:webservices:padre_horario_ciclo_actual_alumno codigo_alumno="{last_segment}"}
                </div>
              </div>
          </div>
      </div>
    </div>  
  </div>

 
{embed="includes/footer"}   
