{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header-padres"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content notas-detalladas">
      <div class="container-fluid">
        <div class="internal-header">
            {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" entry_id="274"}
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="zizou-16">Sus Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span id="top" class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
          <div class="row">
            <div class="col-sm-0-5"></div>        
            <div class="col-sm-3 section-des">
                <span>{introduccion-seccion}</span>
            {/exp:channel:entries} 

                <div id="todos-cursos-hijo"> 
                  <div class="panel-body" id="cargador-todos-cursos-hijo" style="height:100px; background-color:#fff">
                  </div>
                </div> 

                {embed="includes/otras-acciones" otras_acciones="{otras-actividades-seccion}"}
            </div>
            <div class="col-sm-8">
              <div class="panel">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Notas por Curso</h3>
                  </div>
                </div>

                <div id="cursos-padre"> 
                  <div class="panel-body" id="cargador-cursos-padre" style="height:100px; background-color:#fff">
                  </div>
                </div> 
              </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
{embed="includes/footer"}   
<script src="{site_url}js/app/src/notas_detalladas_ajax_padre.js.php?url='{site_url}'"></script>