{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header-padres"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content notas-detalladas">
      <div class="container-fluid">
        <div class="internal-header">
            {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" entry_id="274"}
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="zizou-16">Sus Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span id="top" class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
          <div class="row">
            <div class="col-sm-0-5"></div>        
            <div class="col-sm-3 section-des">
                <span>{introduccion-seccion}</span>
            {/exp:channel:entries} 
                {exp:webservices:padre_todos_los_curos_que_lleva_un_alumno codigo_alumno="{segment_3}"}
                {embed="includes/otras-acciones"}
            </div>
            <div class="col-sm-8">
              <div class="panel">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h2>Notas por Curso</h2>
                  </div>
                </div>
                {exp:webservices:padre_notas_alumno_por_curso codigo_alumno="{segment_3}"}
              </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
{embed="includes/footer"}   
