{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-padres"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content container notas-detalladas">
      <div class="internal-header">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4"><span class="zizou-16">Sus Estudios</span></div>
          </div>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-4"><span id="top" class="uppercase bold xl">Notas Detalladas</span></div>
          </div>
      </div>  
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>        
          <div class="col-sm-3">
              {embed="includes/otras-acciones"}
          </div>
          <div class="col-sm-8">
            <div class="panel">
              <div class="panel-head no-bg">
                <div class="panel-title left">
                  <h2>Notas por Curso</h2>
                </div>
              </div>
              {exp:webservices:padre_notas_alumno_por_curso codigo_alumno="{last_segment}"}
            </div>  
          </div>
        </div>
    </div>
  </div>
{embed="includes/footer-no-scripts"}
{embed="includes/footer"}   
