{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/sidebar"}
    <div class="site-content">
	    {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination|categories" entry_id="93" }
      <div class="internal-header">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="zizou-16">Necesitas</span></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="uppercase bold xl">{title}</span></div>
        </div>
      </div>   
      {/exp:channel:entries}   
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-8 resultados">
              {exp:channel:entries channel="ayuda" limit="20" disable="member_data" dynamic="off"}
                <ul class="list-unstyled">
                  <li>
                    <div class="resultado-heading"><img src="{site_url}assets/img/black_arrow_tiny.png" alt="">{title}</div>   
                    <div class="resultado-content">
                      {intro-noticia}
                      <a class="zizou-16 black" href="{site_url}ayuda/post/{url_title}">Leer más</a>                          
                    </div>     
                  </li>
                </ul>
  						    
  					    {paginate}
  					      <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
  					    {/paginate}
  						{/exp:channel:entries} 		            
          </div>
        </div>
      </div>
      </div>
{embed="includes/footer"}   