{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-docentes"}
{embed="includes/sidebar_docente"}

    <div class="site-content ciclo-actual">
    {exp:channel:entries channel="seccion" limit="1" entry_id="99"}
      <div class="internal-header">
          <div class="row first-line">
            <div class="col-sm-1"></div>
            <div class="col-sm-4"><span>Mi Docencia</span></div>
          </div>
          <div class="row second-line pb-14">
            <div class="col-sm-1"></div>
            <div class="col-sm-4"><span>{title}</span></div>
          </div>
      </div>  
      <div class="section-content pb-70">
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
              <div class="panel">
                <div class="panel-head">
                  <div class="panel-head-left">
                    <div class="panel-title">
                      <h2>Mis Cursos</h2>
                    </div>
                  </div>
                </div>
                <div class="panel-body">

                   {exp:webservices:lista_cursos_dictados_link_alumnos_profesor}

                </div>
              </div>
              	{embed="includes/otras-acciones-docentes"}
            </div>
    {/exp:channel:entries}        
            <div class="col-sm-8">
              <div class="panel">
                {if post:Flag=='buscar-curso'}                 
									{exp:webservices:lista_alumnos_matriculados_en_curso_por_profesor
										modalidad="{post:Modalidad}"
										periodo="{post:Periodo}"
										curso="{post:Curso}"
										seccion="{post:Seccion}"
										grupo="{post:Grupo}"
									}         
								{/if}
								{if post:Flag=='notas'}
									{exp:webservices:consulta_notas_alumno_por_un_profesor codalumno="{post:codalumno}" cursoid="{post:cursoid}" nombrealumno="{post:nombrealumno}"}
								{/if}
              </div>
            </div>
        </div>
    </div>
  </div>

{embed="includes/footer"}   