.msge-container {
	background-color: $brand-info;
	border-bottom: 2px solid $brand-danger;
	color:white;
	.msge-text {
		padding: 7px 0px 3px 0px;
	}
	a{
		color:white;
		text-decoration: underline;
	}
}

.noticias-widget {
	@media #{$md-down} and (orientation: landscape) {
		margin-bottom: 14px;
	}
}

.vida-universitaria {
	display: inline-block;
	@media only screen and (width: 1024px) {
		display: block;
	}
	@media only screen and (width: 960px) {
		display: block;
	}
	@media only screen and (width: 768px) {
		display: block;
	}
	@media only screen and (min-width: 1025px) {
		display: block;
	}
}

.quick-access {
	@media only screen and (width: 768px) {
		padding-bottom: 14px !important;
	}
}

#acrd-estudiante {
	background-color:transparent;
	&.collapsed{
		background-color:#ffffff;
	}
}