.site-content {
	background-color: $gray-dark;
	padding-left: 80px;
	.mi-horario {
		.panel {
			.panel-body {
				.row {
					display: table;
						[class^='col'] {
									display: table-cell;
									vertical-align: middle;
						}
					  .col-sm-1.hora {
					  border-right: 2px solid $gray;
					  font-size: 10px;
					  padding-right: 35px;
					  min-height: 40px;
					  }
            .col-sm-1.category {
            border-right: 2px solid $gray;
					  font-size: 10px;
					  padding-right: 36px;
					  min-height: 40px;
            }
            .col-sm-6.curso {
            border-right: 2px solid $gray;	
            font-size: 10px;
            min-height: 40px;
					  border-height: 90%;
            }
            .col-sm-2.aula {
            font-size: 10px;
            }
				}
			}
		}
	}
	.col-sm-8 {
		.row {
				.mis-cursos {
					.panel {
						padding-bottom: 0px;
						margin-bottom: 0px;
						border: none;
						.panel-heading {

						}
						.panel-body {
							padding-bottom: 0px;
							margin-bottom: 0px;
							.row {
								border-bottom: 8px solid $gray-light;
								min-height: 30px;
								vertical-align: center;
							}
						}
					}
				}
				.mis-reservas {
					.panel {
						.panel-heading {

						}
						.panel-body {
							.row {
								display: table;
								min-height: 30px;
								[class^='col'] {
									display: table-cell;
									vertical-align: middle;
								}
								.col-sm-2.fecha {
									border-right: 2px solid $gray-light;
									border-height: 90%;
								}
								.col-sm-2.hora {
									border-right: 2px solid $gray-light;
								}
								.col-sm-6.recurso {
									border-right: 2px solid $gray-light;
								}
							}
						}
					}
				}
		}
	}
}

.panel-heading {
	padding: 2px 14px;
}

th {
	padding: 2px 8px !important;
}

#carousel-example {
	.carousel-inner {
		.item {
			.carousel-content {
			  color:black;
			  display:flex;
			  align-items:center;
			  // height: 90px;
			  .row {
				padding: 10px 35px;
			  }
			}
		}
	}
	.carousel-control {
		background: none;
		width: 8%;
	}
}

