.site-header {
	.container-fluid {
		padding: 0;
		.header-global {
			color: $gray-light;
			text-transform: uppercase;
			background-color: white;
			height: 40px !important;
			.pull-left {
				&.crisol {
					width: 79px;
				}
			}
		}
		.header-iframe {
			background-image:url("../assets/img/trama.png");
			background-position: 7% 80%;
			// padding-left: 28px;
			border-bottom: 1px solid $gray-main;
			height: 80px;
			.pull-right {
				padding-left: 14px;
				padding-right: 14px;
				padding-top: 7px;
				height: 100%;
				width: 163px;
				@media #{$md-down} {
					width: 132px;
				}
				@media #{$xs-only} {
					width: 113px;
				}
			}
		}
		.header-no-global {
			padding-right: 35px !important;
			border-bottom: 1px solid #d3d3d3 !important;
			background-image:url("../assets/img/header_no_global.png");
			background-size: cover;
			// background-color: rgba(133, 165, 68,1);
			background-position-x: right;
			background-repeat: no-repeat;
			height: 100px;
			@include bold;
			// text-transform: uppercase;
			text-align: center;
			&.header-estudiante{
				background-image:url("../assets/img/header_no_global_estudiante.png");
			}
			&.header-docente{
				background-image:url("../assets/img/header_no_global_docente.png");
			}
			&.header-padre{
				background-image:url("../assets/img/header_no_global_padre.png");
			}
			.inicio {
				background-color: white;
				color: $gray-light;
				display: inline-block;
				float: left;
				height: 100%;
				width: 79px;
				// padding: 28px 21px;
				.inicio-icon {
					background-image:url("../assets/img/home_black.png");
					background-repeat: no-repeat;
					height: 35px;
					width: 32px;
					margin: 26px 0 0px 24px;
				}
			}
			.pull-left {
				ul {
					padding-top: 18px;
					padding-left: 28px;
					list-style: none;
					li {
						a:hover {
							color: white;
						}
						float: left;
						color: white;
						img {
							margin-left: auto;
							margin-right: auto;
						}
						span {
							@include bold;
							font-size: 16px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			.pull-right {
				@include serif-thin;
				text-transform: none !important;
				padding-top: 7px;
				padding-bottom: 3px;
				ul {
					li {
						display: inline-block;
					}
				}
				.dropdown {
					width: 84px;
					#dropdownMenu1 {
						img {
							border: none;
							&.user {
								width: 65px;
							}
						}
					}
					ul.dropdown-menu {
						left: -86px;
						top: 97px;
						border-radius: 0px;
						box-shadow: 5px 5px 5px #B0B1B2 !important;
						li {
							display: block !important; 
							width: 100%;
						}
					}
				}
			} 	
		}
	}
}
// mobile nav
#mobile-nav {	
	position: fixed;
	background-color: white;
	z-index: 31;
	width: 100%;
	padding: 7px 14px;
}

#collapseMobile {
	padding-top: 54px;
	@media #{$xs-only}{
		padding-top : 60px;
	}
	position: fixed;
	z-index: 30;
	width: 100%;
	overflow-y: scroll;
	height: 100%;
	ul.mobile-menu {
		> li {
			cursor: pointer;
			padding-left: 21px !important;
			padding-top: 6px;
			padding-bottom: 6px;
			a{
				display: block;
			}
			a, span {
				@include book;
				color: white !important;
				font-size: 20px !important;
				text-transform: uppercase;
			}
			&:nth-child(even) {
				background: $gray-light;
			}
			&:nth-child(odd) {
				background: $gray-lighter;
				a, span {
				color: $gray-main !important;
				}
			}
			@include serif-book;
			font-size: 24px;
		}
	}
	.child li {
		padding-left: 21px !important;
	}
}


.search-trigger {
	padding-top: 5px;
	cursor: pointer;
}