.site-header {
	&.non-fixed{
		position: relative!important;
	}
	.container-fluid {
		padding: 0;
		.header-global {
			color: $gray-light;
			text-transform: uppercase;
			background-color: white;
			height: 40px !important;
			.pull-left {
				&.crisol {
					width: 79px;
				}
			}
		}
		.header-iframe {
			background-image:url("../assets/img/trama.png");
			background-position: 7% 80%;
			// padding-left: 28px;
			border-bottom: 1px solid $gray-main;
			.pull-right {
				padding-left: 14px;
				padding-right: 14px;
				padding-top: 7px;
				height: 100%;
				width: 163px;
				@media #{$md-down} {
					width: 132px;
				}
				@media #{$xs-only} {
					width: 113px;
				}
			}
			&#mobile-nav{
				position:relative!important;
				padding:0px;
				@media #{$md-down} {
					a{
						color: white;
					}
				}
				img.back-img{
					width:27px;
				}
			}
		}
		.header-no-global {
			padding-right: 35px !important;
			border-bottom: 1px solid #d3d3d3 !important;
			background-image:url("../assets/img/header_no_global.png");
			background-size: cover;
			// background-color: rgba(133, 165, 68,1);
			background-position-x: right;
			background-repeat: no-repeat;
			height: 100px;
			@include bold;
			// text-transform: uppercase;
			text-align: center;
			&.header-estudiante{
				background-image:url("../assets/img/header_no_global_estudiante.png");
			}
			&.header-docente{
				background-image:url("../assets/img/header_no_global_docente.png");
			}
			&.header-padre{
				background-image:url("../assets/img/header_no_global_padre.png");
			}
			.inicio {
				background-color: white;
				color: $gray-light;
				display: inline-block;
				float: left;
				height: 100%;
				width: 79px;
				// padding: 28px 21px;
				.inicio-icon {
					background-image:url("../assets/img/home_black.png");
					background-repeat: no-repeat;
					height: 35px;
					width: 32px;
					margin: 26px 0 0px 24px;
				}
			}
			.pull-left {
				ul {
					padding-top: 18px;
					padding-left: 28px;
					list-style: none;
					li {
						a:hover {
							color: white;
						}
						float: left;
						color: white;
						img {
							margin-left: auto;
							margin-right: auto;
						}
						span {
							@include bold;
							font-size: 16px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}
			.pull-right {
				@include serif-thin;
				text-transform: none !important;
				padding-top: 7px;
				padding-bottom: 3px;
				ul {
					li {
						display: inline-block;
					}
				}
				.dropdown {
					width: 84px;
					#dropdownMenu1 {
						img {
							border: none;
							&.user {
								width: 65px;
							}
						}
					}
					ul.dropdown-menu {
						left: -86px;
						top: 97px;
						border-radius: 0px;
						box-shadow: 5px 5px 5px #B0B1B2 !important;
						li {
							display: block !important; 
							width: 100%;
						}
					}
				}
			} 	
		}
	}
}
// mobile nav
#mobile-nav {	
	position: fixed;
	// background-color: white;
	z-index: 300;
	width: 100%;
	padding: 7px 14px;

	.white-header{
		background-color: #FFFFFF;
	}
	.blue-menu{
		background-color: #3298FF;
		.blue-menu-option{
			a > img{
				margin:auto;
				height: 30px;
			}
			&:first-child{
				@media screen and (max-width:350px){
					a > img {
						margin-left: 0px;
					}
				}
			}
			.button{
				height: 30px;
				padding-top: 3px;
				padding-bottom: 3px;
				span {color: #ffffff}
				@media screen and (max-width:350px){
					span{ display : none;}
				}
			}
		}

		.btn-info{
			border:0px
		}
		.border-white-right{
			border-left: 2px #FFFFFF solid;
		}
	}
}

#collapseMobile {
	padding-top: 54px;
	@media #{$xs-only}{
		padding-top : 90px;
	}
	position: fixed;
	z-index: 30;
	width: 100%;
	overflow-y: scroll;
	height: 100%;
	ul.mobile-menu {
		> li {
			cursor: pointer;
			padding: 14px 21px !important;
			padding-top: 6px;
			padding-bottom: 6px;
			a{
				display: block;
			}
			a, span {
				@include book;
				color: white !important;
				font-size: 20px !important;
				text-transform: uppercase;
			}
			&:nth-child(even) {
				// background: $gray-light;
				background: #58585A;
			}
			&:nth-child(odd) {
				background: #6F7072;
				// background: $gray-lighter;
				a, span {
				// color: $gray-main !important;
				}
			}
			@include serif-book;
			font-size: 24px;
		}
	}
	.child li {
		padding: 3.5px 21px !important;
	}
}

ul.mobile-menu {
	> li {
		cursor: pointer;
		padding: 14px 21px !important;
		padding-top: 6px;
		padding-bottom: 6px;
		> ul li{
			padding: 3.5px 21px !important;
		}
		a{
			display: block;
		}
		a, span {
			// @include book;
			// font-family: "sgothic-lt", Charcoal, sans-serif !important;
			@include light;
			color: white !important;
			font-size: 20px !important;
			text-transform: uppercase;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
		    text-rendering: optimizeLegibility !important;
		    -webkit-font-smoothing: antialiased !important;
		}
		&:nth-child(even) {
			background: #6F7072;
			// background: $gray-light;
		}
		&:nth-child(odd) {
			background: #58585A;
			
			// background: $gray-lighter;
			a, span {
			// color: $gray-main !important;
			}
		}
		// @include serif-book;
		font-family: "sgothic-lt", Charcoal, sans-serif !important;
		font-size: 24px;
	}
}
.child li {
	padding: 14px 21px !important;
}
.search-trigger {
	padding-top: 5px;
	cursor: pointer;
}