$login-max-width : 940px;

@mixin redborder-shadow{
	border-bottom: 2px solid #E42322;
	padding: 0px;
	-webkit-box-shadow: 3px 0px 4px 0px rgba(131, 134, 131,1);
	-moz-box-shadow: 3px 0px 4px 0px rgba(131, 134, 131,1);
	box-shadow: 3px 0px 4px 0px rgb(131, 134, 131);
}
html, .grid-bg{
	background-image:none;
	background-color:#ffffff;
}
body{
//	background-image:url("../assets/img/fondo-escaleras.png");
//	background-color:#F0F0F0;
}
.site-content {
	&.login {
		background-image:url("../assets/img/tramaMat.jpg");
		background-color:#ffffff;
		margin-top: 0px;
		padding-bottom: 0px;
		padding-top: 0;
		@media #{$md-down} {
			padding-top: 41px;
			padding-bottom: 0px;
			// min-height: 610px;
		} 
		.img-responsive{
			height: 100%;
			width: 100%;
		}
		.login-floting{
			@include redborder-shadow;
			min-height: 400px;
			.row{
				margin: 0px;
			}
		}
		.pt-60{
			padding-top: 60px;
		}
		.row {
			margin:auto;
			max-width: $login-max-width;
			&.aviso{
				margin-top:40px!important;
				max-width: 100%;
				>div.row{
					margin-left:auto;
					margin-right:auto;
					max-width: $login-max-width;
				}
				@media #{$md-down} {
					margin-top: 0px!important;
				}
			}
			.logo-position{
				margin-top: -24px;
			}
			.col-sm-10,
			.col-sm-11,
			.col-sm-10-5{
				.row {
					.col-md-7 {
						img {
							margin: 0 auto;							
						}
						button {
							float: right;
						}
					}
					.col-md-5.bg-muted {
						border-bottom: 2px solid $brand-danger; 
						form.login-form {
							.row {
								padding:0px 50px;
								div{
									input.form-control {
									  border-radius: 0px !important;
									  border: 0px !important;
									  background-color: $gray-lighter;
									  color: black !important;
									  font-family: "zizou-slab-regular" !important;
									}

								}
							}
						}
						.pwd-mismatch {
							margin-top: 28px !important;
						}
						@media #{$md-down} {
							padding-bottom: 44px!important;
						}
					}
					&.aviso {
						margin-top: -7px !important;
						.col-sm-7 {
							border-top: 4px solid $brand-danger; 
							margin-top: -1px;
							@media #{$sm-down} {
								border-top: none;
							}
						}
						.col-xs-2, .col-xs-10 {
							padding: 21px 0;
						}
						img {
							margin: 0 auto;
							display: block;
						}
					}
					@media #{$md-down} {
						&.mt-56 {
					 	 	margin-top: 35px!important;
					 	 	margin-top: 2rem!important;
					 	}
					} 
				}
			}
		}
	}

	.login-servicios{
		margin:auto;
		max-width: $login-max-width;
		@include redborder-shadow;
		padding: 25px 0px;
		a{
			.image{
				text-align: center;
				padding-top: 14px;
				img{
					height: 40px;
				}
			}
			.text{
				margin: auto;
				margin-top: 7px;
			}
		}
		>div{
				padding-top: 15px;
		}
		.col-sm-2{
			padding-bottom: 21px;
		}
		.row{
			margin: 0px;
		}

	}
}
.footer {
	line-height: 1;
	width: 100%;
	background-color: $gray-lighter;
	.row {
		margin:0;
		margin-right:auto;
		margin-left:auto;
		max-width: $login-max-width;
		font-family: "zizou-slab-regular" !important;
		div{
			img{
				max-height: 50px;
				@media #{$xs-only} {
				 width: 100%;
				}
			}
			
		}
	}
}
// elige tipo de usuario (usuario.html)
.welcome {
	padding: 0 91px;
	@media #{$lg-down} {
		padding: 0 21px;
	}
	@media #{$xs-only} {
		margin-top: 49px;
	}
	.usuario-container {
		box-shadow: 5px 5px 5px #B0B1B2;
		min-height: 280px;
		.avatar-circle {
			text-align:center; 
			position: relative;
			top: -35px;
			img {
				width: 98px;
				@media #{$xs-only} {
				width: 77px;					
				}
				height: auto;
			}
		}
		.children-avatar {
			width: 70px;
			height: 70px;
			background-image:url("../assets/img/child_avatar.png");
			background-repeat: no-repeat;
			margin: 0 auto;
			&:hover, .active {
				background-image:url("../assets/img/child_avatar_hover.png");
			}
		}
	}
}
