.site-content {
	&.login {
		margin-top: 0px;
		padding-top: 126px;
		padding-bottom: 0px;
		.row {
			margin-left: -14px;
			margin-right: -14px !important;
			.col-sm-10 {
				.row {
					.col-sm-5 {
						img {
							margin: 0 auto;							
						}
						button {
							float: right;
						}
					}
					.col-sm-7.bg-muted {
						padding-bottom: 77px !important;
						border-bottom: 2px solid $brand-danger; 
						form.login-form {
							.row {
								.col-xs-8 {
									input.form-control {
									  border-radius: 0px !important;
									  border: 0px !important;
									  background-color: $gray-lighter;
									  color: black !important;
									}
								}
							}
						}
						.pwd-mismatch {
							margin-top: 28px !important;
						}
					}
					&.aviso {
						margin-top: -7px !important;
						.col-xs-7 {
							padding-top: 35px !important;
							padding-bottom: 35px !important;
						}
						img {
							margin: 0 auto;
							display: block;
						}
					}
				}
			}
			&.footer {
				.col-xs-4, .col-xs-8 {
					padding: 7px !important;
				}
				.col-sm-8 {
					margin-top: 28px !important;
				}
				.col-xs-8 {
					line-height: 12px !important;
					@media #{$xs-only} {
						margin-top: 4px !important;
					}
				}
			}
		}
	}
}
// elige tipo de usuario (usuario.html)
.welcome {
	padding-left: 91px !important;
	padding-right: 91px !important;
	.usuario-container {
		// position: absolute;
		box-shadow: 5px 5px 5px #B0B1B2;
		min-height: 280px;
		.avatar-circle {
			// width: 77px;
			// height: 77px;
			// background-color: white;
			text-align:center; 
			// border-radius: 50%;
			// border: 4px solid $brand-info;
			// margin: 0 auto;
			position: relative;
			top: -35px;
			img {
				width: 105px;
				height: auto;
				border: 2px solid $brand-info;
				background-color: $brand-info;
			}
		}
	}
}
