.section-desc {
	@include serif-light;
	font-size: 14px;
	line-height: 1em !important;
}

.mi-malla {
	margin-top: -14px;
}

.talleres {
	.talleres-disp-head {
		margin-top: -15px;
	}
}

.site-content {
	@media #{$md-down} {
		margin-top: 7px !important;
	} 
	&.ciclo-actual, &.notas-detalladas {
		margin-top: 77px;
		.section-content .row {
			.col-sm-3 {
				.keep-reading {
					color: $brand-info;
					@include serif-book;
				}
			}
		}
	}
	&.mi-perfil {
		margin-top: 91px !important;
		.section-content .row {
			.col-sm-8 {
				.panel-table {
					.tag {
						@include bold;
						float: left;
						font-size: rem(12px) !important;
						font-size: 12px !important;
					}
					.data {
						@include alt-book;
						font-size: rem(12px) !important;
						font-size: 12px !important;
					}
				}
			}
		}
	}
	&.multi-perfil {
		min-height: 100%;
		padding-right: 0;
		margin-top: 49px;
		.pic {
			margin: 0 auto;
			max-width: 105px !important;
			img.img-circle {
				border: 7px white solid;
			}
		}
		.row {
			.pick-child {
				display: inline-block !important;
				padding-left: 14px;
				padding-right: 14px;
				.child-pic {
					border-radius: 50px;
					border: 4px white solid;
					padding: 3px;
					&.active {
					border: 4px $brand-danger solid;
					}
				}
				img {
				max-height: 56px;
				}
				span {
					@include book;
					font-size: 21px;
					text-transform: uppercase;
				}
			}
		}
		.panel .panel-body .panel-table .tr {
			border: none;
		}
	}
}