.mi-malla {
	margin-top: -14px;
}

.talleres {
	.talleres-disp-head {
		margin-top: -15px;
	}
}

.go-to-top, .curso-link {
	cursor: pointer;
}

//ciclo actual
.ciclo-actual {
	.panel-table.red-line {
		.col-sm-10 {
			padding-top: 21px !important;
			@media #{$xs-only} {
				padding-top: 7px !important;
			} 
		}
		.col-xs-12 {
			@media #{$xs-only} {
				text-align: center;
			} 
		}
	}	
}

@mixin highlight-color($background, $color, $border){
	padding: 3px 3px;
	background: $background;
	color:$color;
	border: 1px solid $border;
}

@mixin notas-color($background, $color, $border){
	width: 40px;
	@include highlight-color($background, $color, $border);
}
@mixin tramites-color($background, $color, $border){
	width: auto;
	@include highlight-color($background, $color, $border);
}
.notas-blue {
	@include notas-color(#3298FF, #FFFFFF, none);

}
.notas-red {
	@include notas-color(#e74c3c, #FFFFFF, none);

}
.notas-lred {
	@include notas-color(transparent, #565658, #e74c3c);

}
.notas-lblue {
	@include notas-color(transparent, #565658, #3298FF);

}

.tramites-blue {
	@include tramites-color(#3298FF, #FFFFFF, none);

}
.tramites-red {
	@include tramites-color(#e74c3c, #FFFFFF, none);

}
.tramites-lred {
	@include tramites-color(transparent, #565658, #e74c3c);

}
.tramites-lblue {
	@include tramites-color(transparent, #565658, #3298FF);

}

.notas-sp, 
.tramites-sp{
	padding: 3px 3px;
}