.mis-reservas-reservar {
	.section-content {
		.reservas-select-group {
			padding-left: 14px;
			padding-right: 14px;
			padding-bottom: 56px;
			form {
				.row {
					@media #{$xs-only} {
						padding-left: 14px !important;
					}
					.col-xs-8 {
						padding: 0 !important;
					}
					.col-xs-4 {
						margin-top: 14px;
						padding: 0 !important;
					}
				}
			}
			.reservas-select {
				-webkit-appearance: none !important;
				-moz-appearance: none !important;
				appearance: none !important;
				width: 100%;
				&.arrow {
					background: url(../assets/img/select_black.png) no-repeat right;
				}
				&.calendar {
					background: url(../assets/img/calendario_black.png) no-repeat right;
				}
				margin-bottom: 7px;
				height: 35px;
				border-radius: 0px !important;
			}
		}
		.col-sm-6.disponibilidad {
			@media #{$xs-only} {
				padding-right: 35px !important;
				margin-top: 42px !important;
			}
		}
	}
}

//datepicker
.ui-datepicker {
	@include serif-book;
	font-size: 14px;
}
// error validation 
label.error {
	@include alt-book;
	color:$brand-danger;
	text-align: left;
}
#ui-datepicker-div{
  display: none;
}
