.mis-reservas-reservar {
	.section-content {
		.col-md-8 {
			padding-right: 70px;
			@media #{$md-down} {
				padding-right: 14px;
			}
		}
		.reservas-select-group {
			padding-left: 14px;
			padding-right: 14px;
			padding-bottom: 56px;
			form {
				.row {
					@media #{$xs-only} {
						padding-left: 14px !important;
					}
					.col-xs-8 {
						padding: 0 !important;
					}
					.col-xs-4 {
						margin-top: 14px;
						padding: 0 !important;
					}
				}
			}
			.reservas-select {
				-webkit-appearance: none !important;
				-moz-appearance: none !important;
				appearance: none !important;
				width: 100%;
				&.form-control {
					font-size: 16px !important;
					font-size: rem(16px) !important;
				}
				.caret {
					background: url(../assets/img/select_black.png) no-repeat right;
					width: 42px;
					height: 98%;
					top: 3px;
					right: 0;
					border: none;
					@media only screen and (width: 1024px) {
						top: 0;
						height: 30px;
					}
					@media only screen and (width: 768px) {
						height: 33px;
					}
					@media only screen and (width: 600px) {
						height: 33px;
					}
					@media #{$md-down}{
						background: url(../assets/img/select_black_2x.png) no-repeat center;
						height: 44px;
					}
				}
				.btn {
					border-radius: 0;
					font-size: 16px;
					font-size: rem(16px);
					color: $gray-main;
					padding-bottom: 4px;
					height: 35px;
					@media #{$md-down}{
						height: 45px;
					}
					@media only screen and (width: 1024px) {
						padding-bottom: 0;
						font-size: 14px;
						font-size: rem(14px);
						height: 28px;
					}
				}
				&.calendar {
					background: url(../assets/img/calendario_black.png) no-repeat right;
					cursor: default;
					@media #{$md-down}{
						background: url(../assets/img/calendario_black_2x.png) no-repeat right;
						background-size: 41px 45px;
						height: 44px;
					}
				}
				height: 35px;
				@media #{$md-down}{
					height: 45px;
				}
				@media only screen and (width: 1024px) {
					.caret {
						background: url(../assets/img/select_black_sm.png) no-repeat right;
					}
					&.calendar {
						background: url(../assets/img/calendario_black_sm.png) no-repeat right;
					}
					height: 28px;
				}
				margin-bottom: 7px;
				border-radius: 0px !important;
			}
		}
		.col-sm-6.disponibilidad {
			@media #{$xs-only} {
				padding-right: 35px !important;
				margin-top: 42px !important;
			}
		}
	}
}

//datepicker
.ui-datepicker {
	@include serif-book;
	font-size: 14px;
}
// error validation 
label.error {
	@include alt-book;
	color:$brand-danger;
	text-align: left;
}
#ui-datepicker-div{
  display: none;
}

.icon-clock{
	@media #{$md-down} {
		height: 50px;
	}
	@media #{$md-up} {
		width: 80%;
    	max-width: 70px;
	}
}
