.section-desc {
	@include serif-light;
	font-size: 14px;
	line-height: 1em !important;
}

.mi-malla {
	margin-top: -14px;
}

.talleres {
	.talleres-disp-head {
		margin-top: -15px;
	}
}

.site-content {
	@media #{$md-down} {
		margin-top: 7px !important;
	} 
	&.mi-perfil {
		margin-top: 91px !important;
		.section-content .row {
			.col-sm-8 {
				.panel-table {
					.tag {
						@include bold;
						float: left;
						font-size: rem(12px) !important;
						font-size: 12px !important;
					}
					.data {
						@include alt-book;
						font-size: rem(12px) !important;
						font-size: 12px !important;
					}
				}
			}
		}
	}
}