.col-center{
  margin:0 auto;
}

.col-xs-center{
	@media #{$md-down} {
	  	margin:0 auto;
	}
}
.buscar {
	.resultados {
		@media #{$xs-only} {
			padding-top: 28px;
		}
	}
}
.otras-acciones-arrow {
	background-image:url("../assets/img/black_down.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	float: right;
	height: 42px;
	width: 49px;
	-webkit-transition: background-image 1s;
	&.open {
		-webkit-transform: rotate(180deg);
	}
}

.horario-survey{
	.survey-block{
		// background-color: #e4fcfc;
		color:#3298ff;
	}
	div.br-no{
		border-right:0px!important;
	}
	img{
		max-width: 150px;
		width: 100%;
	}
	a span{
		color:#3298ff;
	}
	a.inactive {
		& span{
			color:#afb1b2;
			cursor: default;;
		}
		&:hover{
			color:#afb1b2;
			cursor: default;
			text-decoration: none;
		}
	}
	
	span{
		@media #{$sm-down}{
			&.nobg{
				background-color:transparent!important;
				-webkit-flex-grow: 0;
			    -moz-flex-grow: 0;
			    flex-grow: 0;
			    -ms-flex-positive: 0;
			    font-family: "ronnia-condensed" !important;
			    font-weight: 300;
			    font-style: normal;
			    color: #B0B1B2;
			    font-size: 1rem;
			    font-size: 14px;
			    text-align: center;
			    text-transform: uppercase;
			}
		}

	}

	input.survey-submit{
		@include background-image(url("../assets/img/btn-encuesta-ingresar.jpg"));
		    border: 0px;
		    width: 100%;
		    background-size: 100% 100%;
	}

}
@media #{$sm-down}{
	div.br-xs-no{
		border-right:0px!important;
	}
	.mb-xs-0{
		margin-bottom: 0px!important;
	}
	.pt-xs-0{
		padding-top: 0px!important;
	}
	.pl-xs-7{
		padding-left: 7px!important;
	}
	.mt-xs-21{
		margin-top: 21px!important;
	}
	.mt-xs-0{
		margin-top: 0px!important;
	}
	.m-xs-0{
		margin: 0px!important;
	}
	.p-xs-0{
		padding: 0px!important;
	}
	.pr-xs-14{
		padding-right: 14px!important;
	}
	.p-xs-21{
		padding: 21px!important;
	}
	.text-xs-left{
		text-align: left;
	}
	.normal-whitespace-xs{
		white-space: normal!important;
	}
}

@media #{$md-down}{
	.p-sm-21{
		padding: 21px!important;
	}
}

.img-responsive .ad-img {
	width:100%;
}

img.img-responsive.ad-img.margin-auto{
	width:100%;
}

.nowrap{
	white-space: nowrap;
}
.selectpicker{
	@include alt-light;
}