.buscar {
	.resultados {
		@media #{$xs-only} {
			padding-top: 28px;
		}
	}
}
.otras-acciones-arrow {
	background-image:url("../assets/img/black_down.png");
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	float: right;
	height: 42px;
	width: 49px;
	-webkit-transition: background-image 1s;
	&.open {
		-webkit-transform: rotate(180deg);
	}
}

.horario-survey{
	.survey-block{
		// background-color: #e4fcfc;
		color:#3298ff;
	}
	div.br-no{
		border-right:0px!important;
	}
	img{
		max-width: 150px;
		width: 100%;
	}
	a span{
		color:#3298ff;
	}
	a.inactive {
		& span{
			color:#afb1b2;
			cursor: default;;
		}
		&:hover{
			color:#afb1b2;
			cursor: default;
			text-decoration: none;
		}
	}

	span{
		@media #{$sm-down}{
			&.nobg{
				background-color:transparent!important;
				-webkit-flex-grow: 0;
			    -moz-flex-grow: 0;
			    flex-grow: 0;
			    -ms-flex-positive: 0;
			    font-family: "ronnia-condensed" !important;
			    font-weight: 300;
			    font-style: normal;
			    color: #B0B1B2;
			    font-size: 1rem;
			    font-size: 14px;
			    text-align: center;
			    text-transform: uppercase;
			}
		}


	}

}
@media #{$sm-down}{
	div.br-xs-no{
		border-right:0px!important;
	}
}
