<div class="panel">
  <div class="panel-head no-bg">
    <div class="panel-title left">

	      <h3>Calendario  2015-2</h3>
    </div>
  </div>
  <div class="panel-body">
	          <div class="panel-body-head-table">
	            <ul class="tr">
	              <li class="col-xs-4">
	                <div class="fecha"><span>Cuota</span></div>
	              </li>
	              <li class="col-xs-4">
	                <div class=""><span>Emitida el</span></div>
	              </li>
	              <li class="col-xs-4">
	                <div class=""><span>Vence el</span></div>
	              </li>
	            </ul>
	          </div>
	          <div class="panel-table">

	            {exp:webservices:calendario_cuotas_tipo_usuario}
	          
	          </div>

  </div>
</div>        	