{if segment_1_category_id == ''}
  {redirect="404"}
{/if}
{404-segment-2-only}
{embed="includes/head"}
{exp:webservices:iniciar_session}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}
		{exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination"  category="{segment_1_category_id}" entry_id="44"}
    <div class="site-content notas-detalladas">
      <div class="container-fluid">
        <div class="internal-header">
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-4"><span class="zizou-16">Mis Finanzas</span></div>
          </div>
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-4"><span class="uppercase bold xl">{title}</span></div>
          </div>
        </div>   
        <div class="section-content">
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>       
            <div class="col-md-3">
  	          {if introduccion-seccion}
                <div class="section-desc">
  	          		<span>{introduccion-seccion}</span>
                </div>
              {/if} 
                <div class="panel">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Calendario 2016-2</h3>
                    </div>
                  </div>
                  <div class="panel-body">
  				          <div class="panel-body-head-table hidden-xs hidden-sm">
  				            <ul class="tr">
  				              <li class="col-xs-4">
  				                <div class="fecha"><span>Cuota</span></div>
  				              </li>
  				              <li class="col-xs-4">
  				                <div class=""><span>Emitida el</span></div>
  				              </li>
  				              <li class="col-xs-4">
  				                <div class=""><span>Vence el</span></div>
  				              </li>
  				            </ul>
  				          </div>
  				          <div class="panel-table">
  				            {exp:webservices:calendario_cuotas_tipo_usuario}
  				          </div>
                  </div>
                </div>        	
                {embed="includes/otras-acciones" otras_acciones="{otras-actividades-seccion}"} 
                {categories}
                  <?php $category = '{category_id}'; ?>
                {/categories}
                {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}            
            </div>
      {/exp:channel:entries} 
            <div class="col-md-8">
              <div class="panel curso-detalle pt-0">
                <div class="panel-head no-bg">
                  <div class="panel-title">
                    <h3>Pagos Pendientes</h3>
                  </div>
                </div>
              	{exp:webservices:boletas_pendientes_alumno} 
                 {pendiente_dos_meses}
                  {exp:channel:entries channel="mensajes_customizables" status="Open" dynamic="off" url_title="mis-pagos-dos-meses-atrasado" limit="1"}
                    {custom_message}
                  {/exp:channel:entries}
                 {/pendiente_dos_meses}
                 {pendientes_tres_meses}
                  {exp:channel:entries channel="mensajes_customizables" status="Open" dynamic="off" url_title="mis-pagos-tres-meses-atrasado" limit="1"}
                    {custom_message}
                  {/exp:channel:entries}
                 {/pendientes_tres_meses}
                {/exp:webservices:boletas_pendientes_alumno} 
              </div>  
              {embed="includes/dashboard-accesos-rapidos-mobile" cate="<?php echo($category) ?>"}   
            </div>
          </div>
        </div>
      </div>
    </div>
{embed="includes/footer"}   