{exp:channel:entries channel="configuracion_tutorial" url_title="tutorial-general"}

{imagenes_tutorial cover_only="yes"}
    <a href="/gallery/{url_title}/"><img src="{image:url:small}" alt="{image:title}"></a>
{/imagenes_tutorial}

{dirigido_a}

{modalidad_tutorial_settings}

{habilitar_tutorial_en}
{/exp:channel:entries}


{exp:channel_images:images url_title="tutorial-general" paginate="bottom"}
    <img src="{image:url}" alt="{image:title}">
    {image:paginate}
    <p>Page {image:current_page} of {image:total_pages} pages {image:pagination_links}</p>
    {/image:paginate}
{/exp:channel_images:images} 

