{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content container notas-detalladas">
      <div class="internal-header">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="zizou-16">Mis Finanzas</span></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="uppercase bold xl">Mis Pagos</span></div>
        </div>
      </div>   
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>       
          <div class="col-sm-3">
	          {if introduccion-seccion}
              <div class="section-desc">
	          		<span class="zizou-14">{introduccion-seccion}</span>
              </div>
	          {/if}	
              <div class="panel">
                <div class="panel-head no-bg">
                  <div class="panel-title">
                    <h2>Calendario 2015-1</h2>
                  </div>
                </div>
                <div class="panel-body">
				          <div class="panel-body-head-table">
				            <ul class="tr">
				              <li class="col-xs-4">
				                <div class="fecha"><span>Cuota</span></div>
				              </li>
				              <li class="col-xs-4">
				                <div class=""><span>Emitida el</span></div>
				              </li>
				              <li class="col-xs-4">
				                <div class=""><span>Vence el</span></div>
				              </li>
				            </ul>
				          </div>
				          <div class="panel-table">
				            {exp:webservices:calendario_cuotas_tipo_usuario}
				          </div>
                </div>
              </div>        	
              <!--<div class="panel pt-14">
                <div class="panel-head">
                  <div class="panel-head-left">
                    <div class="panel-title serif-light">
                      <h2>Otras Acciones</h2>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-table otras-acciones ">
                    <ul class="tr">
                      <li class="bg-muted p-7 mb-7">
                        <div class="oa-icon">{exp:printfriendly:button custom_button="http://104.131.41.84/assets/img/print_black.png"}</div>
                        <a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" onclick="window.print();return false;" title="Print Friendly and PDF" class="printfriendly" id="printfriendly">
                          <div class="oa-label zizou-14">Imprimir detalles</div>
                        </a>
                      </li>
                      <li class="bg-muted p-7 mb-7">
                        <div class="oa-icon">{exp:printfriendly:button custom_button="http://104.131.41.84/assets/img/pdf_black.png"}</div>
                        <a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" onclick="window.print();return false;" title="Print Friendly and PDF" class="printfriendly" id="printfriendly">
                          <div class="oa-label zizou-14">Descargar en PDF</div>
                        </a>
                      </li>
                      <li class="bg-muted p-7 mb-7">
                        <div class="oa-icon">{exp:printfriendly:button custom_button="http://104.131.41.84/assets/img/mail_black.png"}</div>
                        <a href="http://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" onclick="window.print();return false;" title="Print Friendly and PDF" class="printfriendly" id="printfriendly">
                          <div class="oa-label zizou-14">Enviar a mi Correo UPC</div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>-->
              {embed="includes/otras-acciones"}              
          </div>
          <div class="col-sm-8">
            <div class="panel curso-detalle pt-0">
              <div class="panel-head no-bg">
                <div class="panel-title">
                  <h2>Pagos Pendientes</h2>
                </div>
              </div>
              <div class="panel-body bg-muted info-border">
              	{exp:webservices:padres_boletas_pendientes_alumno codigo_alumno="{segment_3}"} 
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
  </div>
 
{embed="includes/footer"}   