{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header-padres"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content notas-detalladas">
      <div class="container-fluid">
        <div class="internal-header">
          {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" entry_id="280"}
          <div class="row">
            <div class="col-sm-0-5"></div>
            <div class="col-sm-4"><span class="zizou-16">Mis Finanzas</span></div>
          </div>
          <div class="row">
            <div class="col-sm-0-5"></div>
            <div class="col-sm-4"><span class="uppercase bold xl">{title}</span></div>
          </div>
        </div>   
        <div class="section-content pb-70">
          <div class="row">
            <div class="col-sm-0-5"></div>       
            <div class="col-sm-3">
              {if introduccion-seccion}
                <div class="section-desc">
                  <span class="zizou-14">{introduccion-seccion}</span>
                </div>
              {/if} 
              {/exp:channel:entries} 
                <div class="panel">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h2>Calendario 2015-1</h2>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="panel-body-head-table">
                      <ul class="tr">
                        <li class="col-xs-4">
                          <div class="fecha"><span>Cuota</span></div>
                        </li>
                        <li class="col-xs-4">
                          <div class=""><span>Emitida el</span></div>
                        </li>
                        <li class="col-xs-4">
                          <div class=""><span>Vence el</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-table">
                      {exp:webservices:calendario_cuotas_tipo_usuario}
                    </div>
                  </div>
                </div>          
                {embed="includes/otras-acciones"}              
            </div>
            <div class="col-sm-8">
              <div class="panel curso-detalle pt-0">
                <div class="panel-head no-bg">
                  <div class="panel-title">
                    <h2>Pagos Pendientes</h2>
                  </div>
                </div>
                  {exp:webservices:padres_boletas_pendientes_alumno codigo_alumno="{last_segment}"} 
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
 
{embed="includes/footer"}   
