{404-segment-2-category}
{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

    <div class="site-content">
      {exp:channel:entries 
      	channel="seccion" 
      	limit="1" 
      	disable="member_data|pagination"  
      	category="{segment_1_category_id}"
      }
      <div class="container-fluid">
        <div class="internal-header">
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-4"><span class="zizou-16">Mis Trámites</span></div>
          </div>
          <div class="row">
            <div class="col-md-0-5"></div>
            <div class="col-md-4"><span class="uppercase bold xl">{title}</span></div>
          </div>
        </div> 
        <div class="section-content pb-70">
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-3 section-desc">
              <span>{introduccion-seccion}</span>
              {categories}
                <?php $category = '{category_id}'; ?>
              {/categories}
              {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
            </div>
        {/exp:channel:entries}      
            <div class="col-md-8">
              <span class="zizou-26">¿Qué deseas hacer?</span>
              <div class="row">
  	            {exp:channel:entries 
  	            	channel="referencias" 
  	            	orderby="screen_name|date" 
  	            	sort="asc|desc"
  	            	limit="100" 
  	            	disable="member_data|pagination" 
  	            	category="{segment_2_category_id}" 
  	            	dynamic="off"
  	            }
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-body canales">
                      <div class="panel-body-head left tall">
                        {exp:char_limit total="80" exact="no"}
                        <h3>{title}</h3>
                        {/exp:char_limit}
                      </div>  
                      <div class="panel-table">
                        <ul class="tr">
                          <p class="p-14 helvetica-16">{intrudccion-referencia}</p>
                          {if fecha-referencia}
                          <p class="helvetica-bold-14 pl-7">
                          {fecha-referencia}, de {hora-referencia}, Aula {aula-referencia}
                          </p>
                          {/if}                 
                        </ul>
                      </div>
                      <div class="panel-footer">
                        {if archivo-referencia}
                        <a class="black-link pl-7 zizou-16" target="_blank" href="{archivo-referencia}">
                        <img class="pr-7" src="{site_url}assets/img/red_arrow_small.png"><span>{nombre-referencia}</span>
                        {if:elseif s3_link_de_archivo}
                          {exp:channel_files:files entry_id="{entry_id}" limit="1" orderby="upload_date" sort="desc" }
                            <a class="black-link pl-7 zizou-16" href="{file:url}">
                            <img class="pr-7" src="{site_url}assets/img/red_arrow_small.png"><span>{nombre-referencia}</span>
                         {/exp:channel_files:files}
                        {if:elseif link-referencia}
                          {if tipo-referencia=='Socrates'}
                          <a id="lnk_int_{nombre-referencia}" class="sb-link pl-7 zizou-16" target="_blank" href="{site_url}socrates/{url_title}">
                          <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png"><span>{nombre-referencia}</span>
                          {/if} 
                          {if tipo-referencia=='Externa'}
                          <a id="lnk_ext_{nombre-referencia}" class="sb-link pl-7 zizou-16" target="_blank" href="{link-referencia}">
                          <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png"><span>{nombre-referencia}</span>
                          {/if} 
                          {if tipo-referencia=='Interna'}
                          <a id="lnk_int_{nombre-referencia}" class="black-link pl-7 zizou-16" href="{link-referencia}">
                          <img class="pr-7" src="{site_url}assets/img/red_arrow_small.png"><span>{nombre-referencia}</span>
                          {/if}                             
                        {/if}                                                  
                        {if archivo-referencia OR s3_link_de_archivo}
                        </a>
                        {/if}  
                        {if link-referencia}
                        </a>
                        {/if} 
                      </div>
                    </div>
                  </div>
                </div>
                {/exp:channel:entries}
              </div>
              {embed="includes/dashboard-accesos-rapidos-mobile" cate="<?php echo($category) ?>"}
            </div>
          </div>
        </div>     
    </div>
  </div>
{embed="includes/footer"}   