{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{exp:channel:entries 
	channel="referencias" 
	limit="1" 
	disable="member_data|pagination" 
	dynamic="off"
}
	{embed="includes/header-socrates" ruta="{ruta_referencia}"}
	  <div class="site-content iframe">
	    {if tipo-referencia=='Socrates'}
	    <iframe src="http://www.google.com" width="100%" height="500px" scrolling="no" frameborder="0"></iframe>
	    {/if}
	    <iframe src="http://www.google.com" width="100%" height="500px" scrolling="no" frameborder="0"></iframe>
	  </div>
{/exp:channel:entries}
 <iframe src="http://www.google.com" ></iframe>
{embed="includes/footer"}   