{embed="includes/head"}
{exp:webservices:iniciar_session}
  
  {exp:channel:entries   
  
channel="referencias" orderby="screen_name|date" sort="asc|desc"limit="1" disable="member_data|pagination" }
  	{embed="includes/header-socrates" ruta="{ruta_referencia}"}
    <div class="site-content iframe">
      {if tipo-referencia=='Socrates'}
      <iframe src="{link-referencia}" width="100%" height="3000px" scrolling="yes" frameborder="0">
      {if:else}
      <iframe src="http://www.upc.edu.pe/" width="100%" height="3000px" scrolling="yes" frameborder="0" />
      {/if}
    </div>
  {/exp:channel:entries}
{embed="includes/footer"}   