<!DOCTYPE html>
<html>
  <head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=8"> -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8">
    <title>INTRANET UPC</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="{site_url}assets/img/favicon.ico">

    <!-- WebFonts -->
    <script src="//use.typekit.net/atd7fhw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- print -->
    <link rel="stylesheet" href="{site_url}stylesheets/main_print.css" media="print">
    <!-- regular -->
    <link rel="stylesheet" href="{site_url}stylesheets/main.min.css">
    <link href="https://s3-sa-east-1.amazonaws.com/webfontsupc/fuentes.css" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="https://s3-sa-east-1.amazonaws.com/webfontsupc/fuentes.css">

  </head>
  <body>

  <div class="site-wrapper clearfix">
          <div class="site-content">
            <div class="container-fluid">
              {exp:channel:entries channel="seccion" limit="1" entry_id="20"}
              <div class="internal-header">
                  <div class="row">
                    <div class="col-sm-0-5"></div>
                    <div class="col-sm-4"><span class="zizou-16">Mis Estudios</span></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-0-5"></div>
                    <div class="col-sm-4"><span class="uppercase bold xl">{title}</span></div>
                  </div>
              </div>  
              <div class="section-content pb-70">
                  <div class="row">
                    <div class="col-sm-0-5"></div>
                    <div class="col-sm-3">
                      <div class="panel">
                        <div class="panel-head no-bg">
                          <div class="panel-title left">
                            <h2>Mis Cursos</h2>
                          </div>
                        </div>
                        <div class="panel-body mt-7">
                          <div class="panel-body-head-table">
                            <ul class="tr">
                              <li class="col-xs-8">
                                <div class=""><span>Curso</span></div>
                              </li>
                              <li class="col-xs-4">
                                <div class=""><span>Promedio</span></div>
                              </li>
                            </ul>
                          </div>
                          <div class="panel-table no-bg">
                           {exp:webservices:curos_que_lleva_un_alumno}
                          </div>
                        </div>
                      </div>
                      {if otras-actividades-seccion=='Activar'}
                        {embed="includes/otras-acciones"}
                      {/if}
                    </div>
            {/exp:channel:entries}        
                    <div class="col-sm-8">
                      <div class="panel">
                          <div class="panel-head no-bg">
                            <div class="panel-title left">
                              <h2>Mi Horario Semanal</h2>
                            </div>
                          </div>
                          {exp:webservices:horario_ciclo_actual_alumno}
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div> <!-- site wrapper  -->
  </body> 
</html>