{404-segment-last}
{embed="includes/head"}
{exp:webservices:iniciar_session}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}



    <div class="site-content ciclo-actual">
      <div class="container-fluid">
        {exp:channel:entries channel="seccion" limit="1" entry_id="20"}
        <div class="internal-header">
            <div class="row">
              <div class="col-md-0-5 hidden-sm hidden-xs"></div>
              <div class="col-md-4 col-sm-12 col-xs-12"><span class="zizou-16">Mis Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-md-0-5 hidden-sm hidden-xs"></div>
              <div class="col-md-4 col-sm-12 col-xs-12"><span class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
            <div class="row">
              <div class="col-md-0-5 hidden-sm hidden-xs"></div>
              <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Mis Cursos</h3>
                    </div>
                  </div>
                  <div class="panel-body mt-7">
                    <div class="panel-body-head-table hidden-xs hidden-sm">
                      <ul class="tr">
                        <li class=" text-center col-md-8">
                          <div class=""><span>Curso</span></div>
                        </li>
                        <li class="col-md-4 text-center">
                          <div class=""><span>Promedio</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-table no-bg" id="cursos-alumno">
                        <div id="cargador-cursos-estudiante" class="tr">
                        {embed="includes/spinner"}
                        </div>
                    </div>
                  </div>
                </div>
                	{embed="includes/otras-acciones" otras_acciones="{otras-actividades-seccion}"}
             
                {categories}
                  <?php $category = '{category_id}'; ?>
                {/categories}
                {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
              </div>
      {/exp:channel:entries}        
              <div class="col-md-8">
                <div class="panel" id="mi-ciclo-actual">
                    <div class="panel-head no-bg">
                      <div class="panel-title left">
                        <h3>Mi Horario Semanal</h3>
                      </div>
                    </div>
                    <div id="cargador-ciclo-actual-estudiante" class="panel-body white">
                        <div class="panel-table">
                            <div class="tr">{embed="includes/spinner"}</div>
                        </div>
                    </div>
                </div>
                 {embed="includes/dashboard-accesos-rapidos-mobile" cate="<?php echo($category) ?>"}
              </div>
          </div>
      </div>
    </div>
  </div>

{embed="includes/footer" extra="{site_url}js/app/src/ciclo_actual_ajax_estudiante.js.php?url='{site_url}'"}