{404-segment-last}
{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

    <div class="site-content ciclo-actual">
      <div class="container-fluid">
        {exp:channel:entries channel="seccion" limit="1" entry_id="20"}
        <div class="internal-header">
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="zizou-16">Mis Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-3">
                <div class="panel">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Mis Cursos</h3>
                    </div>
                  </div>
                  <div class="panel-body mt-7">
                    <div class="panel-body-head-table">
                      <ul class="tr">
                        <li class="col-xs-8 text-center">
                          <div class=""><span>Curso</span></div>
                        </li>
                        <li class="col-xs-4 text-center">
                          <div class=""><span>Promedio</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-table no-bg">
                     {exp:webservices:curos_que_lleva_un_alumno}
                    </div>
                  </div>
                </div>
                	{embed="includes/otras-acciones" otras_acciones="{otras-actividades-seccion}"}
             
                {categories}
                  <?php $category = '{category_id}'; ?>
                {/categories}
                {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
              </div>
      {/exp:channel:entries}        
              <div class="col-sm-8">
                <div class="panel">
                    <div class="panel-head no-bg">
                      <div class="panel-title left">
                        <h3>Mi Horario Semanal</h3>
                      </div>
                    </div>
                   {exp:webservices:horario_ciclo_actual_alumno}
                    {exp:channel:entries url_title="configuracion-horario-epe" channel="configuracion_horario" search:modalidad_encuestas="{exp:webservices:get_modalidad_alumno}"}
                                {habilitar_encuestas}
                               
                      {if habilitar_encuestas == 'enabled'}
                  
                      {horario}
                       <div>
                          <span class="zizou-16">
                          {week_day}
                          </span>
                        </div>
                        <div class="panel-body red-line mb-7">
                          <div class="panel-body-head-table white"> 
                            <ul class="tr text-center table-border"> 
                              <li class="col-sm-1-5  hidden-xs"> 
                               <div><span>Inicio</span></div> 
                              </li> 
                              <li class="col-sm-1-5 hidden-xs">
                               <div><span>Fin</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2 hidden-sm hidden-md hidden-lg"> 
                               <div><span>Inicio - Fin</span></div> 
                              </li> 
                              <li class="col-sm-3 col-md-3 col-xs-4-5  "> 
                                <div><span>Clase</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5  "> 
                               <div><span>Campus</span></div> 
                              </li>  
                              <li class="col-sm-1-5  col-md-2  col-xs-2 "> 
                                <div><span>Sección</span></div> 
                              </li> 
                              <li class="col-sm-1-5  col-md-2  col-xs-2 br-no"> 
                               <div><span>Aula</span></div> 
                              </li>
                              <li class="col-sm-1-5 hidden-xs "> 
                               <div><span>Encuesta</span></div> 
                              </li>                                                         
                            </ul> 
                          </div>
                          {horario_dia}
                          <div class="panel-table"> 
                            <ul class="tr mis-cursos-row table-border"> 
                              <li class="col-sm-1-5 col-xs-1-5 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">{hora_inicio}</span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {hora_fin}               
                                  </span>
                                </div>                  
                              </li>     
                              <li class="col-xs-2 hidden-md hidden-sm hidden-lg"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {hora_inicio} - {hora_fin}
                                  </span>
                                </div> 
                              </li>                    
                              <li class="col-sm-3 col-md-3 col-xs-4-5 "> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {curso_nombre}
                                  </span>
                                </div>                   
                              </li> 
                              <li class="col-sm-1-5  col-md-2  col-xs-1-5"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {clase_sede}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5  col-md-2  col-xs-2"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {curso_seccion}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-md-2 col-xs-1-5"> 
                                <div class="text-center br-no">
                                  <span class="helvetica-14">
                                    {clase_salon}
                                  </span>
                                </div>  
                              </li> 
                              <li class="col-sm-1-5 hidden-xs"> 
                                <div class="text-center br-no horario-survey">
                                  <span class="helvetica-14">
                                  <a data-survey-active="{survey_active_time}"  href="{url_base}?alumno_id={survey_cod_alumno}&horario_id={survey_cod_clase}&curso_id={survey_cod_curso}"><img src="{site_url}/assets/img/class-survey-icon.png" alt=""> Ingresar</a>
                                  </span>
                                </div>  
                              </li>
                              <li class="col-xs-12 hidden-sm hidden-md hidden-lg  horario-survey"> 
                                  <div class="col-xs-4 "> 
                                     <span class="nobg">Encuesta</span>
                                  </div>
                                  <div class="col-xs-4">
                                    <span class=  "helvetica-14 text-center">
                                    <a data-survey-active="{survey_active_time}" href="{url_base}?alumno_id={survey_cod_alumno}&horario_id={survey_cod_clase}&curso_id={survey_cod_curso}"><img src="{site_url}/assets/img/class-survey-icon.png" class="pl-7" alt="">Ingresar</a>
                                    </span>
                                  </div>
                               
                              </li> 
                            </ul> 
                          </div> 
                          <div>
  
                          </div>
                          {/horario_dia}
                        </div>
                      {/horario}
                      {error}

                      {/error}
                      {if: else}
                       {horario}
                       <div>
                          <span class="zizou-16">
                          {week_day}
                          </span>
                        </div>
                        <div class="panel-body red-line mb-7">
                          <div class="panel-body-head-table white"> 
                            <ul class="tr text-center table-border"> 
                              <li class="col-sm-1-5  hidden-xs"> 
                               <div><span>Inicio</span></div> 
                              </li> 
                              <li class="col-sm-1-5 hidden-xs">
                               <div><span>Fin</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2 hidden-sm hidden-md hidden-lg"> 
                               <div><span>Inicio - Fin</span></div> 
                              </li> 
                              <li class="col-sm-4-5 col-xs-4-5 "> 
                                <div><span>Clase</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5 "> 
                               <div><span>Campus</span></div> 
                              </li>  
                              <li class="col-sm-1-5 col-xs-2 "> 
                                <div><span>Sección</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2 "> 
                               <div><span>Aula</span></div> 
                              </li>                                                          
                            </ul> 
                          </div>
                          {horario_dia}
                          <div class="panel-table"> 
                            <ul class="tr mis-cursos-row table-border"> 
                              <li class="col-sm-1-5 col-xs-1-5 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">{hora_inicio}</span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {hora_fin}               
                                  </span>
                                </div>                  
                              </li>     
                              <li class="col-xs-2 hidden-md hidden-sm hidden-lg"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {hora_inicio} - {hora_fin}
                                  </span>
                                </div> 
                              </li>                    
                              <li class="col-sm-4-5 col-xs-4-5"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {curso_nombre}
                                  </span>
                                </div>                   
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {clase_sede}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {curso_seccion}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {clase_salon}
                                  </span>
                                </div>  
                              </li> 
                            </ul> 
                          </div> 
                          <div>
  
                          </div>
                          {/horario_dia}
                        </div>
                      {/horario}
                      {error}

                      {/error}
                      {/if}
                    {/exp:channel:entries}
                    {/exp:webservices:horario_ciclo_actual_alumno}
                   
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
 <script>
$( document ).ready(function() {
    var currentTime = new Date();
  $('.horario-survey a').each(function(index, element){
    if($(element).data('survey-active').toString() != ''+currentTime.getFullYear()+''+(currentTime.getMonth()+1)+''+currentTime.getDate()+''+currentTime.getHours()){
      $(this).addClass('inactive');
      $(this).attr('href', '#');
      img = $(this).find('img');
      $(img).attr('src', $(img).attr('src').replace('survey-icon.png', 'survey-icon-inactive.png'));
      $(this).click(function(e){e.preventDefault();});
    }
  });
});
 </script>
}
{embed="includes/footer"}   