{404-segment-last}
{embed="includes/head"}
{exp:webservices:iniciar_session}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}



    <div class="site-content ciclo-actual">
      <div class="container-fluid">
        {exp:channel:entries channel="seccion" limit="1" entry_id="20"}
        <div class="internal-header">
            <div class="row">
              <div class="col-md-0-5 hidden-sm hidden-xs"></div>
              <div class="col-md-4 col-sm-12 col-xs-12"><span class="zizou-16">Mis Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-md-0-5 hidden-sm hidden-xs"></div>
              <div class="col-md-4 col-sm-12 col-xs-12"><span class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
            <div class="row">
              <div class="col-md-0-5 hidden-sm hidden-xs"></div>
              <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="panel">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Mis Cursos</h3>
                    </div>
                  </div>
                  <div class="panel-body mt-7">
                    <div class="panel-body-head-table hidden-xs hidden-sm">
                      <ul class="tr">
                        <li class=" text-center col-md-8">
                          <div class=""><span>Curso</span></div>
                        </li>
                        <li class="col-md-4 text-center">
                          <div class=""><span>Promedio</span></div>
                        </li>
                      </ul>
                    </div>
                    <div class="panel-table no-bg">
                      {exp:webservices:curos_que_lleva_un_alumno}
                    </div>
                  </div>
                </div>
                	{embed="includes/otras-acciones" otras_acciones="{otras-actividades-seccion}"}
             
                {categories}
                  <?php $category = '{category_id}'; ?>
                {/categories}
                {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
              </div>
      {/exp:channel:entries}        
              <div class="col-md-8">
                <div class="panel">
                    <div class="panel-head no-bg">
                      <div class="panel-title left">
                        <h3>Mi Horario Semanal</h3>
                      </div>
                    </div>
                    {exp:channel:entries channel="configuracion_horario" }
                      {exp:webservices:horario_ciclo_actual_alumno modalidad_survey="{modalidad_encuesta}" habilitar_survey="{habilitar_encuestas}" url_base="{url_base}" id_survey="{type_form_id_encuesta}"}
                      {horario_survey}
                       <div>
                          <span class="zizou-16">
                          {week_day}
                          </span>
                        </div>
                        <div class="panel-body red-line mb-7 ">
                          <div class="panel-body-head-table white hidden-xs hidden-sm"> 
                            <ul class="tr text-center table-border"> 
                              <li class="col-sm-1-5  hidden-xs"> 
                               <div><span>Inicio</span></div> 
                              </li> 
                              <li class="col-sm-1-5 hidden-xs">
                               <div><span>Fin</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2 hidden-sm hidden-md hidden-lg"> 
                               <div><span>Inicio - Fin</span></div> 
                              </li> 
                              <li class="col-sm-3 col-md-3 col-xs-4-5  "> 
                                <div><span>Clase</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5  "> 
                               <div><span>Campus</span></div> 
                              </li>  
                              <li class="col-sm-1-5  col-md-2  col-xs-2 "> 
                                <div><span>Sección</span></div> 
                              </li> 
                              <li class="col-sm-1-5  col-md-2  col-xs-2 br-no"> 
                               <div><span>Aula</span></div> 
                              </li>
                              <li class="col-sm-1-5 hidden-xs "> 
                               <div><span>Encuesta</span></div> 
                              </li>                                                         
                            </ul> 
                          </div>
                          {horario_dia}
                          <div class="panel-table hidden-sm hidden-xs"> 
                            <ul class="tr mis-cursos-row table-border"> 
                              <li class="col-sm-1-5 col-xs-1-5 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">{hora_inicio}</span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {hora_fin}               
                                  </span>
                                </div>                  
                              </li>     
                              <li class="col-xs-2 hidden-md hidden-sm hidden-lg"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {hora_inicio} - {hora_fin}
                                  </span>
                                </div> 
                              </li>                    
                              <li class="col-sm-3 col-md-3 col-xs-4-5 "> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {curso_nombre}
                                  </span>
                                </div>                   
                              </li> 
                              <li class="col-sm-1-5  col-md-1-5  col-xs-1-5"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {clase_sede}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5  col-md-1-5  col-xs-2"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {curso_seccion}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-md-1-5 col-xs-2"> 
                                <div class="text-center br-xs-no">
                                  <span class="helvetica-14">
                                    {clase_salon}
                                  </span>
                                </div>
                              </li>
                              <li class="col-sm-1-5 hidden-xs hidden-sm horario-survey ">
                                <div class="text-center br-no survey-block p-0">
                                  <!-- <a class="{survey_is_active}" href="{survey_url_generated}">
                                  <span class="helvetica-14"><img src="{survey_image_icon}" alt="Encuesta"></span></a> -->
                                  {survey_form}
                                </div>
                              </li>
                              <li class="col-xs-12 hidden-md hidden-lg horario-survey"> 
                                  <div class="col-xs-3 pt-7">
                                  <span class="nobg">Encuesta</span>
                                  </div>
                                  <div class="col-xs-4-5 survey-block p-0">
                                  <!-- <a class="{survey_is_active}" href="{survey_url_generated}">
                                    <img src="{survey_image_icon}" class="pl-7 pt-5 col-xs-3" id="survey-img" alt="Encuesta">
                                  </a> -->
                                  {survey_form}
                                  </div>
                               
                              </li> 
                            </ul> 
                          </div> 

                          <div class="panel-table hidden-md hidden-lg">
                            <div class="tr mis-cursos-row p-21 table-border gray-mobile-line-bottom"> 
                             <span class="helvetica-16">
                                  Curso :
                              </span>
                              <span class="helvetica-bold-16">
                                  {curso_nombre}
                              </span>
                              <br>
                              <span class="helvetica-bold-14">
                                 Inicio: {hora_inicio}
                              </span>
                              <span class="helvetica-14">
                                 - Fin: {hora_fin}
                              </span>
                              <br>
                              <span class="helvetica-14">
                                    Secci&oacute;n: {curso_seccion},&nbsp;
                                  </span>
                              <br>
                              <span class="helvetica-14">
                                    Sede: {clase_sede},&nbsp;
                                  </span>
                              <span class="helvetica-bold-14">
                                    aula: {clase_salon}
                                  </span>
                                  <br>
                               <span class="helvetica-bold-14">
                                    Encuesta: {survey_form}
                                  </span>
                            </div> 
                          </div>
                          {/horario_dia}
                        </div>
                      {/horario_survey}
             
                      {horario}
                       <div>
                          <span class="zizou-16">
                          {week_day}
                          </span>
                        </div>
                        <div class="panel-body red-line mb-7">
                          <div class="panel-body-head-table white hidden-sm hidden-xs"> 
                            <ul class="tr text-center table-border"> 
                              <li class="col-sm-1-5  hidden-xs"> 
                               <div><span>Inicio</span></div> 
                              </li> 
                              <li class="col-sm-1-5 hidden-xs">
                               <div><span>Fin</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2 hidden-sm hidden-md hidden-lg"> 
                               <div><span>Inicio - Fin</span></div> 
                              </li> 
                              <li class="col-sm-4-5 col-xs-4-5 "> 
                                <div><span>Clase</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5 "> 
                               <div><span>Campus</span></div> 
                              </li>  
                              <li class="col-sm-1-5 col-xs-2 "> 
                                <div><span>Sección</span></div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-2 "> 
                               <div><span>Aula</span></div> 
                              </li>                                                          
                            </ul> 
                          </div>
                          {horario_dia}
                          <div class="panel-table hidden-sm hidden-xs"> 
                            <ul class="tr mis-cursos-row table-border"> 
                              <li class="col-sm-1-5 col-xs-1-5 col-md-2 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">{hora_inicio}</span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-xs-1-5 col-md-2 hidden-xs"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {hora_fin}               
                                  </span>
                                </div>                  
                              </li>     
                              <li class="col-xs-2 hidden-md hidden-sm hidden-lg"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {hora_inicio} - {hora_fin}
                                  </span>
                                </div> 
                              </li>                    
                              <li class="col-sm-4-5 col-md-4-5 col-xs-4-5"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                  {curso_nombre}
                                  </span>
                                </div>                   
                              </li> 
                              <li class="col-sm-1-5  col-md-2  col-xs-1-5"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {clase_sede}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-md-2  col-xs-2"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {curso_seccion}
                                  </span>
                                </div> 
                              </li> 
                              <li class="col-sm-1-5 col-md-2 col-xs-2 br-xs-no"> 
                                <div class="text-center">
                                  <span class="helvetica-14">
                                    {clase_salon}
                                  </span>
                                </div>  
                              </li> 
                            </ul> 
                          </div> 

                          <div class="panel-table hidden-md hidden-lg">
                            <div class="tr mis-cursos-row p-21 table-border gray-mobile-line-bottom"> 
                             <span class="helvetica-16">
                                  Curso :
                              </span>
                              <span class="helvetica-bold-16">
                                  {curso_nombre}
                              </span>
                              <br>
                              <span class="helvetica-bold-14">
                                 Inicio: {hora_inicio}
                              </span>
                              <span class="helvetica-14">
                                 - Fin: {hora_fin}
                              </span>
                              <br>
                              <span class="helvetica-14">
                                    Secci&oacute;n: {curso_seccion},&nbsp;
                                  </span>
                              <br>
                              <span class="helvetica-14">
                                    Sede: {clase_sede},&nbsp;
                                  </span>
                              <span class="helvetica-bold-14">
                                    aula: {clase_salon}
                                  </span>
                               
                            </div> 
                          </div>
                          <div>
  
                          </div>
                          {/horario_dia}
                        </div>
                      {/horario}
                      {error}

                      {/error}
                      {/exp:webservices:horario_ciclo_actual_alumno}
                    {/exp:channel:entries}
                </div>
                 {embed="includes/dashboard-accesos-rapidos-mobile" cate="<?php echo($category) ?>"}
              </div>
          </div>
      </div>
    </div>
  </div>

{embed="includes/footer"}   