{404-segment-2-only}
{embed="includes/head"}
{exp:webservices:iniciar_session}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

		{exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination"  category="{segment_1_category_id}" entry_id="21"}
    <div class="site-content notas-detalladas">
      <div class="container-fluid">
        <div class="internal-header">
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span class="zizou-16">Mis Estudios</span></div>
            </div>
            <div class="row">
              <div class="col-sm-0-5"></div>
              <div class="col-sm-4"><span id="top" class="uppercase bold xl">{title}</span></div>
            </div>
        </div>  
        <div class="section-content pb-70">
          <div class="row">
            <div class="col-sm-0-5"></div>        
            <div class="col-sm-3">
              <div class="panel">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Saltar a un curso</h3>
                  </div>
                </div>
                <div id="cursos-alumno"> 
                  <div class="panel-body" id="cargador-cursos-alumno" style="height:100px; background-color:#fff">
                  </div>
                </div> 
              </div>
							{embed="includes/otras-acciones-notas"}
              {categories}
                <?php $category = '{category_id}'; ?>
              {/categories}
              {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
            </div>
           {/exp:channel:entries} 
            <div class="col-sm-8">
              <div class="panel">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Notas por Curso</h3>
                  </div>
                </div>
                <div id="notas-detalladas-alumno"> 
                  <div class="panel-body" id="cargador-notas-detalladas-alumno" style="height:100px; background-color:#fff">
                  </div>
                </div> 
              </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
{embed="includes/footer"}   
<script src="{site_url}js/app/src/notas_detalladas_ajax_estudiante.js.php?url='{site_url}'"></script>