{embed="includes/head"}
{embed="includes/header-global-only"}
    <div class="site-content login">
      <div class="container-fluid p-0">
        {exp:channel:entries channel="avisos_intranet" orderby="date" sort="desc" limit="1" disable="member_data" dynamic="off"}
        <div class="row aviso">
          <div class="col-sm-12 bg-info">
            <div class="row">
              <div class="col-sm-0-5 col-md-0-5 col-xs-0"></div>
              <div class="col-sm-11 col-xs-12 col-md-11 p-0">
                <div class="col-xs-1-5 pt-14 pl-0">
                  <img src="{site_url}assets/img/bell.png" alt="">
                </div>
                <div class="col-xs-10-5  col-sm-10-5 col-md-10-5 p-14">
                  <div class="text-muted solano-bold-24">{title}</div>
                  <div class="mt-14 mr-14"><span class="zizou-16 text-muted">{mensaje_aviso_intranet}</span></div>
                </div>
               </div> 
            </div>
          </div>
        </div>
      {/exp:channel:entries} 

        <div class="row pt-60 pt-xs-35">
          <div class="col-sm-0-5 col-md-0-5 col-xs-0"></div>
          <div class="col-sm-11 col-xs-12 col-md-11 p-0">
            <div class="row">
              <div class="col-sm-12 col-md-7 p-0">
                <a href="http://www.upc.edu.pe/servicios/contacto-upc/calendarios/pregrado/calendario-pregrado-2016-00">
                <img src="{site_url}assets/img/banner-miupcb.jpg" style="max-height: 400px" class="img-responsive hidden-xs hidden-sm pr-14" alt="">
                <img src="{site_url}assets/img/banner-miupca.jpg" style="max-height: 400px" class="img-responsive hidden-lg hidden-md hidden-xs" alt="">
                <img src="{site_url}assets/img/banner-miupcc.jpg" style="max-height: 400px" class="img-responsive hidden-lg hidden-md hidden-sm" alt="">
              </a>
              </div>
              <!-- Eliminado Informacion Local-->
                {!-- {exp:webservices:eliminar_cookie} --}
              <!-- -->
              <div class="col-sm-12 col-md-5 p-0 bg-muted login-floting">
                <div class="row">
                  <div class="col-md-12 p-0 text-center logo-position"><img class="logo" src="{site_url}assets/img/logo_upc_bg_red.png" alt=""></div>
                </div>
                <div class="row">
                  <div class="col-xs-2"></div>
                  <div class="col-xs-8 pt-28 text-center"><span class="uppercase xl">Mi UPC</span></div>
                </div>
                <div class="row pwd-mismatch">
                  <div class="col-xs-2 col-md-2"></div>
                  <div class="col-xs-8 col-md-8">
                    <img src="{site_url}assets/img/excla_red_1.png" class="m-7 pull-left" alt="">
                    <p class="red text-justify">El usuario o la contraseña que has introducido no son correctas, intenta nuevamente. Verifica CapsLock. Recuerda que luego de 3 intentos fallidos, tu cuenta se bloqueará por 30 minutos.<p>
                    <p class="red text-justify"> RECOMENDACIÓN:
                      Utilice la opción "No puedes acceder a tu cuenta".</p>
                </div>
                </div>
                <form action="{site_url}login/terminos" method="post" name="login_form" class="login-form" autocomplete="off" id="form-login">
                  <input type="hidden" name="XID" value="{XID_HASH}"> 
                  <input type="hidden" name="plataforma" value="C">
                  <div class="row mt-21">
                    <div class="col-xs-12 p-0">
                      <input class="form-control zizou-12" type="text" name="codigo" value="" maxlength="32" class="input" size="25"  placeholder="Código de Usuario*" autocomplete="off" >
                    </div>
                  </div>  
                  <div class="row mt-21">
                    <div class="col-xs-12 p-0  p-0">
                      <input type="password" name="contrasena" value="" maxlength="32" class="zizou-12 input form-control" size="25" placeholder="Contraseña*" autocomplete="off">
                    </div>
                  </div>
                  <div class="row mt-21">
                    <div class="col-xs-12 p-0 text-right">
                      <button id="btn_int_IniciarSesion" type="submit" value="Send" class="btn btn-custom black-btn wide full-width lg p-0 mt-0">Iniciar Sesión</button>
                    </div>
                  </div>
                  <div class="row mt-21">
                    <div class="col-xs-12 p-0 text-center">
                      <a id="lnk_ext_ResetPassword" href="http://intranet.upc.edu.pe/LoginIntranet/ResetPassword.aspx" target="_blank" class="block zizou-16">¿No puedes acceder a tu cuenta?</a>
                    </div>
                    </div>
                    <div class="row mt-21">
                      <div class="col-xs-12">
                        <div class="text-center"><span class="helvetica-12 black uppercase">*Campo obligatorio</span></div>
                      </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
           {embed="includes/login-services-logos"}
    </div>
    <a href="{site_url}" class="hidden" id="site_url"></a>
    <div class="login-footer col-xs-12 footer">
      <div class="row">
        <div class="hidden-xs col-md-0-5 col-sm-0-5"></div>
        <div class="col-xs-5 col-md-3 col-sm-2-5 pl-0 pr-0"><img src="{site_url}assets/img/laureate.png" alt=""></div>
        <div class="col-xs-7 col-md-8 col-sm-8 col-md-7 zizou-12 text-right pt-3 pr-0 pb-3"><span>COPYRIGHT UPC 2015</span><br><span>Teléfono: <a href="tel:016303333">630 3333</a></span></div>
      </div>
    </div>
    <!-- Modal -->
{embed="includes/footer"}
{exp:webservices:redirect_user}