
 <form action="{site_url}index.php/login/usuario" method="post" name="login_form">
    <input type="hidden" name="XID" value="{XID_HASH}"> 
    <input type="hidden" name="plataforma" value="C"> 
		<p>
			<label>Username</label><br />
			<input type="text" name="codigo" value="" maxlength="32" class="input" size="25" />
		</p>
		<p>
			<label>Password</label><br />
			<input type="password" name="contrasena" value="" maxlength="32" class="input" size="25" />
		</p>
		<p>
    <input type="submit" value="Send">
    </p>
 </form>