{embed="includes/head"}
    <div class="site-content login">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10"><img class="logo" src="{site_url}assets/img/logo_upc_red.png" alt=""></div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row pt-14">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 bg-muted">
          <div class="row">
            <div class="col-sm-7 p-28">
              <img src="{site_url}assets/img/login_image.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-sm-5">
              <div class="row pt-14">
                <div class="col-sm-12 mt-7"><span class="zizou-28 black">Iniciar sesión</span></div>
              </div>
              <form action="{site_url}index.php/login/usuario" method="post" name="login_form">
								<input type="hidden" name="XID" value="{XID_HASH}"> 
								<input type="hidden" name="plataforma" value="C">
	              <div class="row pt-7">
	                <div class="col-sm-6 pt-7"><span class="solano-22 uppercase">Nombre de usuario:</span></div>
	                <div class="col-sm-6"><input class="form-control" type="text" name="codigo" value="" maxlength="32" class="input" size="25"  placeholder=""></div>
	              </div>
	              <div class="row pt-14">
	                <div class="col-sm-6"><span class="solano-22 uppercase">Contraseña:</span></div>
	                <div class="col-sm-6"><input type="password" name="contrasena" value="" maxlength="32" class="input form-control" size="25" class="form-control" placeholder=""></div>
	              </div>
                <div class="row login-row">
                  <div class="col-sm-8">
                    <a href=""><img src="{site_url}assets/img/skyblue_arrow.png" alt=""></a> 
                    <a href="" class="zizou-16">No puedo acceder a mi cuenta</a> 
                  </div>
                  <div class="col-sm-4">
  	               <button type="submit" value="Send" class="mt-21 btn btn-custom-info lg">Iniciar Sesión</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="row footer pt-28">
        <div class="col-sm-1"></div>
        <div class="col-sm-2"><img src="{site_url}assets/img/laureate.png" alt="" class="img-responsive"></div>
        <div class="col-sm-8 copyright"><span>COPYRIGHT UPC 2014. Prolongación Primavera 2390, Monterrico. Lima - Perú. Teléfonos: 313-333 | Fax: 313-3344</span></div>
      </div>
    </div>
 

