{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:generador_token codigo="{post:codigo}" contrasena="{post:contrasena}" plataforma="{post:plataforma}"}
{embed="includes/header_a"}

<div class="site-content container multi-perfil">
  <div class="section-content pb-70">
	  <div class="row">
	    <div class="col-sm-4"></div>
	    <div class="col-sm-4">
	      <div class="pic block text-center">
	        <img src="{site_url}assets/img/profile.jpg" alt="" class="img-circle img-responsive">
	      </div>
	      <div class="text-center">
	        <span class="zizou-26">Hola {exp:webservices:nombre_alumno}</span>
	      </div>
	      <div class="text-center pt-14 pb-7">
	        <span class="solano-16 uppercase">BIENVENIDA, ELIGE EL PERFIL QUE DESEAS UTILIZAR</span>
	      </div>
	      <div class="panel">
	        <div class="panel-body">
	          <div class="panel-table">
		          {exp:webservices:consultar_alumno_redireccion}
	          </div>
	        </div>
	      </div>
	    </div>
	    <div class="col-sm-4"></div>
	  </div>
  </div>
</div>
