{embed="includes/head"}
<script src="{site_url}js/app/vendor/jquery.validate.min.js"></script>
<script src="{site_url}js/app/src/global.js"></script>
<script>
    function delCokkies (){
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i];
            var eqPos = cookie.indexOf("=");
            var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
            document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
        }
    }
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for(var i=0; i<ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
        }
        return "";
    }
    var cookie = getCookie("onLogin");
    if(cookie !="true"){
        delCokkies();    
        $(location).attr('href',"/");
    }

</script>
{if post:contrasena}
    {exp:webservices:iniciar_session}
    {exp:webservices:generador_token codigo="{post:codigo}" contrasena="{post:contrasena}" plataforma="{post:plataforma}"}

    {embed="includes/header-global-only"}


<div class="site-content error-404 pt-49">
  <div class="container-fluid">
    <div class="internal-header">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4"><span class="zizou-16"></span></div>
      </div>  
      <div class="row pt-49">
   
      </div>
    </div>  
                <a href="{site_url}" id="site_url"></a>
                {exp:webservices:get_terms_acceptance}
                   
                        {if '{terminos}' == 'no'}
      <div class="row">
        <div class=" resultados col-sm-12 col-md-7 resultados col-md-offset-2-5">
          <div class="resultados-busqueda red-line bg-muted">
            <div class="panel-body p-14 result_query">
                           <form action="{site_url}login/usuario" method="post" name="form-terms" class="form-terms" autocomplete="off" id="form-terms">
                              {exp:channel:entries channel="terminos_y_condiciones" limit="1" dynamic="off"}
                                <div class="terms-content bg-muted">
                                  <h2 class="modal-title uppercase xl" id="myModalLabel">{title}</h2>
                                  <div class="helvetica-16">
                                    {contenido}
                                  </div>
                                </div>
                                {/exp:channel:entries}
                  
                             <div class="checkbox">
                                  <label for="checkbox" class="zizou-16">
                                    <input type="checkbox" id="checkbox" name="checkbox"> Declaro haber leído y aceptado el reglamento y todos sus términos.
                                    <input type="hidden" id="terminosAccepted" name="terminosAccepted" value='no'>
                                    <input type="hidden" id="codigo" name="codigo" value='{embed:codigo}'>
                                  </label>
                                </div>
                              <div class="modal-footer bg-muted">
                                <button type="button" class="btn btn-custom wide blue-btn" disabled id="aceptar">Acepto</button>
                                <button type="button" class="btn btn-custom wide black-btn" id="rechazar" onclick="$(location).attr('href',hostname+'login/salir'); return false;">No Acepto</button>
                              </div>
                            </form>
                              <script>
                              var hostname = $('a#site_url').attr('href');
                              var codigo = '{embed:codigo}';
                              $( "#aceptar" ).click(function() {
                                    if ($('#checkbox').is(':checked')) {
                                        $('input#terminosAccepted').val('si');
                                        $('form.form-terms').submit();
                                  }else{
                                    $('input#terminosAccepted').val('no');
                                  }
                              });
                              $(document).ready(function () {
                                  $('div.terms-content').css('max-height', '300px;');
                              });
                          </script>
                        {if:elseif '{terminos}' == 'si'}
                            {redirect="{site_url}login/usuario"}
                        {/if}
                {/exp:webservices:get_terms_acceptance}
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<script src="{site_url}js/app/src/login.js"></script>
{if:else}
    {redirect="login/salir"}
{/if}
