{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:generador_token codigo="{post:codigo}" contrasena="{post:contrasena}" plataforma="{post:plataforma}"}
{embed="includes/header-global-only"}

<div class="site-content">
  <div class="section-content pb-70">
	  <div class="row">
	    <div class="col-sm-4"></div>
	    <div class="col-sm-4 welcome">
	      <div class="usuario-container pb-14 bg-muted">
	      	<div class="avatar-circle">
	        	<img class="img-circle img-responsive img-thumbnail" src="{site_url}assets/img/user_dark.png" alt="">
	      	</div>
	        <div class="zizou-28 text-center">Hola {exp:webservices:nombre_alumno}</div>
	        <div class="zizou-18 text-center gray-light">Elige el perfil que deseas utilizar</div>
		   		{exp:webservices:consultar_alumno}
	      </div>
	     </div>
	    </div>
	  </div>
  </div>
</div>
