{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-padres"}
{embed="includes/sidebar-padres"}
{embed="includes/header-movil-padres"}

<div class="site-content">
  <div class="section-content pb-70">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6 pt-70 welcome">
        <div class="usuario-container pt-56 pb-14 bg-muted">
          <div class="zizou-28 text-center"></div>
          <div class="zizou-18 text-center gray-light"><span class="black-text">Sus Trámites: </span>Elige con cuál de tus hijos quieres entrar</div>
          {exp:webservices:padre_lista_de_hijos_estado_actual}
        </div>
      </div>
    </div>
  </div>
</div>
