{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-padres"}
{embed="includes/header-movil-padres"}
{embed="includes/sidebar-padres"}

    <div class="site-content container">
      <div class="internal-header">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="zizou-16">Sus Trámites</span></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="uppercase bold xl">Estado Actual</span></div>
        </div>
      </div>  
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3 section-desc">
            <span class="zizou-14"></span>
          </div>
          <div class="col-sm-8 pt-0">
            <div class="panel">
              <div class="panel-head no-bg">
                <div class="panel-title">
                  <h2>Trámites en proceso</h2>
                </div>
              </div>
              <div class="panel-body bg-muted info-border">
                {exp:webservices:padre_tramites_realizados_por_alumno codigo_alumno="{last_segment}"}
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
 
{embed="includes/footer"}   
