// fonts
$custom-h2: 24px;
$custom-h3: 18px;
$custom-h5: 13px;
$serif: "zizou";
$sans-serif: "solano";
$alt: "helvetica";

/// fonts loops
@for $fs from 9 to 33 {
	.#{$sans-serif}-bold-#{$fs} {
		@include bold;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;	
	}
	.#{$sans-serif}-#{$fs} {
		@include book;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;
		@media #{$lg-down} {
			font-size: rem(($fs) - 4) !important;	
			font-size: ($fs - 4) + px !important;
		}	
	}
	.#{$sans-serif}-light-#{$fs} {
		@include light;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;	
	}
	.#{$serif}-bold-#{$fs} {
		@include serif-bold;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;	
	}
	.#{$serif}-light-#{$fs} {
		@include serif-light;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;	
	}
	.#{$serif}-#{$fs} {
		@include serif-book;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;
		@media #{$lg-down} {
			font-size: rem(($fs) - 4) !important;	
			font-size: ($fs - 4) + px !important;
		}	
	}
	.#{$alt}-#{$fs} {
		@include alt-book;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;	
	}
	.#{$alt}-bold-#{$fs} {
		@include alt-bold;	
		font-size: rem($fs) !important;	
		font-size: $fs + px !important;	
	}
}

//

.form-control {
	font-size: 18px !important; 
}

.black {
	color: black !important;
}

.gray-main {
	color: $gray-main !important;
}

.gray-light {
	color: $gray-light !important;
}