/* PROJECT ESPECIFIC FONTS */

// SANS-SERIFS
@mixin thin { font-family: $font-family-base !important; font-weight: 100; font-style: normal;}
.thin {@include thin;}
@mixin extra-light { font-family: $font-family-base !important; font-weight: 200; font-style: normal;}
.extra-light {@include extra-light;}
@mixin light { font-family: "SolanoGothicMVB-Lt" !important; font-style: normal;}
.light {@include light;}
@mixin light-italic { font-family: $font-family-base !important; font-weight: 300; font-style: italic;}
.light-italic {@include light-italic;}
@mixin book { font-family: "sgothic-rgcap" !important; font-style: normal;}
.book {@include book;}
@mixin book-italic { font-family: $font-family-base !important; font-weight: 400; font-style: italic;}
.book-italic {@include book-italic;}
@mixin medium { font-family: $font-family-base !important; font-weight: 500; font-style: normal;}
.medium {@include medium;}
@mixin medium-italic { font-family: $font-family-base !important; font-weight: 500; font-style: italic;}
.medium-italic {@include medium-italic;}
@mixin bold { font-family: "sgothic-bdcap" !important; font-weight: 700; font-style: normal;}
.bold {@include bold;}
@mixin bold-italic { font-family: "SolanoGothicMVBProBd" !important; font-weight: 700; font-style: italic;}
.bold-italic {@include bold-italic;}

//SERIFS
@mixin serif-thin { font-family: "Zizou Slab-Thin" !important; font-weight: 100; font-style: normal;}
.thin {@include serif-thin;}
@mixin serif-light { font-family: "Zizou Slab-Light" !important; font-style: normal;}
.serif-light {@include serif-light;}
@mixin serif-light-italic { font-family: $font-family-serif !important; font-weight: 300; font-style: italic;}
.serif-light-italic {@include serif-light-italic;}
@mixin serif-book { font-family: "zizou-slab-regular" !important; font-style: normal;}
.serif-book {@include serif-book;}
@mixin serif-book-italic { font-family: "zizou-slab-regular" !important; font-weight: 400; font-style: italic;}
.serif-book-italic {@include serif-book-italic;}
@mixin serif-medium { font-family: "Zizou Slab-Medium" !important; font-style: normal;}
.serif-medium {@include serif-medium;}
@mixin serif-medium-italic { font-family: $font-family-serif !important; font-weight: 500; font-style: italic;}
.serif-medium-italic {@include serif-medium-italic;}
@mixin serif-bold { font-family: "zizou-slab-bold" !important; font-style: normal;}
.serif-bold {@include serif-bold;}
@mixin serif-bold-italic { font-family: $font-family-serif !important; font-weight: 700; font-style: italic;}
.serif-bold-italic {@include serif-bold-italic;}

// ALTERNATIVE FONTS
// @mixin alt-light { font-family: $font-family-alt !important; font-weight: 400; font-style: normal;}
// .alt-light {@include alt-light;}
@mixin alt-book { font-family: "Helvetica" !important; font-weight: 500; font-style: normal;}
.alt-book {@include alt-book;}
// @mixin alt-medium { font-family: $font-family-alt !important; font-weight: 600; font-style: normal;}
// .alt-medium {@include alt-medium;}
@mixin alt-bold { font-family: "Helvetica" !important; font-weight: 700; font-style: normal;}
.alt-bold {@include alt-bold;}


// ALTERNATIVE-B FONTS
@mixin alt-b-light { font-family: "ronnia-condensed" !important; font-weight: 300; font-style: normal;}
.alt-light {@include alt-b-light;}
@mixin alt-b-book { font-family: "ronnia-condensed" !important; font-weight: 500; font-style: normal;}
.alt-book {@include alt-b-book;}