// fonts
$custom-h2: 24px;
$custom-h3: 18px;
$custom-h5: 13px;
$serif: "zizou";
$sans-serif: "solano";
$alt: "helvetica";
$alt-ab: "helv-neue";
$alt-12: "ronnia";

/// fonts loops
.xl {
	font-size: 44px !important;
	font-size: rem(44) !important;	
	line-height: 1;	
	color: black;
	@include bold;
	@media #{$md-down} {
		font-size: 40px !important;
		font-size: rem(40) !important;	
	}
}
@for $fs from 9 to 33 {
	.#{$sans-serif}-bold-#{$fs} {
		@include bold;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;	
	}
	.#{$sans-serif}-#{$fs} {
		@include book;	
		font-size: $fs + px !important;
		font-size: rem($fs) !important;	
		@media #{$lg-down} {
			font-size: ($fs - 4) + px !important;
			font-size: rem(($fs) - 4) !important;	
		}	
	}
	.#{$serif}-thin-#{$fs} {
		@include serif-thin;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;	
	}
	.#{$serif}-light-#{$fs} {
		@include serif-light;	
		font-size: $fs + px !important;
		font-size: rem($fs) !important;	
		@media #{$lg-down} {
			font-size: ($fs - 4) + px !important;
			font-size: rem(($fs) - 4) !important;	
		}	
		@media #{$xs-only} {
			font-size: ($fs - 6) + px !important;
			font-size: rem(($fs) - 6) !important;	
		}		
	}
	.#{$serif}-bold-#{$fs} {
		@include serif-bold;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;	
	}
	.#{$serif}-#{$fs} {
		@include serif-book;	
		font-size: $fs + px !important;
		font-size: rem($fs) !important;	
		@media #{$lg-down} {
			font-size: ($fs - 2) + px !important;
			font-size: rem(($fs) - 2) !important;	
		}	
	}
	.#{$alt}-light-#{$fs} {
		@include alt-light;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;	
	}
	.#{$alt}-#{$fs} {
		@include alt-book;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;
		@media #{$lg-down} {
			font-size: ($fs - 2) + px !important;
			font-size: rem(($fs) - 2) !important;	
		}	
	}
	.#{$alt-ab}-#{$fs} {
		@include alt-ab-book;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;	
		@media #{$lg-down} {
			font-size: ($fs - 2) + px !important;
			font-size: rem(($fs) - 2) !important;	
		}
	}
	.#{$alt-12}-#{$fs} {
		@include alt-12-book;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;
		@media #{$lg-down} {
			font-size: ($fs - 2) + px !important;
			font-size: rem(($fs) - 2) !important;	
		}	
	}
	.#{$alt}-bold-#{$fs} {
		@include alt-bold;	
		font-size: $fs + px !important;	
		font-size: rem($fs) !important;	
	}
}

//

.form-control {
	font-size: 18px !important; 
}

.black-text {
	color: black !important;
}

.red {
	color: $brand-danger !important;
}

.text-info {
	color: $brand-info !important;
}

.gray-main {
	color: $gray-main !important;
}

.gray-light {
	color: $gray-light !important;
}