html,
body {
	min-height: 100%;
	height: 100%;
	color: $gray-main;
	background-image:url("../assets/img/trama_xs.png");
}

.grid-bg {
	background-image:url("../assets/img/trama_xs.png");
}

.site-wrapper {
	min-height: 100%;
	height: 100%;
}

.site-wrapper {
	position: relative;
}

$site-menu-width: 79px;
.site-menu {
	background: white;
	width: $site-menu-width;
	z-index: 10;
	position: fixed;
	padding-top: 140px;
	float: left;
	height: 100%;
	@media #{$portrait} {
		top: 86px;
		min-height: 880px;
	}
	min-height: 575px;
	top:0px;
}

.lista-cursos {
	z-index: 2000;
	position: fixed;
	margin-left: 88px;
	margin-top: 236px;
}

.site-header {
	position: fixed;
	width: 100%;
	height: 47px;
	z-index: 100;
}

.site-content {
	min-height: 100%;
	@media #{$md-up} {
		@include calc(width, "100% - #{$site-menu-width}");
	}

	padding-top: 175px;
	@media #{$md-down} {
		width: 100% !important;
		padding-top: 121px;

	}
	.container-fluid{
		@media #{$sm-down} {
			max-width: 480px;
		}
	}
	&.login, &.error-404 {
		width: 100% !important;
		padding-bottom: 98px !important;
	}
	&.error-404 {
		height: 100%;
	}
	background-image:url("../assets/img/trama_xs.png");
	float: right;
	padding-left: 0px;
	padding-bottom: 21px;
	&.iframe {
		background: none;
	}
	&.shorter {
		min-height: 822px;
	}
	.container-fluid {
		.row .col-sm-8 {
			padding-top: 0;
			@media #{$md-down} {
				padding-top: 14px;
			}
		}
	}
}

.section-desc {
	padding-top: 5px;
	@include serif-book;
	font-size: 18px;
	font-size: rem(18);
}

button#buscar-phr {
	// float: right;
	width: 100%;
	margin-top: 7px;
	background-color: $gray-main;
	border-radius: 0px;
	color: white;
	@include bold;
	font-size: 22px;
	padding: 3px 49px !important;
}

.section-content {
	.row {
		.zizou-26 {
			@include serif-book;
			font-size: 26px;
			font-size: rem(26);
			margin-top: 0;
			@media #{$sm-down} {
				margin-left: 0px;
				font-size: 26px;
				font-size: rem(26);
			}
			padding: 0;
		}
		.col-sm-8 {
			.row {
				padding-top: 7px;
			}
		}
	}
}

// Dropdowns
.dropdown {
	ul.dropdown-menu {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		border: none;
		margin: 0 !important;
		padding: 0 !important;
		&.first-child {
			left: -24px !important;
			top: 91px !important;
			border-radius: 0px;
			&:after {
				left: 32% !important;
			}
		}
		&:after {
			bottom: 100%;
			left: 71%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 15px;
			margin-left: -15px;
		} 
		li {
			cursor: pointer;
			&.dditem {
				padding-top: 3px;
				padding-bottom: 3px;
				width: 100%;
				&:hover {
					background-color: $brand-info;
					color: white !important;
					a {
					color: white !important;
					}
				}
			}
			&.divider {
				margin: 0;
			}
			font-size: 16px;
			@include serif-book;
		}
	}
	&.avatar-hijo {
		.dropdown-toggle {
			.avatar-container {
				cursor: pointer;
				background-image:url("../assets/img/child_avatar_sm.png");
				background-repeat: no-repeat;
				margin: 0 auto;
				width: 60px;
				height: 60px;
				&.active {
					background-image:url("../assets/img/child_avatar_hover_sm.png");
				}
			}
		}
		.dropdown-menu {
			padding: 0 !important;
			margin: 6px 0 0;
		}
	}
}