// custom colums
.col-md-2-4{
  @include make-md-column(2.4)
}
.col-sm-2-4{
  @include make-sm-column(2.4)
}
.col-xs-2-4{
  @include make-xs-column(2.4)
}

.col-sm-0-8{
  @include make-sm-column(0.8)
}

.col-sm-0-5{
  @include make-sm-column(0.5)
}

.col-sm-1-5{
  @include make-sm-column(1.5)
}

// .col-sm-2-5{
//   @include make-sm-column(2.5)
// }

.col-xs-1-5{
  @include make-xs-column(1.5)
}

.col-xs-4-5{
  @include make-xs-column(4.5)
}

.col-sm-7-5{
  @include make-sm-column(7.5)
}
// Custom Margins & Paddings
.m-auto {
	margin: auto !important;
}

@for $h from 1 to 10 {
  .mt--#{$h*7} {
    margin-top: ($h*-7) + px!important;
    margin-top: rem($h*-7)!important;
  }
}


@for $h from -10 to 10 {
  .mt-#{$h} {
    margin-top: ($h) + px!important;
    margin-top: rem($h)!important;
  }
}

@for $h from -10 to -1 {
  .mb-#{$h} {
    margin-bottom: ($h) + px!important;
    margin-bottom: rem($h)!important;
  }
}

@for $h from 1 to 10 {
  .mr-#{$h} {
    margin-right: ($h) + px!important;
    margin-right: rem($h)!important;
  }
}

@for $h from 1 to 10 {
  .pt-#{$h} {
    padding-top: ($h) + px!important;
    padding-top: rem($h)!important;
  }
}
@for $h from 1 to 6 {
  .pb-#{$h} {
    padding-bottom: ($h) + px!important;
    padding-bottom: rem($h)!important;
  }
}
// Custom Buttons
.btn-custom {
	&.gray {
		background-color: $gray-main !important;
	}
	&.black-btn {
		background-color: black !important;
		&:hover {
			background-color: #6F7072 !important; 
		}
	}
	&.info {
		background-color: $brand-info !important;
	}
	padding: 7px !important;
	border-radius: 0px;
	border: none !important;
	@include bold;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	&:hover {
		color: white;
	}
	&.wide {
		min-width: 189px !important;
		font-size: 20px !important;
		@media #{$md-down} {
			min-width: 126px !important;	
			font-size: 16px !important;
		}	
		@media #{$xs-only} {
			min-width: 95px !important;	
		}	
		padding: 3px !important; 
	}
	&.wide-full {
		width: 100% !important;
		font-size: 20px !important;
		@media #{$md-down} {
			width: 100% !important;	
			font-size: 16px !important;
		}	
		@media #{$xs-only} {
			width: 100% !important;	
		}	
		padding: 3px !important; 
	}
	&.lg {
		font-size: 22px !important;
		@media #{$md-down} {
			font-size: 18px !important;	
		}	
		@media #{$xs-only} {
			font-size: 14px !important;	
		}	
	}
}
.btn-anchor {
	color: black;
	background: none;
	border:none;
	&:hover {
		text-decoration: underline;
	}
}

// Custom Line Heights
.lh-1-1 {
	line-height: 1.1 !important;
}

// custom backgrounds
.no-bg {
	background: none !important;
}
// images
.img-center {
	display: block;
	margin: 0 auto;
}
/*========================================
=            h2ww               =
========================================*/
h2 {
	@media #{$lg-down} and (orientation:portrait) {
		font-size: 22px !important;
		font-size: rem(22px) !important;
	}
	@media #{$lg-down} and (orientation:landscape) {
		font-size: 22px !important;
		font-size: rem(22px) !important;
	}
}