html,
body {
	min-height: 100%;
	height: 100%;
	&::-webkit-scrollbar { 
    display: none; 
	}
}

.site-wrapper,
.site-menu {
	min-height: 100%;
	height: 100%;
}

.site-wrapper {
	position: relative;
}

.site-menu {
	background: white;
	width: 80px;
	z-index: 2000;
	position: fixed;
	margin-top: 156px;
}

.lista-cursos {
	z-index: 2000;
	position: fixed;
	margin-left: 88px;
	margin-top: 236px;
}

.site-header {
	position: fixed;
	width: 100%;
	height: 47px;
	background: $gray-light;
	z-index: 1010;
	&.outside {
		height: 49px;
		.col-sm-0-5.servicios {
			margin-left: -9px;
			margin-right: 5px;
		}
	} 
}

#mobile-nav {
	.col-xs-4 {
		padding-left: 0;
	}
	.col-xs-6 {
		div.btn {
			margin: 7px !important;
			img {
				height: 14px;
				margin-right: 3px;
				margin-bottom: 3px;
			}
		} 
	}
}

#collapseMobile {
	margin-top: 21px !important;
	ul.mobile-menu {
		> li {
			padding-left: 21px !important;
			a {
				@include book;
				color: white !important;
				font-size: 20px !important;
				text-transform: uppercase;
			}
			&:nth-child(even) {
				background: $gray-light;
			}
			&:nth-child(odd) {
				background: $gray-lighter;
				a {
				color: $gray-main !important;
				}
			}
			@include serif-book;
			font-size: 14px;
		}
	}
	.child li {
		padding-left: 21px !important;
	}
}

.site-content {
	position: absolute;
	background-image:url("../assets/img/trama_xs.png");
	width: 100%;
	padding-top: 98px;
	padding-left: 0px;
	padding-right: 14px;
	min-height: 100%;
	padding-bottom: 49px;
	margin-top: 62px;
	@media #{$lg-down} {
		padding-left: 28px !important;
		padding-right: 28px !important;
	}

	&.iframe {
		background: none !important;
	}
	.row {
		margin-left: -28px;
		@media #{$xs-only} {
			margin-right: -28px !important;
		}
	}
	.mensaje {
		padding-right: 14px;
		padding-left: 14px;
		background-color: none !important;
		div[class^="col-sm-"] {
    	padding:0; 
		}
		.col-sm-0-5 {
			background-color: white !important;
			&.icon, &.dismiss {
			padding: 7px;
			}
			&.icon {
				img {
					padding-bottom: 1px;
				}
			}			
			&.dismiss {
				img {
					padding-bottom: 3px;
				}
			}
		}
		.col-sm-10 {
			font-size: 10px;
			@include alt-book;
			.inner {
			background-color: white !important;
			min-height: 39px;
			}
		}
	}
	.internal-header {
		&.fixed {
			position: fixed;
			margin-left: 0px;
			width: 100%;
		}
		.first-line, .second-line {
			h1, h2, h3, h4, h5, h6 {
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
		.first-line span {
			@include serif-book;
			font-size: rem(14px) !important;
			font-size: 14px !important;
			color: $gray-light;
		}
		.second-line {
			margin-left: -30px !important;
			margin-top: 7px !important; 
			span {
				@include bold;
				text-transform: uppercase;
				font-size: rem(44px) !important;
				font-size: 44px !important;
				color: $gray-main;
				line-height: 35px !important;
			}
		} 
	}
}

.section-content {
	.row {
		.title-no-panel {
			@include serif-book;
			font-size: 26px;
			margin-top: 0;
			margin-left: -7px;
			padding: 0;
		}
		.col-sm-3 {
			button {
				float: right;
				margin-top: 7px;
				background-color: $gray-main;
				border-radius: 0px;
				color: white;
				@include book;
				font-size: 22px;
				padding: 3px 49px !important;
			}
		}
		.col-sm-8.resultados {
			padding-left: 0px;
			padding-right: 42px;
			.num-resultados {
				@include serif-book;
				font-size: 26px;
				margin-top: 0;
				padding: 0;
			}
			ul {
				li {
					padding-bottom: 14px;
					.resultado-heading {
						color: black;
						@include book;
						text-transform: uppercase;
						font-size: 20px;
						img {
							width: 16px;
							padding-bottom: 5px;
							margin-right: 5px;
						}
					}
					.resultado-content {
						@include alt-book;
						font-size: 14px;
					}
				}
			}

		}
	}
}

// Dropdowns
.dropdown {
	ul.dropdown-menu {
		left: -84px !important;
		top: 100px;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
		border: none;
		margin: 0;
		padding: 0;
		&.first-child {
			left: -24px !important;
			top: 79px !important;
			&:after {
				left: 32% !important;
			}
		}
		&:after {
			bottom: 100%;
			left: 77%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #ffffff;
			border-width: 15px;
			margin-left: -15px;
		} 
		@include book;
		li {
			&.dditem {
				padding-top: 3px;
				padding-bottom: 3px;
				&:hover {
					background-color: $brand-info;
					color: white !important;
					a {
					color: white !important;
					}
				}
			}
			&.divider {
				margin: 0;
			}
			font-size: 16px;
			@include serif-book;
		}
	}
	&.avatar-hijo {
		.dropdown-toggle {
			.avatar-container {
				border-radius: 50px;
				border: 4px solid white;
				&.active-child {
					border: 4px solid $brand-danger;
				}
				padding: 3px;
				background-color: $gray-light;
				width: 50px !important;
				img {
					height: 38px !important;
				}
			}
		}
		.dropdown-menu {
			padding: 0 !important;
			margin: 6px 0 0;
		}
	}
}