// custom colums
.col-md-2-4{
  @include make-md-column(2.4)
}
.col-sm-2-4{
  @include make-sm-column(2.4)
}
.col-xs-2-4{
  @include make-xs-column(2.4)
}

.col-sm-0-8{
  @include make-sm-column(0.8)
}
.col-sm-0-5{
  @include make-sm-column(0.5)
}
.col-md-0-5{
  @include make-md-column(0.5)
}
.col-md-3-5{
  @include make-md-column(3.5)
}

.col-sm-0-5{
  @include make-sm-column(0.5)
}

.col-sm-1-5{
  @include make-sm-column(1.5)
}

.col-sm-3-5{
  @include make-sm-column(3.5)
}
.col-sm-7-5{
  @include make-sm-column(7.5)
}
.col-sm-10-5{
  @include make-sm-column(10.5)
}


.col-xs-0-5{
  @include make-xs-column(0.5)
}
.col-xs-1-5{
  @include make-xs-column(1.5)
}
.col-xs-3-5{
  @include make-xs-column(3.5)
}
.col-xs-4-5{
  @include make-xs-column(4.5)
}
.col-xs-10-5{
  @include make-xs-column(10.5)
}

// Custom Margins & Paddings
.m-auto {
	margin: auto !important;
}

$margins-paddings: ("p": "padding", "m": "margin", "pt": "padding-top", "pb": "padding-bottom", "pl": "padding-left", "pr": "padding-right", "mt": "margin-top", "mb": "margin-bottom", "ml": "margin-left", "mr": "margin-right");
// \\ Negative Margins & Paddings
@each $mp-class, $mp-property in $margins-paddings {
	@for $h from -1 to -10 {
	  .#{$mp-class}--#{$h*7} {
	    #{$mp-property}: rem($h*7)!important;
	    #{$mp-property}: ($h*7) + px !important;
	  }
	}
}

// \\ Tiny Margins & Paddings
@each $mp-class, $mp-property in $margins-paddings {
	@for $h from 1 to 10 {
	  .#{$mp-class}-#{$h} {
	    #{$mp-property}: rem($h)!important;
	    #{$mp-property}: ($h) + px !important;
	  }
	}
}

// Custom Buttons
.btn-custom {
	&.gray {
		background-color: $gray-main !important;
	}
	&.black-btn {
		background-color: black !important;
		&:hover {
			background-color: #6F7072 !important; 
		}
	}
	&.info {
		background-color: $brand-info !important;
	}
	padding: 3px !important;
	border-radius: 0px;
	border: none !important;
	@include bold;
	font-weight: 500;
	text-transform: uppercase;
	color: white;
	&:hover {
		color: white;
	}
	&.full-width {
		width: 100%;
		margin-top: 14px;
		font-size: 20px;
		font-size: rem(20px);
	}
	&.wide {
		min-width: 189px !important;
		font-size: 20px !important;
		padding: 3px !important; 
		@media #{$md-down} {
			min-width: 126px !important;	
			font-size: 16px !important;
			padding: 7px !important; 
		}	
		@media #{$xs-only} {
			min-width: 95px !important;	
			padding: 7px !important; 
		}	
		
	}
	&.wide-full {
		width: 100% !important;
		font-size: 20px !important;
		padding: 3px !important; 
		@media #{$md-down} {
			width: 100% !important;	
			font-size: 16px !important;
			padding: 7px !important; 
		}	
		@media #{$xs-only} {
			width: 100% !important;	
			padding: 7px !important; 
		}	
		
	}
	&.lg {
		font-size: 22px !important;
		@media #{$md-down} {
			font-size: 18px !important;	
		}	
		@media #{$xs-only} {
			font-size: 14px !important;	
		}	
	}
}
.btn-anchor {
	color: black;
	background: none;
	border:none;
	&:hover {
		text-decoration: underline;
	}
}

// Custom Line Heights
.lh-1-1 {
	line-height: 1.1 !important;
}

// custom backgrounds
.no-bg {
	background: none !important;
}
// images
.img-center {
	display: block;
	margin: 0 auto;
}
/*========================================
=            h2ww               =
========================================*/
h2 {
	@media #{$lg-down} and (orientation:portrait) {
		font-size: 22px !important;
		font-size: rem(22px) !important;
	}
	@media #{$lg-down} and (orientation:landscape) {
		font-size: 22px !important;
		font-size: rem(22px) !important;
	}
}
//positioning
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
li.clickeable .zizou-16:hover {
	text-decoration: underline;
}
.clickeable {
	cursor: pointer;
}