
// panels
.panel {
	@media #{$md-down} {
		margin-top: 21px !important;
	}
	position: relative;
	.panel-head {
		background-color: white;
		@include clearfix;
		@media #{$md-down} {
			background-color: rgba(0,0,0,0);
		}
		.panel-title {
			padding: 7px;
			@media #{$sm-down} {
				padding: 14px !important;
			}
			&.left {
				padding: 14px 0 !important;
			}
			display: inline-block;
			h1, h2, h3, h4, h5, h6 {
				margin: 0;
				font-family: "zizou-slab-regular" !important;
				@include serif-book;
			}
		}
		.panel-head-link {
			height: 30px;
			width: 30px;
			margin: 7px;
			background-repeat: no-repeat;
			background-position: center;
			&.vida {
				@media #{$md-down} {
					margin-left: 0px;
	  				margin-right: 1px;
	  				margin-top: 5px;
				}
			}
			@media #{$md-down} {
				height: 24px;
				width: 24px;
				margin: 3px;
			}
			@media #{$md-down} and (orientation: portrait) {
				height: 20px;
				width: 20px;
				margin: 3px;
			}
			&.danger {
				background-image:url("../assets/img/red_arrow_normal.png");
				@media #{$md-down} {
					background-image:url("../assets/img/red_arrow_normal_tiny.png");
					margin-top: 18px;
					margin-top: 1rem;
				}
				@media #{$xs-only}{
					margin-top: 17px;
					margin-top: 1.1rem;
				}
				&:hover {
					background-image:url("../assets/img/red_arrow_hover.png");
					@media #{$md-down} {
						background-image:url("../assets/img/red_arrow_hover_tiny.png");
					}
				}
			}
			&.info {

				background-image:url("../assets/img/info_arrow_normal.png");
				@media #{$md-down} {
					background-image:url("../assets/img/info_arrow_normal_tiny.png");
					background-size: cover;
					margin-top: 18px;
					margin-top: 1rem;
				}
				@media #{$xs-only}{
					margin-top: 17px;
					margin-top: 1.1rem;
				}
				&:hover {
					background-image:url("../assets/img/info_arrow_hover.png");
					@media #{$md-down} {
						background-image:url("../assets/img/info_arrow_hover_tiny.png");
						background-size: cover;
					}
				}
			}
			float: right;
		}
	}
	.panel-body {
		&.canales {
			padding-bottom: 28px;
			.panel-table {
				min-height: 140px !important;
				@media #{$md-down}{
					min-height: 0px!important;
				}
				.tr {
					border: none !important;
				}
			}
		}
		.panel-table {
			background-color: white !important;
			&.observaciones {
				background-color: $brand-info !important;
				border-top: 2px solid $brand-danger;
			}
			&.otras-acciones {
				background: none !important;
			}
			&.red-error-message{
				background-color: #f8c6c2!important;
				color:  #e42322!important;
			}
			&.blue-message{
				background-color: #afd7ff!important;
				color:  #3399ff!important;
			}
		}
		.panel-body-head {
			text-transform: uppercase;
			background: white;
			color: black;
			text-align: center;
			padding-top: 14px; //agregado para canales
			padding-left: 14px; //agregado para canales
			&.tall {
				min-height: 70px !important;
				padding-right: 7px;
				@media #{$md-down}{
					min-height: 0px !important;
				}
			}
			&.left {
				text-align: left !important;
			}
			h1, h2, h3, h4, h5, h6 {
				margin: 0;
			}
			h3{
				min-height: 3.7rem;
				@media #{$md-down}{
					min-height: 0px !important;
				}
			}
			@include bold;
			ul {
				padding: 7px !important;
				margin: 0 !important;
				span {
					font-size: 20px;
				}
			}
		}
		.panel-body-head-table {
			padding-top: 7px;
			background: white !important;
			color: $gray-main !important;
			.tr {
				@include list-unstyled;
				@include clearfix;
				li + li {
					&.col-sm-2, &.col-sm-1, &.col-sm-4, &.col-sm-5, &.col-sm-6, &.col-sm-7 {
						div {
							&.fecha {
								border: none;
							}
						}
					}
				}
				li {
					padding: 0;
					div {
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(center);
						// text-align: center;
						//
						span {
							@include flex-grow(0);
							@include alt-ab-light;
							color: $gray-light;
							font-size: rem(14px);
							font-size: 14px;
							@media #{$lg-down} {
								font-size: rem(11px);
								font-size: 11px;
							}
							@media #{$md-down} {
								font-size: rem(14px);
								font-size: 14px;
							}
							text-align: center;
							text-transform: uppercase;
							&.curso {
								text-align: left;
								padding-left: ($container-fluid / 2);
							}	
							&.fecha {
								border: none;
							}
						}
						//
					}
				}
			}
			.lista-alumnos {
				.tr {
					.col-sm-6 {
						text-align: left;
					}
				}	
			}
			
		}

		.panel-body-content {
			background-color: white;
			text-align: center;
			padding-top: 7px;
		}
		.panel-table {
			&.mis-cursos-content {
				ul + ul {
					margin-top: 5px;
				}
				ul {
					border: none;
					li {
						padding-bottom: 7px !important;
						background: white;
						&.curso-faltas, &.curso-promedio {
							display: none;
							cursor: pointer !important;
						}
						&.show-curso-detail {
							cursor: pointer !important;
						}	
					}
				}
			}
			&.pagos {
				padding: 7px;
				background: white;
				ul {
					&.tr {
						border: none !important;
						li {
							&#pagos-placeholder {
								min-height: 70px;
							}
							cursor: pointer;
							h3 {
								margin: 0;
							}
							h4 {
								margin-top: 7px;
								margin-bottom: 0px;
							}
						}
					}
					&#pagos-pdtes {
						cursor: pointer;
						display: none;
						li {
							&.col-sm-4 {
								border-left: 2px $gray-lighter solid;
							}
							&.col-sm-8, &.col-sm-4 {
								span {
									display: block;
								}
							}
						}
					} 
				}
			}
			.tr {
				@include list-unstyled;
				@include clearfix;
				li {
					padding: 7px 0;
					div {
						h1, h2, h3, h4, h5, h6 {
						margin: 7px;
						}
					}
					span {
						@include flex-grow(0);
					
						@media #{$md-down} {
							font-size: rem(14px);
							font-size: 14px;
						}
					}
					div {
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(center);
						min-height: 28px;
						border: 0px;
						padding: 0 6px;
						&.nrb {
							border: none;	
						}
						
						// @media only screen and (width: 1024px) {
						// 	min-height: 49px;
						// }						
						span {
							@include flex-grow(0);
						}
						.borderless {
							border: none;
						}
					}
					&:last-child {
						div {
							border: none;
						}
					}
				}
				&.table-border
				{
						li div
						{
							border-right: 2px solid $gray-light;	
							div{
								border: none;
							}
						}
						li:last-of-type div{
							border-right: 0px;
						}
				}
			}

		}
	}
	.panel-footer {
		background-color: white;
		padding-bottom: 7px;
		min-height: 31px;
		.pull-left {
			min-height: 49px;
		}
	}
}

