// icons and arrows
.custom-icon {
	min-height: 30px !important;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	&.mail {
		background-image:url("../assets/img/red_mail_icon_normal.png");
	}
	&.pdf {
		background-image:url("../assets/img/red_pdf_icon_normal.png");
	}
	&.print {
		background-image:url("../assets/img/red_print_icon_normal.png");
	}
	float: left;
}

.arrow-icon {
	height: 1.2rem;
	width: 1.2rem;
	min-height: 0.8rem !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin-top: 0.2rem;
	@media #{$md-down} {
		margin-top: 0.2rem;
	}
	&.tiny {
			height: 22px;
			width: 22px;
			min-height: 22px !important;
			margin: 7px;
			@media #{md-down} {
				margin-top: 0.2rem;
			}
	}
	&.danger {
		background-image:url("../assets/icons/red-right-round-arrow.png");
		&.tiny {
			background-image:url("../assets/icons/red-right-round-arrow.png");
			&:hover {
				background-image:url("../assets/icons/light-right-round-arrow.png");
			}
		}
		&:hover {
			background-image:url("../assets/icons/red_arrow_hover.png");
		}
	}
	&.info {
		background-image:url("../assets/icons/blue-right-round-arrow.png");
		&:hover {
			background-image:url("../assets/icons/cyan-right-round-arrow.png");
		}
	}
	&.black {
		&.tiny {
			background-image:url("../assets/icons/black_arrow_tiny.png");
		}
	}
	float: left;

}
// Mis Tramites
.pdte-tr {
	background-color: lighten($brand-danger, 28%);
	color: $brand-danger;
	text-transform: uppercase;
}
.apr-tr {
	background-color: lighten($brand-info, 28%);
	color: $brand-info;
	text-transform: uppercase;
}
// Panel Body
.red-line {
	border-top: 2px solid $brand-danger;
}
.blue-line{
	border-top: 2px solid rgba(55, 150, 255, 1);
}

.gray-line-bottom{
	border-bottom: #E3E3E3 1px solid;
}

@media #{$md-down}
{
	.red-mobile-line {
	border-top: 2px solid $brand-danger;
	}

	.blue-mobile-line{
		border-top: 2px solid rgba(55, 150, 255, 1);
	}
	.gray-mobile-line-bottom{
		border-bottom: #E3E3E3 1px solid;
	}

	.gray-mobile-dot-line-bottom{
		border-bottom: #58585A 1px dashed;
	}

	.gray-mobile-dot-line-top{
		border-top: #58585A 1px dashed;
	}

	.no-border-top{
		border-top: none!important;
	}
}

.red-error-message{
	background-color: #f8c6c2!important;
	color:  #e42322!important;
}
.blue-message{
	background-color: #afd7ff!important;
	color:  #3399ff!important;
}
.info-border {
	border-top: 2px solid $brand-info;
}
.black-border-top {
	border-top: 2px solid black;
}	
.gl-border-top {
	border-top: 2px solid $gray-light;
}
.gm-border-top {
	border-top: 2px solid $gray-main;
}

.gm-background{
	background-color: #C4C5C7;
}

// Borders Helpers
.br-gl {
	border-right: 2px solid $gray-light;
}

.br-no {
	border-right: 0px;
}
// Separation lines
.panel-title-line {
	height: 1px;
	width: 97%;
	border-bottom: $gray-lighter 1px solid;
	margin-left: 7px;
}

.dotted-line {
	height: 1px;
	width: 97%;
	border-bottom: $gray-light 1px dashed;
	margin-left: 14px;

}