// panels
.panel {
	@media #{$sm-down} {
		margin-top: 21px !important;
	}
	position: relative;
	&.curso-detalle {
		padding-top: 3px;
	}
	.panel-head {
		@include clearfix;
		&.muted-head-underlined {
			border-bottom: 2px solid white;
			margin: 14px auto;
			h2 {
				font-size: rem($custom-h2);
				font-size: $custom-h2;
				color: white;
			}
		}
		&.muted-head {
			margin: 14px auto;
			h2 {
				font-size: rem($custom-h2);
				font-size: $custom-h2;
				color: white;
			}
		}
		.panel-head-wrap {
			border-bottom: $gray-lighter 2px solid;
			margin-left: 7px;
			width: 97%;
		}
		.panel-head-right {
			float: right;
			@include clearfix;
			div {
				float: right;
			}
			.reservas-btn {
			padding: 1px 5px;
			border-radius: 0px;	
			}
		}
		.panel-title {
			padding: 0px !important;
			h1, h2, h3, h4, h5, h6 {
				margin: 0;
				padding-bottom: 7px;
			}
			@include serif-book;
			a.arrow-link {
				img {
					margin-top: -30px !important;
				}
			}
		}
	}
	.panel-body {
		&.canales {
			padding-bottom: 28px;
			.panel-table {
				min-height: 140px !important;
				.tr {
					border: none !important;
				}
			}
		}
		.panel-table {
			background-color: white !important;
			&.observaciones {
				background-color: $brand-info !important;
				border-top: 2px solid $brand-danger;
			}
			&.no-bg {
				background: none !important;
				.tr {
					background-color: white !important;
				}
			}
			.tr {
				li.formula {
					border-bottom: 2px solid $gray-main;
				}
				a.sb-link {
					color: $brand-info !important;
				}
			}
			&.otras-acciones {
				background: none !important;
				.tr li {
					.oa-icon {
						display: inline-block !important;
						border: none !important;
					}
					a {
						div.oa-label {
							display: inline-block !important;
							color: black;
							width: 260px;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				.tr a {
					li {
						.oa-icon {
							display: inline-block !important;
						}
						span {
							&:hover {
								text-decoration: underline;
							}						
						}
					}
					&.sb-link {
						color: $brand-info !important;
						li span {
								color: $brand-info !important;
						}
					}
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.panel-body-head {
			text-transform: uppercase;
			background: white;
			color: black;
			text-align: center;
			&.left {
				text-align: left;
				padding-left: 7px;
			}
			&.tall {
				// background: black;
				min-height: 63px;
				padding: 7px;
			}
			&.gray {
				background: $gray-main;
				font-size: 15px;
				padding-top: 4px !important;
				padding-bottom: 4px !important;
			}
			h1, h2, h3, h4, h5, h6 {
				margin: 0;
			}
			@include bold;
			ul {
				padding: 7px !important;
				margin: 0 !important;
				span {
					font-size: 20px;
				}
			}
		}
		.panel-body-head-table {
			background: $gray-main;
			&.white {
				background: white !important;
				color: $gray-main !important;
			}
			.tr {
				&.border-bt-gl {
					border-bottom: 2px solid $gray-light;
				}
				@include list-unstyled;
				@include clearfix;
				li + li {
					&.col-sm-2, &.col-sm-1, &.col-sm-4, &.col-sm-5, &.col-sm-6, &.col-sm-7 {
						div {
							// border-left: 2px solid $gray-light;
							&.fecha {
								border: none;
							}
						}
					}
				}
				li {
					padding: 6px 0;
					div {
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(center);
						span {
							@include flex-grow(0);
							@include alt-ab-light;
							font-size: rem(13px);
							font-size: 13px;
							color: $gray-light;
							text-transform: uppercase;
							text-align: center;
						&.head-left {
							text-align: left !important;
							padding-left: 7px;
						}	
						&.curso {
							text-align: left;
							padding-left: ($container-fluid / 2);
						}	
						&.fecha {
							border: none;
						}
						}
					}
				}
			}
			.lista-alumnos {
				.tr {
					.col-sm-6 {
						text-align: left;
					}
				}	
			}
			
		}

		.panel-body-content {
			background-color: white;
			text-align: center;
			padding-top: 7px;
		}
		.panel-table {
			&.mis-cursos-content {
				ul + ul {
					margin-top: 5px;
				}
				ul {
					border: none;
					li {
						padding-bottom: 7px !important;
						background: white;
						&.col-xs-2 {
							display: none;
						}
						&.show-curso-detail {
							cursor: pointer !important;
						}	
						&.curso-promedio {
							div {
								border-right: none;
							}
						}
					}
				}
			}
			&.pagos {
				padding: 7px;
				background: white;
				ul {
					&.tr {
						border: none !important;
						li {
							&#pagos-placeholder {
								min-height: 70px;
								span {
									display: block;
									@include serif-book;
									font-size: 14px;
									color:$brand-danger;
									}
							}
							cursor: pointer;
							h3 {
								margin: 0;
							}
							h4 {
								margin-top: 7px;
								margin-bottom: 0px;
							}
						}
					}
					&#pagos-pdtes {
						cursor: pointer;
						display: none;
						li {
							&.col-sm-4 {
								border-left: 2px $gray-lighter solid;
							}
							&.col-sm-8, &.col-sm-4 {
								span {
									display: block;
								}
							}
						}
					} 
				}
			}
			&.striped {
					.tr:nth-child(even) {background: white};
					.tr:nth-child(odd) {background: $gray-lighter}
			}
			.tr {
				&.row-libre {
					padding-left: 7px;
				}
				a {
					color: black;
				}	
				@include list-unstyled;
				@include clearfix;
				li {
					padding: 7px 0;
					&.pdte-tr {
						background-color: lighten($brand-danger, 28%);
						color: $brand-danger;
						text-transform: uppercase;
					}
					&.apr-tr {
						background-color: lighten($brand-info, 28%);
						color: $brand-info;
						text-transform: uppercase;
					}
					&.whole-cell-height {
						border-right: 1px solid $gray-light;
						border-bottom: 1px solid $gray-light;
						background: white;
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(center);
						min-height: 42px;						
						padding: 0 6px;
					}
					div {
						h1, h2, h3, h4, h5, h6 {
						margin: 7px;
						}
					}
					span {
						@include flex-grow(0);
					}
					>div {
						@include display(flex);
						@include flex-direction(column);
						@include justify-content(center);
						min-height: 28px;
						border-right: 2px solid $gray-light;
						padding: 0 6px;
						&.nrb {
						border: none;	
						}
						@media #{$md-only} {
							min-height: 49px;
						}						
						span {
							@include flex-grow(0);
						}
						.borderless {
							border: none;
						}
					}
					&:last-child {
						div {
							border: none;
						}
					}
				}
			}
		}
	}
	.panel-footer {
		background-color: white;
		padding-bottom: 14px;
	}
}