// RESPONSIVE FONT RESIZE
html {
  font-size: $font-size-base;
  @media #{$sm-only} {
    font-size: $font-size-base - 2;
  }
  @media #{$xs-only} {
    font-size: $font-size-base - 2;
  }
}

// MAIN TEXT


// TEXT IN REMS
h1, .h1 { font-size: rem($font-size-h1); }
h2, .h2 { font-size: rem($font-size-h2); }
h3, .h3 { font-size: rem($font-size-h3); }
h4, .h4 { font-size: rem($font-size-h4); }
h5, .h5 { font-size: rem($font-size-h5); }
h6, .h6 { font-size: rem($font-size-h6); }
p, .p, ul { font-size: rem($font-size-base); }

// Contextual emphasis
@for $i from 1 through length($brand-colors-list) {
  .text-#{nth($brand-colors-sufix-list, $i)} {
    a {
      color: #{nth($brand-colors-list, $i)} !important;
      &:hover {
        color: #{darken(nth($brand-colors-list, $i), 21%)};
      }
    }
    color: #{nth($brand-colors-list, $i)} !important;
  }
}

@for $i from 1 through length($grayscale-list) {
  .text-#{nth($grayscale-sufix-list, $i)} {
    a {
      color: #{nth($grayscale-list, $i)} !important;
      &:hover {
        color: #{darken(nth($grayscale-list, $i), 21%)};
      }
    }
    color: #{nth($grayscale-list, $i)} !important;
  }
}

// Alignment
.text-left {
  text-align: left!important; 
}
.text-right {
  text-align: right!important; 
}
// Center on Mobile or Tablet

@for $i from 1 through length($breakpoints-sufix-list) {
  .text-left-#{nth($breakpoints-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: left !important;
    }
  }
}

@for $i from 1 through length($breakpoints-sufix-list) {
  .text-right-#{nth($breakpoints-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: right !important;
    }
  }
}

@for $i from 1 through length($breakpoints-sufix-list) {
  .text-center-#{nth($breakpoints-sufix-list, $i)} {
    @media #{nth($media-only-list, $i)} {
      text-align: center !important;
    }
  }
}


// Text transforms
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: none !important;
}

.underline {
  text-decoration: underline!important;
}

a.not-underline {
  &:hover {
    text-decoration: none;
  }
}

// TEXT GRADIENTS
@mixin text-fill-color($color) {
  @include prefixer(text-fill-color, $color, webkit moz spec);
}

@mixin background-clip($clip) {
  @include prefixer(background-clip, $clip, webkit moz spec);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .text-gradient {
    @include background(linear-gradient(left, $brand-primary, $brand-info, $brand-success) repeat);
    @include background-clip(text);
    @include text-fill-color(transparent);
  }
}
// END:TEXT GRADIENTS