{embed="includes/head"}
{embed="includes/header-global-only"}

<div class="site-content login">
	<div class="container-fluid">	
		<div class="row pt-14">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h1>Error 404</h1>
				<p>La página que está buscando no existe. </p>
			</div>
			<div class="col-sm-1"></div>
		</div>
	</div>

</div>

<div class="footer">
  <div class="row">
    <div class="col-xs-1-5"></div>
    <div class="col-xs-3"><img src="{site_url}assets/img/laureate.png" alt=""></div>
    <div class="col-xs-7 pt-28 text-center"><span class="zizou-16">COPYRIGHT UPC 2015</span></div>
  </div>
</div>  
{embed="includes/footer"}   