{embed="includes/head"}
{embed="includes/header-no-global-core"}

<div class="site-content error-404">
	<div class="container-fluid">
		<div class="internal-header">
		  <div class="row">
		    <div class="col-sm-1"></div>
		    <div class="col-sm-4"><span class="zizou-16"></span></div>
		  </div>
		  <div class="row">
		    <div class="col-sm-1"></div>
		    <div class="col-sm-4"><span class="uppercase bold xl">Error 404</span></div>
		  </div>
		</div>	
    <div class="section-content buscar pb-70">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-3 que-buscas">
          <span class="zizou-26"></span>
        </div>  
        <div class="col-sm-7 resultados">
          <p class="zizou-26 encontrado">
          <div class="resultados-busqueda red-line bg-muted">
          	<div class="panel-body p-14 result_query">
          		<span class="helvetica-16">Página no encontrada</span>
          		<span class="helvetica-16"><a href='javascript:history.go(-1)' style='text-transform:uppercase;'><?=lang('back')?>Haz click aquí para regresar a la página anterior</a></span>
          	</div>
          </div>
        </div>
      </div>
		</div>
	</div>
</div>