{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/sidebar"}
    <div class="site-content">
      <div class="internal-header">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="zizou-16">Necesitas</span></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="uppercase bold xl">{segment_2}</span></div>
        </div>
      </div> 
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-8 resultados">
            <div class="resultados-busqueda red-line bg-muted">
                {exp:channel:entries category="{segment_3_category_id}" channel="{segment_2}" limit="20" disable="member_data" dynamic="off"}
                  <div class="mt-14">
                    <img class="p-7 pull-left" src="{site_url}assets/img/black_arrow_tiny.png" alt="">
                    <div class="solano-bold-20 pt-3 black-text">{title}</div>   
                  </div>
                  <div class="pl-35 pb-7 pr-35">
                    {intro-noticia}
                  </div>     
                  {paginate}
                  <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
                  {/paginate}
                  {if count != total_results}
                  <div class="dotted-line"></div>
                  {/if}
                {/exp:channel:entries} 
            </div>  
          </div>
        </div>
      </div>
      </div>
{embed="includes/footer"}   