{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/sidebar"}
    <div class="site-content">
      <div class="internal-header">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="zizou-16">Necesitas</span></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="uppercase bold xl">{segment_2}</span></div>
        </div>
      </div> 
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3"></div>
          <div class="col-sm-8 pt-0">
            <span class="zizou-26">¿Qué deseas hacer?</span>
            <div class="row">
             {exp:channel:entries category="{segment_3_category_id}" channel="{segment_2}" limit="20" disable="member_data" dynamic="off"}
              <div class="col-sm-6">
                <div class="panel">
                  <div class="panel-body canales">
                    <div class="panel-body-head left tall">
                      <h3>{title}</h3>
                    </div>  
                    <div class="panel-table">
                      <ul class="tr">
                        <p class="p-14 helvetica-16">{intrudccion-referencia}</p>
                        {if fecha-referencia}
                        <p class="helvetica-bold-14 pl-7">
                        {fecha-referencia}, de {hora-referencia}, Aula {aula-referencia}
                        </p>
                        {/if}
                      </ul>  
                    </div>
                    <div class="panel-footer">
                      {if archivo-referencia}
                      <a class="sb-link pl-7 zizou-16" target="_blank" href="{archivo-referencia}">
                      {/if}  
                      {if link-referencia}
                        {if tipo-referencia=='Socrates'}
                        <a class="sb-link pl-7 zizou-16" target="_blank" href="{site_url}socrates/{url_title}">
                        {/if} 
                        {if tipo-referencia=='Externa'}
                        <a class="sb-link pl-7 zizou-16" target="_blank" href="{link-referencia}">
                        {/if}   
                      {/if}                                                     
                      <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">{nombre-referencia}
                      {if archivo-referencia}
                      </a>
                      {/if}  
                      {if link-referencia}
                      </a>
                      {/if} 
                    </div>                     
                  </div>
                </div>
              </div>
              {/exp:channel:entries}
            </div>
          </div>
        </div>
      </div>
      </div>
{embed="includes/footer-no-scripts"}      
{embed="includes/footer"}   