{embed="includes/head"}
{embed="includes/header_a"}
<div class="site-content error-404">
  {exp:channel:entries channel="sesion_expirada" orderby="date" sort="desc" limit="1"}
  	<div class="container-fluid">
  		<div class="internal-header">
  		  <div class="row">
  		    <div class="col-sm-1"></div>
  		    <div class="col-sm-4"><span class="zizou-16"></span></div>
  		  </div>  
  		  <div class="row">
  		    <div class="col-sm-3"></div>
  		    <div class="col-sm-7"><span class="uppercase bold xl">{title}</span></div>
  		  </div>
  		</div>	
      <div class="section-content buscar pb-70">
        <div class="row">
          <div class="col-sm-3 que-buscas">
            <span class="zizou-26"></span>
          </div>  
          <div class="col-sm-7 resultados">
            <p class="zizou-26 encontrado">
            <div class="resultados-busqueda red-line bg-muted">
            	<div class="panel-body p-14 result_query">
            		<div class="helvetica-16">{mensaje_sesion}</div>
                <p class="helvetica-16">Serás redirigido en <span id="timeshift">5</span> segundos...
                </p>
                <p class="helvetica-16">O haz click <a href='{site_url}'>aquí</a> para iniciar sesión nuevamente</p>
            	</div>
            </div>
          </div>
        </div>
  		</div>
  	</div>
  {/exp:channel:entries}
</div>

<script>
var interval = setInterval(function() {
    var seconds = $('#timeshift').html();
    seconds = seconds - 1;
    if (seconds < 10 && length.seconds != 2) seconds = seconds;
      $('#timeshift').html(seconds);
    
    if ( seconds == 0){
        clearInterval(interval);
        location.href = "{site_url}login/salir";
    }
}, 1000);
  
</script>