{exp:webservices:iniciar_session}

<small>DOCENTE</small>
<h1>Bienvenido</h1>

<h3>Listado de cursos dictados por el profesor</h3>
{exp:webservices:lista_cursos_dictados_profesor}

<h3>Listado de alumnos matriculados en un curso dictado por el profesor</h3>
{exp:webservices:lista_alumnos_matriculados_en_curso_por_profesor modalidad='FC' periodo='201402' curso='IS157' seccion='CB1A' grupo='00'} 

<h3>Horario de un profesor</h3>
{exp:webservices:horario_profesor}

<h3>Consulta de notas de un alumno por un profesor</h3>
{exp:webservices:consulta_notas_alumno_por_un_profesor codcurso='IS157' codalumno='U201100438'}