{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-docentes"}
{embed="includes/sidebar_docente"}
 
    <div class="site-content">
     <div class="row mensaje pb-21"></div>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
       <div class="panel">
        <div class="panel-head">
          <div class="panel-head-left">
            <div class="panel-title">
              <h2>Mi Horario</h2>
            </div>
          </div>
        </div>
        {embed="includes/dashboard-horario-docente"}
       </div>
      </div>
      <div class="col-sm-4">
        {embed="includes/dashboard-miscursos-docente"}
        {embed="includes/dashboard-misreservas"} 
      </div>
      <div class="col-sm-3">
        {embed="includes/dashboard-noticias-docentes"}
      </div>
      </div>
    </div>
    
{embed="includes/footer"}