{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"} 

<div class="site-content container">
  <div class="row mensaje pb-21">

  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
    <!-- banner 1 -->
    <script type='text/javascript'><!--// <![CDATA[OA_show(2);// ]]> --></script>
    <noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=9db991c'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=2&amp;n=9db991c' /></a></noscript>
    <!-- banner 1 -->
    
     <div class="panel">
      <div class="panel-head">
        <div class="panel-title">
          <h2>Mi Horario: <span class="gray-light">{current_time format="%l"}</span></h2>
        </div>
        <a href="{site_url}mis-estudios/ciclo-actual"><div class="panel-head-link danger"></div></a>
        <div class="panel-title-line"></div>
      </div>
      {embed="includes/dashboard-horario"}
     </div>
      <!-- banner 2 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(3);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=09a1168'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=3&amp;n=09a1168' /></a></noscript>
      <!-- banner 2 -->
      {embed="includes/dashboard-accesos-rapidos"}
      <!-- banner 3 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(10);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=d8ece62'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=10&amp;n=d8ece62' /></a></noscript>
      <!-- banner 3 -->
    </div>
    <div class="col-sm-4">
      <!-- banner 4 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(5);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=dc7b05a'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=5&amp;n=dc7b05a' /></a></noscript>
      <!-- banner 4 -->
      {embed="includes/dashboard-miscursos"}
      <!-- banner 5 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(6);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=dc16b7d'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=6&amp;n=dc16b7d' /></a></noscript>
      <!-- banner 5 -->
      {embed="includes/dashboard-misreservas"}
      <!-- banner 6 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(11);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=ad03114'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=11&amp;n=ad03114' /></a></noscript>
      <!-- banner 6 -->
    </div>
    <div class="col-sm-3">
      <!-- banner 7 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(4);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=507a5b7'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=4&amp;n=507a5b7' /></a></noscript>
      <!-- banner 7 -->
      {embed="includes/dashboard-mispagos"}
      <!-- banner 8 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(8);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=503e1de'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=8&amp;n=503e1de' /></a></noscript>
      <!-- banner 8 -->
      {embed="includes/rss-noticias"}
      <!-- banner 9 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(9);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=b0de46a'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=9&amp;n=b0de46a' /></a></noscript>
      <!-- banner 9 -->
      {embed="includes/rss-vida-universitaria"}
      <!-- banner 10 -->
      <script type='text/javascript'><!--// <![CDATA[
          OA_show(12);
      // ]]> --></script><noscript><a target='_blank' href='http://ads.upc.pe/delivery/ck.php?n=a14de4d'><img border='0' alt='' src='http://ads.upc.pe/delivery/avw.php?zoneid=12&amp;n=a14de4d' /></a></noscript>
      <!-- banner 10 -->
    </div>
  </div>
  <div>
  </div>
</div>

{embed="includes/footer"}