{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"} 

<div class="site-content container">
  <div class="row mensaje pb-21">

  </div>
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
     <div class="panel">
      <div class="panel-head">
        <div class="panel-title">
          <h2>Mi Horario: <span class="gray-light">{current_time format="%l"}</span></h2>
        </div>
        <a href="{site_url}mis-estudios/ciclo-actual"><div class="panel-head-link danger"></div></a>
        <div class="panel-title-line"></div>
      </div>
      {embed="includes/dashboard-horario"}
     </div>
      {embed="includes/dashboard-accesos-rapidos"}
    </div>
    <div class="col-sm-4">
      {embed="includes/dashboard-miscursos"}
      {embed="includes/dashboard-misreservas"}
    </div>
    <div class="col-sm-3">
      {embed="includes/dashboard-mispagos"}
      {embed="includes/rss-noticias"}
      {embed="includes/rss-vida-universitaria"}
      {embed="includes/dashboard-bolsatrabajo"}
    </div>
  </div>
  <div>
  </div>
{embed="includes/footer-no-scripts"}
</div>

{embed="includes/footer"}