{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-padres"}
{embed="includes/sidebar_padres"} 

    <div class="site-content">
      <div class="row mensaje pb-21">

      </div>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
       <div class="panel">
        <div class="panel-head bg-muted">
          <div class="panel-head-left">
            <div class="panel-head-wrap">
              <div class="panel-title">
                <h2>Su Horario</h2>
              </div>
            </div>
          </div>
        </div>
        {embed="includes/dashboard-padre-suhorario" codigo_alumno="{segment_4}"}
       </div>
      </div>
      <div class="col-sm-4">
        {embed="includes/dashboard-padre-suscursos" codigo_alumno="{segment_4}"}

        <!-- INICIO DE RESUMEN DE CICLO -->
        <div class="panel pt-28">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Resúmen del Ciclo</h2>
              </div>
            </div>
            <div class="panel-head-right pt-14">
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-6">
                  <div><span>Créditos Aprobados</span></div>
                </li>
                <li class="col-sm-6">
                  <div><span>Promedio Actual</span></div>
                </li>
              </ul>
            </div>
            <div class="panel-table pagos">
              <ul class="tr">
                <li class="col-sm-6 text-center">
                  <div class="helvetica-bold-20 pt-14 pb-14">
                    <span>18/22</span>
                  </div>
                </li>
                <li class="col-sm-6 text-center">
                  <div class="helvetica-bold-20 pt-14 pb-14">
                    <span>13.20</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-body">
            <div class="panel-body-head gray">
              <div><span>Orden de mérito</span></div>
            </div>
            <div class="panel-body-content">
              <div class="helvetica-bold-20 pt-14 pb-14">
                <span>132 de 194</span>
              </div>
            </div>
          </div>
        </div>
        <!-- FINAL DE RESUMEN DE CICLO -->
      </div>

      <div class="col-sm-3">
        <!-- INICIO MIS PAGOS-->
        {embed="includes/dashboard-padre-mispagos" codigo_alumno="{segment_4}"}
        <!-- FIN MIS PAGOS-->
        <!-- INICIO DE NOTICIAS -->
        {embed="includes/rss-vida-universitaria"}
        <!-- FIN DE NOTICIAS-->
        <!-- INICIO DE BOLSA DE TRABAJO -->
        {embed="includes/rss-noticias"}
        <!-- FIN DE BOLSA DE TRABAJO-->
      </div>
      </div>
    </div>

{embed="includes/footer"}