{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header-padres"}
{embed="includes/sidebar-padres"}
{embed="includes/header-movil-padres"} 

    <div class="site-content">
      <div class="container-fluid">
       <div class="row pb-21 msge-row">
         <div class="col-sm-0-5 hidden-xs"></div>
          <div class="col-sm-11 col-xs-12">
         {exp:channel:entries channel="avisos_dashboard" orderby="date" sort="desc" category="21" limit="3" disable="member_data" dynamic="off"}
          <div class="msge-container clearfix mb-14" style="background:#{color_de_fondo}!important; color:#{color_de_texto}!important;">
            
            <div class="col-xs-11 col-sm-11 col-sm-offset-0 msge-text" >
              <div class="col-xs-2 col-sm-1 p-14 ">
                <img class="img-center" src="{site_url}assets/img/bell_sm.png" alt="">
              </div>
              <div class="col-xs-10 col-sm-11 p-14">
                <span class="zizou-bold-16 ">{title}:&nbsp;</span><span class="helvetica-16">{mensaje_aviso_dashboard}</span>
              </div>
            </div>
            <div class="col-xs-1 col-sm-0-5 pull-right pt-3 pr-14">
              <div class="msge-row-x clickeable text-right helvetica-16">X
              </div>
            </div>
          </div>
         {/exp:channel:entries}   
         </div>
       </div>
       <div class="row">
        <div class="col-sm-0-5"></div>
        <div class="col-sm-4">
         <div class="panel">
          <div class="panel-head">
            <div class="panel-title">
              <h3>Su Horario</h3>
            </div>
            <a href="{site_url}sus-estudios/ciclo-actual-hijos/{segment_4}"><div class="panel-head-link danger"></div></a>
            <div class="panel-title-line"></div>
          </div>
          <div id="padre-horario">
            <div class="panel-body" id="cargador-padre-horario" style="height:100px; background-color:#fff">
            </div>
          </div>
         </div>
        </div>
       {exp:channel:entries channel="dashboard" limit="1" dynamic="off" url_title="padre"}
        {categories}
          {if {category_id} == "143"}
            <?php $category = '{category_id}'; ?>
          {/if}
        {/categories}
        {embed="includes/dashboard-accesos-rapidos-padres" cate="<?php echo($category) ?>"}
      {/exp:channel:entries}
        <div class="col-sm-4">
          <div class="panel">
            <div class="panel-head">
              <div class="panel-title">
                <h3>Sus Cursos</h3>
              </div>
              <a href="{site_url}sus-estudios/notas-detalladas-hijos/{segment_4}"><div class="panel-head-link danger"></div></a>
              <div class="panel-title-line"></div>
            </div>
            <div id="padre-cursos">
              <div class="panel-body" id="cargador-padre-cursos" style="height:100px; background-color:#fff">
              </div>
            </div>
          </div>
        </div>  
        <div class="col-sm-3">
          <!-- INICIO MIS PAGOS-->
          <div class="panel">
            <div class="panel-head">
              <div class="panel-title">
                <h3>Mis Pagos</h3>
              </div>
              <a href="{site_url}mis-finanzas-padres/mis-pagos-hijos/{segment_4}"><div class="panel-head-link danger"></div></a>
              <div class="panel-title-line"></div>
            </div>
            <div id="padre-pagos">
              <div class="panel-body" id="cargador-padre-pagos" style="height:100px; background-color:#fff">
              </div>
            </div>
          </div>
          <!-- FIN MIS PAGOS-->
          <!-- INICIO DE BOLSA DE TRABAJO -->
          <div class="panel noticias-widget pt-21">
            <div class="panel-head">
              <div class="panel-title">
                <h3>Comunicados</h3><h3>Recientes</h3>
              </div>
              <a target="_blank" href="http://www.upc.edu.pe/noticias"><div class="panel-head-link info"></div></a>
              <div class="panel-title-line"></div>
            </div>
            <div id="padre-noticias"> 
              <div class="panel-body" id="cargador-padre-noticias" style="height:100px; background-color:#fff">
              </div>
            </div> 
          </div>
          <!-- FIN DE BOLSA DE TRABAJO-->
        </div>
        </div>
      </div>
    </div>
{embed="includes/footer"}
<script src="{site_url}js/app/src/dashboard_ajax_padre.js.php?url='{site_url}'"></script>