{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header-padres"}
{embed="includes/sidebar_padres"} 

    <div class="site-content">
      <div class="row mensaje pb-21">

      </div>
     <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
       <div class="panel">
        <div class="panel-head">
          <div class="panel-head-left">
            <div class="panel-title">
              <h2>Su Horario</h2>
            </div>
          </div>
        </div>
        {embed="includes/dashboard-padre-suhorario" codigo_alumno="{segment_4}"}
        <!-- <div class="panel-body">
          <div class="panel-body-head-table">
            <ul class="tr">
              <li class="col-sm-2">
                <div class="fecha"><span>Hora</span></div>
              </li>
              <li class="col-sm-2">
                <div class=""><span>Campus</span></div>
              </li>
              <li class="col-sm-6">
                <div class=""><span>Curso</span></div>
              </li>
              <li class="col-sm-2">
                <div class=""><span>Salón</span></div>
              </li>
            </ul>
          </div>
          <div class="panel-table">
            <ul class="tr">
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>7am</span>
                </div>
              </li>
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>[MO]</span>
                </div>
              </li>
              <li class="col-sm-6 helvetica-12">
                <div>
                  <span>Procesos de manufactura y tecnología de materiales 2</span>
                </div>
              </li>
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>M-20</span>
                </div>
              </li>
            </ul>
            <ul class="tr">
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>7am</span>
                </div>
              </li>
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>[MO]</span>
                </div>
              </li>
              <li class="col-sm-6 helvetica-12">
                <div>
                  <span>Procesos de manufactura y tecnología de materiales 2</span>
                </div>
              </li>
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>M-20</span>
                </div>
              </li>
            </ul>
            <ul class="tr row-libre">
              <li class="col-sm-12 horario-hora">
                <div class="libre-row-content">
                
                </div>
              </li>
            </ul>
            <ul class="tr row-libre">
              <li class="col-sm-12 horario-hora">
                <div class="libre-row-content">

                </div>
              </li>
            </ul>
            <ul class="tr">
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>7am</span>
                </div>
              </li>
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>[MO]</span>
                </div>
              </li>
              <li class="col-sm-6 helvetica-12">
                <div>
                  <span>Procesos de manufactura y tecnología de materiales 2</span>
                </div>
              </li>
              <li class="col-sm-2 helvetica-bold-14">
                <div class="text-center">
                  <span>M-20</span>
                </div>
              </li>
            </ul>
          </div>
        </div> -->
       
       </div>
      </div>
      <div class="col-sm-4">
        <!-- <div class="panel">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Sus cursos</h2>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-8">
                  <div><span>Curso</span></div>
                </li>
                <li class="col-sm-2">
                  <div class=""><span>Faltas</span></div>
                </li>
                <li class="col-sm-2">
                  <div class=""><span>Promedio</span></div>
                </li>
              </ul>
            </div>  
            <div class="panel-table no-bg">
              <ul class="tr bg-muted">
                <li class="col-sm-8 helvetica-12 pb-0">
                  <div>
                    <span>Procesos de Manufactura y Tecnología de Materiales 2</span>
                  </div>
                </li>
                <li class="col-sm-2 helvetica-bold-14">
                  <div class="text-center">
                    <span>4/4</span>
                  </div>
                </li>
                <li class="col-sm-2 helvetica-bold-14">
                  <div class="text-center">
                    <span>15.35</span>
                  </div>
                </li>
              </ul>
              <ul class="tr bg-muted">
                <li class="col-sm-8 helvetica-12">
                  <div>
                    <span>Procesos de Manufactura y Tecnología de Materiales 2</span>
                  </div>
                </li>
                <li class="col-sm-2 helvetica-bold-14 curso-faltas">
                  <div class="text-center">
                    <span>4/4</span>
                  </div>
                </li>
                <li class="col-sm-2 helvetica-bold-14 curso-promedio">
                  <div class="text-center">
                    <span>15.35</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

        {embed="includes/dashboard-padre-suscursos" codigo_alumno="{segment_4}"}

        <!-- INICIO DE RESUMEN DE CICLO -->
        <div class="panel pt-28">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Resúmen del Ciclo</h2>
              </div>
            </div>
            <div class="panel-head-right pt-14">
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-6">
                  <div><span>Créditos Aprobados</span></div>
                </li>
                <li class="col-sm-6">
                  <div><span>Promedio Actual</span></div>
                </li>
              </ul>
            </div>
            <div class="panel-table pagos">
              <ul class="tr">
                <li class="col-sm-6 text-center">
                  <div class="helvetica-bold-20 pt-14 pb-14">
                    <span>18/22</span>
                  </div>
                </li>
                <li class="col-sm-6 text-center">
                  <div class="helvetica-bold-20 pt-14 pb-14">
                    <span>13.20</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-body">
            <div class="panel-body-head gray">
              <div><span>Orden de mérito</span></div>
            </div>
            <div class="panel-body-content">
              <div class="helvetica-bold-20 pt-14 pb-14">
                <span>132 de 194</span>
              </div>
            </div>
          </div>
        </div>
        <!-- FINAL DE RESUMEN DE CICLO -->
      </div>

      <div class="col-sm-3">
        <!--
        <div class="panel">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Mis Pagos</h2>
              </div>
            </div>
            <div class="panel-head-right pt-14">
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-12">
                  <div><span>Próxima boleta</span></div>
                </li>
              </ul>
            </div>
            <div class="panel-table pagos">
              <ul class="tr">
                <li class="col-sm-12 text-center solano-16">
                  <img src="{site_url}assets/img/pago_red.png" class="m-auto block">
                  <span class="block helvetica-16">S/.1958.20</span>
                  <span class="block helvetica-14">Vence el 24/02/2015</span>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        {embed="includes/dashboard-padre-mispagos" codigo_alumno="{segment_4}"}
        <!-- INICIO DE NOTICIAS -->
        {embed="includes/rss-vida-universitaria"}
        <!-- <div class="panel pt-21">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Noticias</h2>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-12">
                  <div><span>Lunes 14 de Octubre de 2014</span></div>
                </li>
              </ul>
            </div>
            <div class="panel-table">
              <ul class="tr">
                <li class="col-sm-12">
                  <div>
                    <p class="zizou-16">Gran concierto de aniversario por nuestros 20 años.</p>
                    <p class="helvetica-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget sapien vel massa. consectetur adipiscing elit. Proin eget sapien vel massa...</p>
                    <p class="keep-reading"><img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Seguir Leyendo</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- FIN DE NOTICIAS-->
        <!-- INICIO DE BOLSA DE TRABAJO -->
        {embed="includes/dashboard-bolsatrabajo"}
        <!-- <div class="panel pt-21">
          <div class="panel-head">
            <div class="panel-head-left">
              <div class="panel-title">
                <h2>Bolsa de Trabajo</h2>
              </div>
            </div>
            <div class="panel-head-right pt-14">
            </div>
          </div>
          <div class="panel-body">
            <div class="panel-body-head-table">
              <ul class="tr">
                <li class="col-sm-12">
                  <div><span>Comunicación y Marketing</span></div>
                </li>
              </ul>
            </div>
            <div class="panel-table bolsa-content">
              <ul class="tr">
                <li class="col-sm-12">
                  <div>
                    <p class="zizou-16">Gran concierto de aniversario por nuestros 20 años.</p>
                    <p class="helvetica-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eget sapien vel massa. consectetur adipiscing elit. Proin eget sapien vel massa...</p>
                    <p class="keep-reading"><img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Seguir Leyendo</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->
        <!-- FIN DE BOLSA DE TRABAJO-->
      </div>
      </div>
    </div>

{embed="includes/footer"}