{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/sidebar"}

    <div class="site-content">
      {exp:channel:entries 
      	channel="seccion" 
      	limit="1" 
      	disable="member_data|pagination"  
      	category="{segment_1_category_id}"
      }
      <div class="internal-header">
        <div class="row first-line">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span>Centro de Información</span></div>
        </div>
        <div class="row second-line pb-14">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span>{title}</span></div>
        </div>
      </div>  
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <span class="section-desc">{introduccion-seccion}</span> 
          </div>        
          
      {/exp:channel:entries}      
          <div class="col-sm-8 pt-0">
            <span class="title-no-panel mb-21">Últimas Noticias de la UPC</span>
            <div class="row">
	            {exp:ajw_feedparser 
						    url="http://betablogs.upc.edu.pe/blog/feed/8"
						    cache_refresh="30"
						    limit="10"
							} 
              <div class="col-sm-6">
                <div class="panel">
                  <div class="panel-body canales">
                    <div class="panel-body-head left tall">
                      <h3>{title}</h3>
                    </div>  
                    <div class="panel-table">
                      <ul class="tr zizou-light-13">
                        <p class="p-7 helvetica-14">{description}</p>
                        <p class="helvetica-bold-14 pl-7">{pubDate}</p>                
                        <p class="sb-link pl-7 zizou-14">
													<a class="col-xs-11 p-7" href="{link}" target="_blank">                        
	                        <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">Leer Nota Completa
	                        </a>
	                      </p>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {/exp:ajw_feedparser}
            </div>
          </div>
        </div>
      </div>
  </div>

{embed="includes/footer"}   