
{if segment_2 != 'reserva-espacios-deportivos'}
  {404-segment-last}
  {404-segment-2-category}
{if:else}
  {404-segment-2-only}
{/if}
{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

  {if segment_2 == 'reserva-espacios-deportivos'}
  <div class="site-content mis-reservas-reservar">
        <div class="container-fluid">
          {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" category="{segment_1_category_id}"}
          <div class="internal-header">
            <div class="row">
              <div class="col-md-0-5 hidden-xs hidden-sm"></div>
              <div class="col-md-4 p-xs-0"><span class="zizou-16">Mis Reservas</span></div>
            </div>
            <div class="row">
              <div class="col-md-0-5 hidden-xs hidden-sm"></div>
              <div class="col-md-4 p-xs-0"><span class="uppercase bold xl">Espacios Deportivos</span></div>
            </div>
          </div> 
          <div class="section-content pb-70">
            <div class="row">
              <div class="col-md-0-5 hidden-xs hidden-sm"></div>
              <div class="col-md-3-5 p-xs-0">
                <div class="panel pt-0 mt-xs-0">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Recursos Disponibles</h3>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="panel-body-content">
                      {embed="includes/formulario-disponibilidad"}
                    </div>
                  </div>
                </div>
                {embed="includes/otras-acciones-reservas-deportivos" otras_acciones="{otras-actividades-seccion}"}
                {categories}
                  <?php $category = '{category_id}'; ?>
                {/categories}
                {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
              </div>
          {/exp:channel:entries}
              <div class="col-md-8 p-xs-0">
                <div class="panel clearfix">
                  <div class="panel-head no-bg">
                    <div class="panel-title left">
                      <h3>Resultados</h3>
                    </div>
                  </div>
                  <div class="panel-body">
                  <div class="panel-table col-sm-12 col-md-12 mr-xs-7 p-14 pt-21 mb-14 text-left red-line col-xs-12">
                      <ul class="tr">
                        <li class="col-sm-2 col-xs-12">
                          <img src="{site_url}assets/img/reloj.png" class="img-center img-xs-left img-sm-left icon-clock">
                        </li>
                        <li class="col-sm-10 col-xs-12">
                          <span id="reglamento" class="block helvetica-18">
                          Completa el formulario para encontrar recursos disponibles.
                          <span class="helvetica-18">Las reservas pueden <span class="helvetica-bold-18">realizarse hasta 15 minutos antes del horario deseado</span> y con <span class="helvetica-bold-18">24 horas de anticipación.</span></span>  
                          </span>  
                        </li>
                      </ul>
                  </div>
                  </div>
                </div>
                {embed="includes/dashboard-accesos-rapidos-mobile" cate="<?php echo($category) ?>"}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
    {if:else}
       <div class="site-content">
      <div class="container-fluid">
        {exp:channel:entries 
          channel="seccion" 
          limit="1" 
          disable="member_data|pagination"  
          category="{segment_1_category_id}"
          limit="1"
        }
        <div class="internal-header">
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-4 col-xs-12"><span class="zizou-16">Mis Reservas</span></div>
          </div>
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-4"><span class="uppercase bold xl">{title}</span></div>
          </div>
        </div> 
        <div class="section-content pb-70">
          <div class="row">
            <div class="col-md-0-5 hidden-xs hidden-sm"></div>
            <div class="col-md-3 section-desc">
              <span>{introduccion-seccion}</span>
              {categories}
                <?php $category = '{category_id}'; ?>
              {/categories}
              {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
            </div>    
        {/exp:channel:entries}
            <div class="col-md-8">
              <span class="zizou-26">¿Qué deseas hacer?</span>
              <div class="row">
                {exp:channel:entries 
                  channel="referencias" 
                  orderby="screen_name|date" 
                  sort="asc|desc"
                  limit="100" 
                  disable="member_data|pagination" 
                  category="{segment_2_category_id}" 
                  dynamic="off"
                }
                <div class="col-md-6">
                  <div class="panel">
                    <div class="panel-body canales">
                      <div class="panel-body-head left tall">
                        <h3>{title}</h3>
                      </div>  
                      <div class="panel-table">
                        <ul class="tr">
                          <p class="p-14 helvetica-16">{intrudccion-referencia}</p>
                          {if fecha-referencia}
                          <p class="helvetica-bold-14 pl-7">
                          {fecha-referencia}, de {hora-referencia}, Aula {aula-referencia}
                          </p>
                          {/if}                 
                        </ul>
                      </div>
                      <div class="panel-footer">
                        {if archivo-referencia}
                        <a class="black-link pl-7 zizou-16" target="_blank" href="{archivo-referencia}">
                        <img class="pr-7" src="{site_url}assets/img/red_arrow_small.png"><span>{nombre-referencia}</span>
                        {if:elseif s3_link_de_archivo}
                          {exp:channel_files:files entry_id="{entry_id}" limit="1" orderby="upload_date" sort="desc" }
                            <a class="black-link pl-7 zizou-16" href="{file:url}">
                            <img class="pr-7" src="{site_url}assets/img/red_arrow_small.png"><span>{nombre-referencia}</span>
                         {/exp:channel_files:files}
                        {if:elseif link-referencia}
                          {if tipo-referencia=='Socrates'}
                          <a class="sb-link pl-7 zizou-16" target="_blank" href="{site_url}socrates/{url_title}">
                            <span class="ml-14 pl-7 pb-3 arrow-icon info borderless"></span><span>{nombre-referencia}</span>
                          {/if} 
                          {if tipo-referencia=='Externa'}
                          <a class="sb-link pl-7 zizou-16" target="_blank" href="{link-referencia}">
                            <span class="ml-14 pl-7 pb-3 arrow-icon info borderless"></span><span>{nombre-referencia}</span>
                          {/if} 
                          {if tipo-referencia=='Interna'}
                          <a class="black-link pl-7 zizou-16" href="{link-referencia}">
                          <img class="pr-7" src="{site_url}assets/img/red_arrow_small.png"><span>{nombre-referencia}</span>
                          {/if}                             
                        {/if}  
                        {if archivo-referencia OR s3_link_de_archivo}
                        </a>
                        {/if}  
                        {if link-referencia}
                        </a>
                        {/if} 

                      </div>
                    </div>
                  </div>
                </div>
                {/exp:channel:entries}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/if}
{embed="includes/footer"}   