{if segment_1_category_id == ''}
  {redirect="404"}
{/if}
{404-segment-2-only}
{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

    <div class="site-content mis-reservas-reservar">
      <div class="container-fluid">
      {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" category="segment_1_category_id"}
        <div class="internal-header">
          <div class="row">
            <div class="col-sm-0-5 hidden-sm"></div>
            <div class="col-sm-4"><span class="zizou-16">Mis Reservas</span></div>
          </div>
          <div class="row">
            <div class="col-sm-0-5 hidden-sm"></div>
            <div class="col-sm-4"><span class="uppercase bold xl">Cubículos</span></div>
          </div>
        </div> 
        <div class="section-content">
          <div class="row">
            <div class="col-md-0-5"></div>
            <div class="col-md-3-5">
              <div class="panel pt-0">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Recursos Disponibles</h3>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-body-content">
                    {embed="includes/formulario-disponibilidad-cubiculos"}
                  </div>
                </div>
              </div>
              {embed="includes/otras-acciones-reservas-cubiculos"}
            </div>
        {/exp:channel:entries}      
            <div class="col-md-8">
              <div class="panel">
                <div class="panel-head no-bg">
                  <div class="panel-title left">
                    <h3>Resultados</h3>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="panel-table p-14 pt-21 text-left red-line">
                    <ul class="tr">
                      <li class="col-xs-3 col-sm-2">
                        <img src="{site_url}assets/img/reloj.png" class="img-center">
                      </li>
                      <li class="col-xs-9 col-sm-10">
                        <span class="block helvetica-18">Completa el formulario para encontrar recursos disponibles.</span>  
                        <span class="helvetica-18">Las reservas pueden <span class="helvetica-bold-18">realizarse hasta 15 minutos antes del horario deseado</span> y con <span class="helvetica-bold-18">24 horas de anticipación.</span></span>  
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-5 section-desc">
              {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" category="segment_1_category_id"}
                {categories}
                  <?php $category = '{category_id}'; ?>
                {/categories}
              {embed="includes/dashboard-accesos-rapidos" cate="<?php echo($category) ?>"}
              {/exp:channel:entries} 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
{embed="includes/footer"}   