{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

    <div class="site-content mis-reservas-reservar">
      {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" category="{segment_1_category_id}"}
      <div class="internal-header">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="zizou-16">Mis Reservas</span></div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span class="uppercase bold xl">Espacios Deportivos</span></div>
        </div>
      </div>   
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <div class="panel pt-0">
              <div class="panel-head no-bg">
                <div class="panel-title left">
                  <h3>Disponibilidad de Recursos</h3>
                </div>
              </div>
              <div class="panel-body">
                <div class="panel-body-content">
                  {embed="includes/formulario-disponibilidad"}
                </div>
              </div>
            </div>
          </div>
      {/exp:channel:entries}      
          <div class="col-sm-8 pt-0">
            <div class="panel pt-0">
              <div class="panel-head no-bg">
                <div class="panel-title left">
                  <h3>Resultados</h3>
                  {if post:Flag!=1}
                  	{embed="includes/datos-busqueda" coded="{post:CodED}" codsede="{post:CodSede}" tipo="buscando"}
                  {/if}	
                </div>
              </div>
              <div class="panel-body">
                {if post:Flag!=1}
                
									{exp:webservices:disponibilidad_espacios_deportivos 
										codsede="{post:CodSede}" 
										coded="{post:CodED}" 
										codactiv="{post:CodActiv}"
										numhoras="{post:NumHoras}" 
										fechaini="{post:FechaIni}" 
										fechafin="{post:FechaFin}"
										segmento="{segment_1}"
									}
								
								{if:else}
									<div class="mt-70">
										{embed="includes/datos-busqueda" coded="{post:CodED}" codsede="{post:CodSede}" tipo="buscando"}
									</div>
									{exp:webservices:reserva_espacios_deportivos 
										codsede="{post:CodSede}" 
										coded="{post:CodED}" 
										codactiv="{post:CodActiv}"
										numhoras="{post:NumHoras}" 
										fecha="{post:Fecha}" 
										horaini="{post:HoraIni}"
										horafin="{post:HoraFin}"
										detalles="{post:Detalles}"
									}
								{/if}
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>  
{embed="includes/footer"}   