{if segment_1_category_id == ''}
  {redirect="404"}
{/if}
{404-segment-2-only}
{embed="includes/head"}
{exp:webservices:iniciar_session}
  
{embed="includes/header"}
{embed="includes/header_movil"}
{embed="includes/sidebar"}

    <div class="site-content mis-reservas-reservar">
    	<div class="container-fluid">
	      {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" category="{segment_1_category_id}"}
	      <div class="internal-header">
	        <div class="row">
	          <div class="col-sm-0-5"></div>
	          <div class="col-sm-4"><span class="zizou-16">Mis Reservas</span></div>
	        </div>
	        <div class="row">
	          <div class="col-sm-0-5"></div>
	          <div class="col-sm-4"><span class="uppercase bold xl">{title}</span></div>
	        </div
	      <div class="section-content pb-70">
	        <div class="row">
	          <div class="col-sm-0-5"></div>
	          <div class="col-sm-3-5">
	            <span class="section-desc">{introduccion-seccion}</span>
	          </div>
	      {/exp:channel:entries}      
	          <div class="col-sm-8">
	            <div class="panel curso-detalle pt-0">
	              <div class="panel-head">
	                <div class="panel-head-left">
	                  <div class="panel-title">
	                    <h3>Disponibilidad de Recursos</h3>
	                  </div>
	                </div>
	              </div>
				        <div class="panel-body">
					        <div class="panel-body-head left">
					          <ul class="tr">
					            <span>CUBÍCULOS Y COMPUTADORAS</span>
					          </ul>
					        </div>
					        <div class="panel-body-content">
						        <div class="row ml-7">
							        {embed="includes/formulario-recursos-disponibles"}
							        <div class="col-sm-6 disponibilidad">
						              <div class="panel-body">
						                <div class="panel-body-head-table white">
						                  <ul class="tr">
						                  	<li class="col-xs-1"></li>
						                    <li class="col-xs-3">
						                      <div class=""><span>Recurso</span></div>
						                    </li>
						                    <li class="col-xs-4">
						                      <div class=""><span>Sede</span></div>
						                    </li>
						                    <li class="col-xs-3"></li>	
						                  </ul>
						                </div>  
						                <div class="panel-table p-14 pt-21 text-left red-line">
					                      <ul class="tr">
					                        <li class="col-sm-2 col-xs-12">
					                          <img src="{site_url}assets/img/reloj.png" class="img-center img-xs-left">
					                        </li>
					                        <li class="col-sm-10 col-xs-12">
					                          <span id="reglamento" class="block helvetica-18">
					                          Completa el formulario para encontrar recursos disponibles.
					                          <span class="helvetica-18">Las reservas pueden <span class="helvetica-bold-18">realizarse hasta 15 minutos antes del horario deseado</span> y con <span class="helvetica-bold-18">24 horas de anticipación.</span></span>  
					                          </span>  
					                        </li>
					                      </ul>
					                    </div>
						                <div class="panel-table" >
							                {if post:Flag!='1'}
							                	{exp:webservices:listado_recursos_disponibles 
															  	CodSede = '{post:CodSede}'
															  	TipoRecurso='{post:TipoRecurso}'
														      FecIni='{post:FecIni}'
														      FechaFin='{post:FechaFin}'
														      HoraIni='{post:HoraIni}'
														      HoraFin='{post:HoraFin}'
														      CanHoras='{post:CanHoras}'
														      segmento='{segment_1}'
								                }	
							                {if:else}
								                {exp:webservices:reserva_recursos 
															  	CodRecurso='{post:CodRecurso}'
														      NomRecurso='{post:NomRecurso}'
														      FecIni='{post:FecIni}'
														      HoraIni='{post:HoraIni}'
														      FechaFin='{post:FechaFin}'
														      HoraFin='{post:HoraFin}'
														      CanHoras='{post:CanHoras}'
								                }                
							                {/if}					                
						                </div>
						              </div>
							        </div>	
						        </div>
					        </div>
				        </div>
	            </div>
	          </div>
	        </div>
	      </div>
      </div>
  </div>  
{embed="includes/footer"}   