{embed="includes/head"}
{exp:webservices:iniciar_session}
{exp:webservices:verificar_usuario}
{embed="includes/header"}
{embed="includes/sidebar"}

    <div class="site-content mis-reservas-reservar">
      {exp:channel:entries channel="seccion" limit="1" disable="member_data|pagination" category="{segment_1_category_id}"}
      <div class="internal-header">
        <div class="row first-line">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span>Resultados disponibilidad espacios deportivos</span></div>
        </div>
        <div class="row second-line pb-14">
          <div class="col-sm-1"></div>
          <div class="col-sm-4"><span>{title}</span></div>
        </div>
      </div>  
      <div class="section-content pb-70">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-3">
            <span class="section-desc">{introduccion-seccion}</span>
          </div>
      {/exp:channel:entries}      
          <div class="col-sm-8 pt-0">
            <div class="panel">
              <div class="panel-head">
                <div class="panel-head-left">
                  <div class="panel-title">
                    <h2>Reservar ahora: Disponibilidad de Espacios</h2>
                    {if post:Flag!=1}
                    	{embed="includes/datos-busqueda" coded="{post:CodED}" codsede="{post:CodSede}" tipo="buscando"}
                    {/if}	
                  </div>
                </div>
              </div>
              <div class="panel-body">
  			        <div class="panel-body-content">
  				        <div class="row ml-7">
  					        {embed="includes/formulario-disponibilidad"}
                    <div class="col-sm-6">
                      <div class="panel">
                        <div class="panel-body-head">
                          <span class="solano-20">RESULTADO DE LA BÚSQUEDA</span>              
                        </div>
                        
                        {if post:Flag!=1}
                        
	      									{exp:webservices:disponibilidad_espacios_deportivos 
	      										codsede="{post:CodSede}" 
	      										coded="{post:CodED}" 
	      										codactiv="{post:CodActiv}"
	      										numhoras="{post:NumHoras}" 
	      										fechaini="{post:FechaIni}" 
	      										fechafin="{post:FechaFin}"
	      										segmento="{segment_1}"
	      									}
      									
      									{if:else}
      										<div class="mt-70">
	      										{embed="includes/datos-busqueda" coded="{post:CodED}" codsede="{post:CodSede}" tipo="buscando"}
      										</div>
	      									{exp:webservices:reserva_espacios_deportivos 
	      										codsede="{post:CodSede}" 
	      										coded="{post:CodED}" 
	      										codactiv="{post:CodActiv}"
	      										numhoras="{post:NumHoras}" 
	      										fecha="{post:Fecha}" 
	      										horaini="{post:HoraIni}"
	      										horafin="{post:HoraFin}"
	      										detalles="{post:Detalles}"
	      									}
      									{/if}
                      </div>
                    </div>
  				        </div>
  			        </div>
              </div>
            </div>	          
            <div class="ml-7"><span class="title-no-panel">¿Qué deseas hacer?</span></div>
            <div class="row ml--14">
	            {exp:channel:entries 
	            	channel="referencias" 
	            	limit="10" 
	            	disable="member_data|pagination" 
	            	category="52" 
	            	dynamic="off"
	            }
              <div class="col-sm-6">
                <div class="panel">
                  <div class="panel-body canales">
                    <div class="panel-body-head left tall">
                      <h3>{title}</h3>
                    </div>  
                    <div class="panel-table">
                      <ul class="tr zizou-light-13">
                        <p class="p-7 helvetica-14">{intrudccion-referencia}</p>
                        {if fecha-referencia}
                        <p class="helvetica-bold-14 pl-7">
                        {fecha-referencia}, de {hora-referencia}, Aula {aula-referencia}
                        </p>
                        {/if}                 
													{if archivo-referencia}
	                        <a class="sb-link pl-7 zizou-14" target="_blank" href="{archivo-referencia}">
		                      {/if}  
													{if link-referencia}
														{if tipo-referencia=='Socrates'}
														<a class="sb-link pl-7 zizou-14" target="_blank" href="{site_url}socrates/{url_title}">
														{/if}	
														{if tipo-referencia=='Externa'}
														<a class="sb-link pl-7 zizou-14" target="_blank" href="{link-referencia}">
														{/if}		
		                      {/if}  		                       	                        
	                        <img class="pr-7" src="{site_url}assets/img/skyblue_arrow.png">{nombre-referencia}
	                      	{if archivo-referencia}
	                        </a>
		                      {/if}  
													{if link-referencia}
	                        </a>
		                      {/if} 
	                      </p>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              {/exp:channel:entries}
            </div>
          </div>
        </div>
      </div>
  </div>  
{embed="includes/footer"}   